{#
	Variables:
		- vcard_default_version: Default version of the card to download
#}
{% set main_class = 'dl-vcard' %}
{% set vcard_versions = { 21: '2.1', 30: '3.0', 40: '4.0'} %}
<form id="{{ main_class }}__form" class="article-section__widget {{ main_class }}" action="" method="">
	{% set fieldname = 'dlv-submit' %}
	<button
		type="submit"
		name="{{ fieldname }}"
		value="T&eacute;l&eacute;charger ma carte"
		class="{{ main_class }}__submit btn btn-primary"
	>
		<a
			id="{{ fieldname }}__dl-link"
			class="{{ main_class }}__dl-link"
			href="#"
			download="Romain_Ducher.vcf"
		>
			T&eacute;l&eacute;charger ma carte
		</a>
	</button>

	<div class="{{ main_class }}__versions">
		{% set fieldname = 'dlv-version' %}
		<label for="{{ fieldname }}" class="{{ main_class }}__vlabel">version de la norme vCard :</label>
		<select id="{{ fieldname }}__select" name="{{ fieldname }}" class="{{ main_class }}__vselect">
			{% for ver, label in vcard_versions %}
			<option
				value="{{ ver }}"
				class="{{ main_class }}__version"
				{% if ver is same as(vcard_default_version) %}selected{% endif %}
			>
				v. {{ label }}
			</option>
			{% endfor %}
		</select>
	</div>
</form>
