{#
	Variables:
		- root_id: Root ID.
		- title: Section title, in raw HTML.
		- description: Section description, in raw HTML.
		- section_link: URL to go when you click on the section
		- other_classes: Other CSS classes for root element.
#}
{% set root_id = root_id ?? '' %}
{% set root_class = 'home-section' %}
{% set root_classes = [ root_class ]|merge(other_classes) %}
<a
	{% if root_id is not empty %}id="{{ root_id }}"{% endif %}
	class="{{ root_classes|join(' ') }}"
	href="{{ section_link }}"
>
	<div class="{{ root_class }}__text">
		<h2 class="{{ root_class }}__title page-title">{{ title|raw }}</h2>
		<p class="{{ root_class }}__description">{{ description|raw }}</p>
	</div>
</a>
