@use '../components/it-project';
@use '../utils/utils';

.efolio-section {
	&__projects {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(utils.$itproject-wbasis, auto));
		gap: utils.$unit-margin;
		place-items: stretch;

		// eFolio's project cards will be larger than the page without this.
		@media (max-width: #{ utils.$itproject-wbasis + 2* utils.$main-content-padding }) {
			grid-template-columns: 1fr;
		}
	}
}
