// Footer structure
// Styles related to footer compoenents are written in their own stylesheets.
@use '../utils/utils';
@use '../components/footer/footer';

// Grid area data
$_ga-data: (
	icon: (
		name: 'logo',
		stick-top: false
	),
	menu: (
		name: 'menu',
		stick-top: true
	),
	social: (
		name: 'soci',
		stick-top: true
	),
	contact: (
		name: 'cont',
		stick-top: true
	),
	certification: (
		name: 'cert',
		stick-top: false
	),
	copyright: (
		name: 'crgt',
		stick-top: false
	)
);

@function _ga-name($comp) {
	@if not map-has-key($_ga-data, $comp) {
		@return '.';
	}
	@else {
		@return map-get(map-get($_ga-data, $comp), 'name');
	}
}

@function _ga-stick-top($comp) {
	@if not map-has-key($_ga-data, $comp) {
		@return false;
	}
	@else {
		@return map-get(map-get($_ga-data, $comp), 'stick-top');
	}
}

// Mixin to make footer components stick at the top of their grid areas
@mixin _stick-top-large {
	@include utils.not-for-small-screens {
		align-self: start;
	}
}

// Style
.footer {
	@extend %page-bound;

	display: grid;
	place-items: center center;

	@include utils.small-screens-only {
		grid-template-areas: _ga-name('icon')
		                     _ga-name('menu')
							 _ga-name('social')
							 _ga-name('contact')
							 _ga-name('certification')
							 _ga-name('copyright');
	}

	@include utils.not-for-small-screens {
		grid-template: "#{_ga-name('')             } #{_ga-name('icon')         } #{_ga-name('')             }"
		               "#{_ga-name('menu')         } #{_ga-name('social')       } #{_ga-name('contact')      }"
		               "#{_ga-name('certification')} #{_ga-name('certification')} #{_ga-name('certification')}"
					   "#{_ga-name('copyright')    } #{_ga-name('copyright')    } #{_ga-name('copyright')    }" /
					    1fr                          1fr                          1fr;
	}

	> * {
		padding: 2* utils.$unit-margin;
		margin: 0px;
	}

	@each $component in map-keys($_ga-data) {
		&__#{$component} {
			grid-area: unquote(_ga-name($component));
			@if _ga-stick-top($component) {
				@include _stick-top-large;
			}
		}
	}
}
