// Style related to the layouts/default template.
@use '../base/reset';
@use '../utils/utils';
@use 'header';
@use 'footer';

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;

	// Main content on full width (and height)
	> .main-content {
		flex-grow: 1;
		align-self: center;
		width: 100%;
	}
}

#content {
	padding: utils.$main-content-padding;
}
