@use '../components/scrollspy';
@use '../utils/utils';

$_index-area: me;
$_content-index: about;

.main-content {
	display: grid;

	@include utils.large-screens-only {
		grid-template: '#{$_index-area} #{$_content-index} .' / 1fr #{utils.$article-width} 1fr;
	}
	@include utils.medium-screens-only {
		grid-template: '#{$_index-area} #{$_content-index} .' / 2fr #{utils.$article-width} 1fr;
	}
	@include utils.small-screens-only {
		grid-template: '#{$_content-index}' / 1fr;
	}

	> .spy-menu {
		grid-area: $_index-area;
		justify-self: center;
		align-self: start;

		// Sticky menu
		position: sticky;
		@include utils.viewport-vcenter;

		@include utils.small-screens-only {
			display: none;
		}
	}

	> .blabla {
		grid-area: $_content-index;
		justify-self: stretch;
		align-self: stretch;
		width: unset;
	}
}
