@use '../components/p40x';

.p404 {
	display: flex;
	flex-direction: column;
	align-items: center;

	&__pages {
		display: flex;
		justify-content: space-evenly;
		align-items: baseline;
		flex-direction: row;
		width: 100%;
	}

	&__caption {
		text-align: center;
	}
}
