@use '../../utils/utils';

$dlv-button-bg-color: goldenrod;
$dlv-button-color: black;
$dlv-button-font-weight: bold;

.dl-vcard {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: baseline;
	@include utils.not-for-small-screens {
		@include utils.flexbox-gap(utils.$unit-margin, column);
	}

	padding: 0px;

	&__submit {
		@include utils.customize-btn-color(
			$btn-bs-class: '.btn-primary',
			$btn-bg-color: $dlv-button-bg-color,
			$btn-color: $dlv-button-color
		);

		@include utils.small-screens-only {
			width: 100%;
		}

		font: {
			size: utils.$big-btn-size;
			weight: $dlv-button-font-weight;
		}
	}

	&__dl-link {
		color: inherit;

		&:visited, &:hover {
			color: inherit;
			text-decoration: inherit;
			background-color: inherit;
		}
	}

	&__versions {
		padding: {
			top: utils.$unit-margin;
			bottom: utils.$unit-margin;
		}

		> * {
			display: inline;
		}

		font-size: utils.$smaller-size;
		
		@include utils.bracket;
	}
}
