$_fc-text-color: white;
$_fc-underline: underline;
$_fc-margin: 1ch;

@mixin _footer-contact($label) {
	&::before {
		content: "#{$label} :";
		color: $_fc-text-color;
		text-decoration: $_fc-underline;
		margin-right: $_fc-margin;
	}

	.nav-link {
		display: inline-block;
	}
}

.footer__contact {
	.nav {
		// Column menu
		flex-direction: column;
	}

	.mail-contact {
		@include _footer-contact('Courriel');
	}

	.skype-contact {
		@include _footer-contact('Skype');
	}
}
