@use '../../utils/utils';

.footer__menu {
	> * {
		@include utils.margin-hcenter;
	}

	.nav {
		@include utils.override-page-bound(
			$main-text-color: map_get(utils.$page-bounds, 'light-text-color'),
			$hover-color: map_get(utils.$page-bounds, 'light-hover-color'),
			$disabled-color: map_get(utils.$page-bounds, 'light-disabled-color')
		);

		// Column menu
		flex-direction: column;

		&-link {
			padding: {
				top: 5px;
				bottom: 5px;
				left: 0px;
				right: 0px;
			}
		}
	}
}
