@use '../../utils/utils';
@use '../rating-star';

$_padding-body: 2.5* utils.$unit-margin;
$_star-content: '\2605';
$_star-size: 1.3rem;
$_handle-color: gold;
$_tick-color: darkslategray;

// No background at all for slider handles & ticks
@mixin _nobg {
	box-shadow: none;
	background: transparent none;
	border: unset;
}

// Same customization for handles & ticks
@mixin _handletick-custom($star-color, $star-size: $_star-size) {
	@include _nobg;

	&::before {
		@include rating-star.rating-star(
			$star-color: $star-color,
			$star-size: $star-size
		);
		content: $_star-content;
	}
}

.skill-rate-slider {
	&__header {
		text-align: center;
	}

	&__title {
		margin: 0px;
	}

	&__body {
		padding: $_padding-body;

		// Slider customization
		&#skrate__slider-room {
			.slider-selection {
				background: utils.$skfilter-selection-color;
			}

			.slider-handle.custom {
				@include _handletick-custom($star-color: $_handle-color);
			}

			.slider-tick.custom {
				@include _handletick-custom($star-color: $_tick-color);
			}
		}
	}
}
