@use "../../utils/utils";
@use "../../components/tags-room";
@use "../../components/skills/skill-rate-slider";

$_skf-bg: gainsboro;
$_skf-name-rowgap: utils.$unit-margin;
$_skf-name-colgap: utils.$unit-margin;
$_form-display: flex;
$_fields-gap: 2* utils.$unit-margin;
$_reset-bg-color: darkslategray;

.skfilter {
	background-color: $_skf-bg;

	display: grid;
	grid-template: {
		rows: auto 1fr;
		columns: 1fr auto;
	}
	align-items: baseline;

	> * {
		padding: utils.$unit-margin;
	}

	&__title {
		text-align: center;
		grid-row: 1/2;
		grid-column-start: 1;
		margin: 0px;

		@include utils.large-screens-only {
			grid-column-end: 3;
		}

		@include utils.not-for-large-screens {
			grid-column-end: 2;
		}
	}

	&__toggle {
		@include utils.large-screens-only {
			display: none;
		}

		@include utils.not-for-large-screens {
			grid-area: 1/2 / 2/3;
		}
	}

	&__form {
		overflow-y: auto;
		grid-area: 2/1 / 3/3;

		display: $_form-display;
		flex-direction: column;
		justify-content: flex-start;
		@include utils.flexbox-gap($_fields-gap);

		// Force display on big screens
		@include utils.large-screens-only {
			display: $_form-display !important;
		}

	}

	&__name {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		@include utils.flexbox-gap($_skf-name-colgap, column);

		> label {
			flex: {
				grow: 0;
				shrink: 0;
			}
			margin: 0px;
		}

		> input {
			flex: {
				grow: 1;
				shrink: 1;
			}
		}
	}

	&__used-there {
		@include utils.customize-checkbox-color(utils.$used-skill-color);
	}

	&__buttons {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-self: stretch;
		@include utils.flexbox-gap($_skf-name-rowgap, column);
		margin-bottom: 0px;

		> * {
			flex-grow: 1;
		}
	}

	&__submit {
		@include utils.customize-btn-color('.btn-primary', utils.$skfilter-selection-color);
	}

	&__reset {
		@include utils.customize-btn-color('.btn-secondary', $_reset-bg-color);
	}
}
