@use 'skill';
@use '../../utils/utils';

$_min-skill-width: 175px;

.skills__room {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax($_min-skill-width, auto));
	grid-auto-rows: min-content;
	height: initial;
}
