@use '../rating-star';
@use '../../utils/utils';
@use '../../base/base';

// Skill animation should be the same than timeline's.
$_sfi-duration: 1s;
$_sfi-fill-mode: both;
$_sfi-opacity: 0;

// Skill style
.skill {
	padding: utils.$unit-margin;

	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: baseline;
	
	&__name {
		margin: 0px;
		flex-grow: 1;
		text-align: unset;
	}

	&--used_there {
		color: utils.$used-skill-color;
	}

	// Animation for small screens only
	@include utils.small-screens-only {
		&--animated {
			animation-duration: $_sfi-duration;
			animation-fill-mode:  $_sfi-fill-mode;
			opacity: $_sfi-opacity;
		}

		&--fade-in {
			animation-name: base.$fade-in-animation-name;
		}
	}
}
