{#
	Variables:
		- software_advices: List of software advices to display.
			- Cf. components/soft-advice/software-advice.twig.html for further
			  details about software advices.
		- oslist: List of OSes, for display purposes.
		- other_classes: Other classes for root element.
#}

{% set root_class = 'advices-room' %}
{% set software_advices = software_advices ?? [] %}

{% if softwares is empty %}
	{% set empty_classes = [ '%s--empty'|format(root_class), 'article-section__p']|merge(other_classes) %}
	<p class="{{ empty_classes|join(' ') }}">
		Je n'ai rien &agrave; recommander dans cette cat&eacute;gorie finalement.
	</p>
{% else %}
	{% set root_classes = [ root_class, 'article-section__widget']|merge(other_classes) %}
	<div class="{{ root_classes|join(' ') }}">
		{% for advice in software_advices %}
			{{ include('components/soft-advices/software-advice.twig.html', {
				advice: advice,
				oslist: oslist,
				other_classes: [ '%s__advice'|format(root_class) ]
			}) }}
		{% endfor %}
	</div>
{% endif %}

