{#
	Variables:
		- advices: List of software advices to display.
			- Please have a look to components/soft-advices/software-advice.twig.html
			  for details regarding to a software advice.
		- oslist: List of OSes, for display purposes.
		- scatlist: List of software categories, for display purposes.
		- otherscat: "Other" softwatre category tag.
		- otherscat_label: Label for otherscat.
		- noscat: "No categories" softwatre category tag.
		- noscat_label: Label for noscat.
		- other_classes: Other classes for root sections.
#}

{# Sorting advices, just like skill tags in components/tags-room.twig.html #}
{% set soft_sections = {} %}
{% if otherscat not in scatlist|keys %}
{% 		set scatlist = scatlist|merge({ (otherscat): otherscat_label }) %}
{% endif %}
{% if noscat not in scatlist|keys %}
{% 		set scatlist = scatlist|merge({ (noscat): noscat_label }) %}
{% endif %}
{% for scatag in scatlist|keys %}
{% 		set soft_sections = soft_sections|merge({ (scatag) : [] }) %}
{% endfor %}
{% for advice in advices %}
{%    	set scatagz = advice.scatags ?? [] %}
{%    	if scatagz is empty %}
{% 			set realtag = noscat %}
{% 			set no_adv = realtag in soft_sections|keys ? soft_sections[realtag] : [] %}
{% 			set no_adv = no_adv|merge([advice]) %}
{% 			set soft_sections = soft_sections|merge({ (realtag) : no_adv }) %}
{%    	else %}
{%    		for scatag in scatagz %}
{% 				set realtag = scatag in scatlist|keys ? (scatag) : (otherscat) %}
{% 				set other_adv = realtag in soft_sections|keys ? soft_sections[realtag] : [] %}
{% 				set other_adv = other_adv|merge([advice]) %}
{% 				set soft_sections = soft_sections|merge({ (realtag) : other_adv }) %}
{%    		endfor %}
{%    	endif %}
{% endfor %}

{# Classes #}
{% set root_class = 'advice-section' %}
{% set root_class_room = '%s__room'|format(root_class) %}

{# Displaying advices, just like my profiles in octopus page. #}
{% if soft_sections is empty %}
	{% set empty_classes = [ '%s--empty'|format(root_class), 'article-section' ]|merge(other_classes) %}
	<section class="{{ empty_classes|join(' ') }}">
		<h2 class="{{ root_class }}__cat-title article-section__title">Rien</h2>
		<p class="{{ root_class_room }}--empty article-section__p">
			Je n'ai rien &agrave; recommander finalement.
		</p>
	</section>
{% else %}
	{% for scatag, softwares in soft_sections %}
		{% set base_class = softwares is empty ? '%s--empty'|format(root_class) : root_class %}
		{% set root_classes = [ base_class, 'article-section' ]|merge(other_classes) %}
		<section class="{{ root_classes|join(' ') }}" data-scat="{{ scatag }}">
			<h2 class="{{ root_class }}__cat-title article-section__title">{{ scatlist[scatag]|raw }}</h2>
			{{ include('components/soft-advices/advices-room.twig.html', {
				software_advices: softwares,
				oslist: oslist,
				other_classes: [ root_class_room ]
			}) }}
		</section>
	{% endfor %}
{% endif %}

