{#
	Variables:
		- ostags: Tags to filter software advices by operating system.
		- oslist: List of OSes, for display purposes.
		- other_classes: Other classes for root element.
#}
{% set root_class = 'fa-form' %}
{% set form_class = '%s__form'|format(root_class) %}
{% set root_classes = [ root_class ]|merge(other_classes) %}
{% set ostags = ostags ?? [] %}

{% if ostags is not empty %}
<div class="{{ root_classes|join(' ') }}">
	<h5 class="{{ root_class }}__title">
		Filtrer par plateforme o&ugrave; c'est recommand&eacute;
	</h5>
	<button class="{{ root_class }}__toggle btn" data-toggle="collapse" data-target="#{{ form_class }}">
		Voir/cacher
	</button>
	<form id="{{ form_class }}" class="{{ form_class }}">
		<div class="{{ root_class }}__platforms">
			{% set fieldname = "fafplat" %}
			{% for ostag in ostags %}
				{% set os = oslist[ostag] %}
				{% set cbid = "%s-%s"|format(fieldname, ostag) %}
				<div class="{{ root_class }}__platform-control custom-control">
					<input
						type="checkbox"
						name="{{ fieldname }}"
						value="{{ ostag }}"
						id="{{ cbid }}"
						class="custom-control-input"
					/>
					<label for="{{ cbid }}" class="custom-control-label">{{ os|raw }}</label>
				</div>
			{% endfor %}
		</div>
		
		<div class="{{ root_class }}__buttons form-group">
			{% set fieldname = "fafsub" %}
			<input
				type="submit"
				name="{{ fieldname }}"
				value="Filtrer"
				class="{{ root_class }}__submit btn btn-primary"
			/>
			{% set fieldname = "fafres" %}
			<input
				type="reset"
				name="{{ fieldname }}"
				value="R&eacute;initialiser"
				class="{{ root_class }}__reset btn btn-secondary"
			/>
		</div>
	</form>
</div>
{% endif %}
