{#
	Variable:
		- advice: The software advice to display.
			- A software advice is an object with the following fields:
				- name: Software name.
				- advice_id: a tag to identify the software advice.
				- url: An URL to retrieve the software.
				- why: A short description about why I use and recommend it.
				- logo: Software logo.
					- It is an object with 2 fields:
						- url: Logo URL.
						- need_dark: Boolean indicationg whetther the logo needs
						  a dark background to be shown.
				- scatags: Sofware category tags that software's categories belongs to.
					- Unused there, unlike advice room.
				- ostags: OS tags indicating OSes where the software is recommended
				  (and often recommended too).
				- oses: OS tags indicating on which OSes the software is available.
			- They looks like IT projects a lot.
				- Cf. components/it-project.twig.html for further details.
		- oslist: List of OSes, for display purposes.
		- other_classes: Other classes for root element.
#}

{% set sname = advice.name ?? '' %}
{% set logo = {
	url: advice.logo.url ?? '',
	need_dark: advice.logo.need_dark ?? false
} %}
{% set aid = advice.advice_id ?? '' %}
{% set url = advice.url ?? '' %}
{% set why = advice.why ?? '' %}
{% set ostags = advice.ostags ?? [] %}
{% set available_oses = advice.oses ?? [] %}

{% set root_class = 'soft-advice' %}
{% set root_available_class = '%s__available'|format(root_class) %}
{% set root_classes = [ root_class, 'card' ]|merge(other_classes) %}
<div
	class="{{ root_classes|join(' ') }}"
	data-software="{{ aid }}"
	data-oses="{{ ostags|join(' ') }}"
>
	{% if sname is not empty %}
		<div class="card-header {{ root_class }}__header">
			<h4 class="card-title {{ root_class }}__title">{{ sname|raw }}</h4>
		</div>
	{% endif %}

	{% if logo.url is not empty %}
		{% set logo_classes = [ '%s__logo'|format(root_class), 'card-img-top' ] %}
		{% if logo.need_dark %}
			{% set logo_classes = logo_classes|merge([ '%s__light-logo'|format(root_class) ]) %}
		{% endif %}
		<img class="{{ logo_classes|join(' ') }}" src="{{ logo.url }}"/>
	{% endif %}

	<div class="card-body {{ root_class }}__body">
		{% if url is not empty %}
			{# TODO: url-intro: " :" en ::after ? #}
			<p class="{{ root_class }}__url">
				<span class="{{ root_class }}__url-intro">
					<span class="underline">Lien</span>&nbsp;:
				</span>
				<span class="{{ root_class }}__url-single-link">
					&nbsp;<a href="{{ url }}" class="{{ root_class }}__url-link">{{ url }}</a>.
				</span>
			</p>
		{% endif %}

		{% if why is not empty %}
			<p class="{{ root_class }}__why">{{ why|raw }}</p>
		{% endif %}

		{% if available_oses is empty %}
			<p class="{{ root_available_class }}--empty">Disponible nulle part.</p>
		{% else %}
			<p class="{{ root_available_class }}">
				<span class="underline">Disponible sur</span> :
				{{ available_oses|map(ostag => oslist[ostag] ?? 'ailleurs')|join(', ') }}.
			</p>
		{% endif %}
	</div>
</div>
