@use '../utils/utils';

// El chapo
.chapo {
	font-style: italic;
	padding: 0px;
}

.page-title {
	text-align: center;
	font-size: map-get(utils.$title-sizes, 'big');

	@include utils.small-screens-only {
		font-size: map-get(utils.$title-sizes, 'small');
	}
}

.underline {
	text-decoration: underline;
}

.o-opera {
	color: red;
	font-weight: bold;
}
