@forward 'page-classes';
@use 'fonts/fonts';
@use '../utils/utils';

* {
	font-family: fonts.$fonts;
}

html {
	scroll-behavior: smooth;
}

body {
	max-width: 100vw;
	min-height: 100vh;
	margin: 0px;
	font-family: fonts.$fonts;
}

// Justify §
p {
	text-align: justify;
}

// Italic for quotes
q {
	font-style: italic;
}

// Titles
@for $i from 1 to 6 {
	h#{$i} {
		@extend %h-title;
	}
}
