@use '../components/home/home-section';
@use '../utils/utils';

$_title-grid-name: title;
$_intro-grid-name: intro;
$_me-grid-name: me;
$_pg-grid-name: playground;
$_title-gap: 2* utils.$unit-margin;
$_title-height: auto;
$_intro-height: auto;
$_intro-fsize: 1.5rem;
$_hsection-height: 1fr;
$hsections: (
	$_me-grid-name: (
		'image-url': url('../../img/air-dex.jpg'),
		'backup-bgcolor': teal
	),
	$_pg-grid-name: (
		'image-url': url('../../img/the-playground.jpg'),
		'backup-bgcolor': lightsteelblue
	),
);
$_responsive-heights: (
	'sm': (
		'title': 5.1rem,
		'hsection': 40vh,
	),
	'md': (
		'title': 5.6rem,
		'hsection': 56vh,
	),
	'lg': (
		'title': 8rem,
		'hsection': 63vh,
	)
);

.home {
	display: grid;

	// "unquote('/')" is written instead of "/" in order to prevent Sass
	// from performing a division with unquoted '/'.
	grid-template: "#{$_title-grid-name}" $_title-height
	               "#{$_intro-grid-name}" $_intro-height
	               "#{ $_me-grid-name  }" $_hsection-height
	               "#{ $_pg-grid-name  }" $_hsection-height unquote('/')
	                        1fr           ;
	@include utils.large-screens-only {
		grid-template: "#{$_title-grid-name} #{$_title-grid-name}" $_title-height
                       "#{$_intro-grid-name} #{$_intro-grid-name}" $_intro-height
		               "#{ $_me-grid-name  } #{ $_pg-grid-name  }" $_hsection-height unquote('/')
		                        50%                   50%          ;
	}

	justify-content: stretch;
	align-content: space-between;

	&__title {
		grid-area: $_title-grid-name;
		place-self: center;
		margin: {
			top: $_title-gap;
			bottom: $_title-gap;
			left: 0px;
			right: 0px;
		}

		@include utils.small-screens-only {
			font-size: map-get(map-get($_responsive-heights, 'sm'), 'title');
		}
		@include utils.medium-screens-only {
			font-size: map-get(map-get($_responsive-heights, 'md'), 'title');
		}
		@include utils.large-screens-only {
			font-size: map-get(map-get($_responsive-heights, 'lg'), 'title');
		}
	}

	&__intro {
		grid-area: $_intro-grid-name;
		place-self: center;
		margin: {
			top: $_title-gap;
			bottom: 2* $_title-gap;
			left: 0px;
			right: 0px;
		}

		font-size: $_intro-fsize;

		@include utils.small-screens-only {
			font-size: map-get(map-get($_responsive-heights, 'sm'), 'intro');
		}
		@include utils.medium-screens-only {
			font-size: map-get(map-get($_responsive-heights, 'md'), 'intro');
		}
		@include utils.large-screens-only {
			font-size: map-get(map-get($_responsive-heights, 'lg'), 'intro');
		}
	}

	&__home-section {
		justify-self: stretch;
		align-self: stretch;

		background: {
			position: center;
			size: cover;
		}

		// Specific settings for each section
		@each $sid, $hsettings in $hsections {
			&##{$sid}-section {
				grid-area: $sid;
				background: {
					color: map-get($hsettings, 'backup-bgcolor');
					image: map-get($hsettings, 'image-url');
				}
			}
		}

		@include utils.small-screens-only {
			min-height: map-get(map-get($_responsive-heights, 'sm'), 'hsection');
		}
		@include utils.medium-screens-only {
			min-height: map-get(map-get($_responsive-heights, 'md'), 'hsection');
		}
		@include utils.large-screens-only {
			min-height: map-get(map-get($_responsive-heights, 'lg'), 'hsection');
		}
	}

	// Cancelling #content padding
	// (0, 1, 1, 0) specificity there, instead of (0, 1, 0, 0) in
	// #content's /source/assets/scss/layouts/default.scss.
	&#content {
		padding: 0px;
	}
}
