/// Root class: .octopus
@use '../utils/utils';

$octopus-widths: (
	'sm': 100%,
	'md': 60%,
	'lg': 35%
);

//.octopus { }

.blabla__illustration.illustration > .illustration__image {
	@include utils.small-screens-only {
		width: map-get($octopus-widths, 'sm');
	}

	@include utils.medium-screens-only {
		width: map-get($octopus-widths, 'md');
	}

	@include utils.large-screens-only {
		width: map-get($octopus-widths, 'lg');
	}
}
