@use '../layouts/article/illustration';
@use '../utils/utils';

$_illustration-max-height: 75vh;

.playground {
	&__illustration {
		> .illustration__image {
			@include utils.large-screens-only {
				max-height: $_illustration-max-height;
			}
		}
	}
}
