@use '../base/base' as base;
@use '../utils/utils' as utils;

#content {
	display: flex;
	flex-direction: column;
	align-items: center;
	@include utils.margin-hcenter;
	width: 40%;

	* {
		font-family: base.$fonts;
	}

	img {
		width: 40%;
	}

	p {
		font-size: 14pt;
		margin: 0px;
	}
}
