@use '../../utils/utils';

$_def-gap: utils.$unit-margin;
$_interdef-gap: .5 * $_def-gap;
$_scale-width-basis: 600px;
$_scales-ruler: (
	'style': dashed,
	'width': 1px,
	color: black
);

.skill-scale {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	@include utils.flexbox-gap($_def-gap);

	> * {
		margin: 0px;
	}

	&__title {
		text-align: center;
	}

	// Scales are dispatched into columns.
	&__scales {
		@include utils.large-screens-only {
			column: {
				width: $_scale-width-basis;
				count: auto;
				gap: $_def-gap;
				fill: auto;
				rule: {
					style: map-get($_scales-ruler, 'style');
					width: map-get($_scales-ruler, 'width');
					color: map-get($_scales-ruler, 'color');
				}
			}

			> * {
				break-inside: avoid;
				// Gap handling. Flexbox cannot be put in a multi-column layout.
				margin-bottom: $_def-gap;
			}
		}
		
		@include utils.not-for-large-screens {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: stretch;
			@include utils.flexbox-gap($_def-gap);

			> * {
				order: attr(data-scale);
			}
		}
	}

	// Each scale is a flexbox with the <dt> then the <dd>.
	&__scale {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: stretch;
		@include utils.flexbox-gap($_interdef-gap);
		padding: utils.$unit-margin;

		> * {
			margin: 0px;
		}
	}

	&__description {
		text-align: justify;
	}
}
