@use '../../components/skills/skills-filter';
@use '../../components/skills/skill-room';
@use '../../components/rating-star';
@use '../../utils/utils';

$_filter-big-width: 25%;

.skills {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;

	@include utils.large-screens-only {
		flex-direction: row;
		flex-wrap: wrap;
	}

	&__filter {
		flex-grow: 0;
		flex-shrink: 0;

		@include utils.large-screens-only {
			flex-basis: $_filter-big-width;
		}
	}

	&__room {
		flex-grow: 1;
	}
}
