{#
	eFolio element.
	
	Variables:
		- title: Project title.
			- Written in raw HTML.
		- urls: URLs to retrieve the project.
		- project_logo: Image to illustrate the project.
			- Object with 2 fields.
			- url: Logo URL.
			- need_dark: boolean telling if a dark background is required
				to show the logo properly.
		- project_date: Project date.
		- description: A description of the project.
			- Written in raw HTML.
		- my_roles: My tasks in the project.
			- Array of tasks.
			- Roles will be joined and put at the end of a sentence. Consequently:
				- The first letter should be lower case.
				- A point should not be written at the end.
		- technologies: Some technologies used for this project.
			- Array of object with two fields:
				- name: Technology name.
					- Written in raw HTML.
				- why: Why this technology is used there?
					- Written in raw HTML.
		- other_classes: Other classes for root element.
#}
{% set url = url ?? '' %}
{% set image_url = image_url ?? '' %}
{% set description = description ?? '' %}
{% set my_roles = my_roles ?? '' %}
{% set project_date = project_date ?? '' %}
{% set project_logo = {
	url: project_logo.url ?? '',
	need_dark: project_logo.need_dark ?? false
} %}
{% set root_class = 'it-project' %}
{% set root_classes = [ root_class, 'card' ]|merge(other_classes) %}
<div class="{{ root_classes|join(' ') }}">
	<div class="card-header {{ root_class }}__header">
		<h4 class="card-title {{ root_class }}__title">{{ title|raw }}</h4>
	</div>
	{% if project_logo.url is not empty %}
		{% set logo_classes = [ '%s__logo'|format(root_class), 'card-img-top' ] %}
		{% if project_logo.need_dark %}
			{% set logo_classes = logo_classes|merge([ '%s__light-logo'|format(root_class) ]) %}
		{% endif %}
		<img class="{{ logo_classes|join(' ') }}" src="{{ project_logo.url }}"/>
	{% endif %}
	<div class="card-body {{ root_class }}__body">
		{% if project_date is not empty %}
			<h4 class="{{ root_class }}__project-date">{{ project_date|raw }}</h4>
		{% endif %}
		{% if urls is not empty %}
			{# TODO: Elide middle for link "singular"? #}
			{# TODO: url-intro: " :" en ::after ? #}
			{% set many_urls = urls|length >= 2 %}
			{% if many_urls %}
				<div class="{{ root_class }}__urls">
					<span class="{{ root_class }}__url-intro">
						<span class="underline">Liens</span>&nbsp;:
					</span>
					<ul class="{{ root_class }}__url-links">
					{% for url in urls %}
						<li class="{{ root_class }}__url">
							<a href="{{ url }}" class="{{ root_class }}__url-link">{{ url }}</a>
						</li>
					{% endfor %}
					</ul>
				</div>
			{% else %}
				<p class="{{ root_class }}__url">
					<span class="{{ root_class }}__url-intro">
						<span class="underline">Lien</span>&nbsp;:
					</span>
					<span class="{{ root_class }}__url-single-link">
						&nbsp;<a href="{{ urls[0] }}" class="{{ root_class }}__url-link">{{ urls[0] }}</a>.
					</span>
				</p>
			{% endif %}
		{% endif %}
		{% if description is not empty %}
			<p class="{{ root_class }}__description">{{ description|raw }}</p>
		{% endif %}
		{% if my_roles is not empty %}
			<p class="{{ root_class }}__my-roles">
				<span class="underline">Ce que j'ai r&eacute;alis&eacute;</span>&nbsp;:&nbsp;
				{{ my_roles|join(', ')|raw }}.
			</p>
		{% endif %}
		<div class="{{ root_class }}__techs">
			<span class="underline">Technologies notables</span>&nbsp;:&nbsp;
			{% if technologies is empty %}
				aucune.
			{% else %}
				<ul class="{{ root_class }}__tech-list">{% for tech in technologies %}
					<li class="{{ root_class }}__tech">
						<strong>{{ tech.name|raw }} :</strong>&nbsp;{{ tech.why|raw }}
					</li>
				{% endfor %}</ul>
			{% endif %}
		</div>
	</div>
</div>
