<nav class="menubar navbar navbar-expand-{{ site.breakpoint_size }}">
	<button id="menubar__button" type="button" class="menubar__button navbar-toggler" data-toggle="collapse" data-target="#mainubar__colltainer">
		{{ include('components/site-icon.twig.html') }}
	</button>
	<a class="navbar-brand menubar__brand" href="index.html">{{ site.me.fullname }}</a>
	<div id="mainubar__colltainer" class="navbar-collapse collapse">
		<ul class="navbar-nav">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="about-me.html" data-toggle="dropdown">&Agrave; propos de moi</a>
				<div class="dropdown-menu menubar__me-menu">
					<a class="nav-link dropdown-item" href="about-me.html">&Agrave; propos de moi</a>
					<a class="nav-link dropdown-item" href="efolio.html">Cyberfolio</a>
					<a class="nav-link dropdown-item" href="octopus.html">Moi sur Internet</a>
				</div>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="playground.html" data-toggle="dropdown">Playground</a>
				<div class="dropdown-menu menubar__playground-menu">
					<a class="nav-link dropdown-item" href="playground.html">The Playground</a>
					<a class="nav-link dropdown-item" href="soft-advices.html">Recommandations logicielles</a>
					<a class="nav-link dropdown-item" href="under-construction.html">[Archive] Page de construction</a>
					{# Cielo #}
					{# Yahtzee #}
					{# Routes Dead Cells #}
				</div>
			</li>
			<li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
		</ul>
	</div>
</nav>
