{#
	Variables:
		spy_menu_index: Scroll spy menu index
			- Will be used for Bootstrap's scroll spy.
		spies: List of objects which have got two fields:
			- id: Spy ID.
			- text: HTML Text associated to it
			- The first object is supposed to be the title.
			- No sub-menu allowed there.
		other_classes: Other classes for root element.
#}
{% set root_class = 'spy-menu' %}
{% set root_classes = [root_class, 'navbar']|merge(other_classes ?? []) %}
<nav id="{{ spy_menu_index }}" class="{{ root_classes|join(' ') }}">
	<a class="{{ root_class }}__title navbar-brand" href="#{{ spies[0].id }}">{{ spies[0].text|raw }}</span>
	<nav class="{{ root_class }}__menu nav nav-pills">
	{% for i in range(1, 4, 1) %}
		<a class="{{ root_class }}__entry nav-link" href="#{{ spies[i].id }}">{{ spies[i].text|raw }}</a>
	{% endfor %}
	</nav>
</nav>
