{#
	Component consisting in checking tags in a form

	Variables:
		tags: Tag map
			Objects indexed by tag IDs
			Each tag object should have 2 fields:
				- label: Tag label
				- cat: Tag category ID.
		field_name: Field name in the form.
		title: Title for the card.
		other_classes: Other classes for root element.
		collapse_id: A unique ID for the collapse component.
		tags_cat: Tag categories
			Tags labels indexed by IDs.
		othercat: "Other" tag category
		othercat_label: Label for othercat
#}
{# Sorting tags by category #}
{% set stags = {} %}
{% if othercat not in tags_cat|keys %}
{% 		set tags_cat = tags_cat|merge({ (othercat): othercat_label }) %}
{% endif %}
{% for tcat in tags_cat|keys %}
{% 		set stags = stags|merge({ (tcat): [] }) %}
{% endfor %}
{% for tid, tag in tags %}
{% 		set stagcat = tag.cat|default(othercat) %}
{% 		set stagcat = stagcat in tags_cat|keys ? (stagcat) : othercat %}
{% 		set stag = stagcat in stags|keys ? stags[stagcat]|merge([tid]) : [tid] %}
{% 		set stags = stags|merge({ (stagcat) : stag }) %}
{% endfor %}
{# Display time! #}
{% set root_class = "tag-room" %}
<div class="{{ root_class }} card {{ other_class|join(" ") }}">
	<div class="{{ root_class }}__header card-header" data-toggle="collapse" data-target="#{{ collapse_id }}">
		<label class="{{ root_class }}__title" for="{{ field_name }}">{{ title|raw }}</label>
	</div>
	
	<div id="{{ collapse_id }}" class="{{ root_class }}__room card-body">
	{% for catid, tagids in stags %}
		{% if tagids is not empty %}
		<div class="{{ root_class }}__cat-room">
			<h6 class="{{ root_class }}__cat-title">{{ tags_cat[catid]|raw }}</h6>
			<div class="{{ root_class }}__cat-tags">
			{% for tid in tagids %}
				{% set tag = tags[tid] %}
				{% set cbid = "%s-%s"|format(field_name, tid) %}
				<div class="{{ root_class }}__tag-control custom-control">
					<input type="checkbox" name="{{ field_name }}" value="{{ tid }}" id="{{ cbid }}" class="custom-control-input"/>
					<label for="{{ cbid }}" class="custom-control-label">{{ tag['label']|raw }}</label>
				</div>
			{% endfor %}
			</div>
		</div>
		{% endif %}
	{% endfor %}
	</div>
</div>
