// eFolio element.
// Classes:
//		- .it-project: Root class.
//		- .it-project__header: Project card header.
//		- .it-project__title: Project title.
//		- .it-project__body: Project card body.
//		- .it-project__logo: Image containing project logo.
//		- .it-project__light-logo: Additional class for logo with a light theme.
//			- They need a dark backgrown to be shown properly
//		- .it-project__project-date: Project date title.
//		- .it-project__urls: Project links block if there are several of them.
//		- .it-project__url-links: Block with links enumeration.
//		- .it-project__url: Block with a link.
//			- p.it-project__url if there is one link only.
//			- li.it-project__url in case of several links.
//		- .it-project__url-intro: Announcing links.
//			- If many links: div.it-project__urls > .it-project__url-intro
//			- If one link: p.it-project__url > .it-project__url-intro
//		- .it-project__url-link: Displaying the project link.
//			- .it-project__url > .it-project__url-link
//		- .it-project__description: § for project description.
//		- .it-project__my-roles: § describing what I did in this project.
//		- .it-project__techs: Root block dealing with highlighted technologies.
//		- .it-project__tech-list: Block with technologies list.
//		- .it-project__tech: A <li> block for displaying a technology.
//		- .it-project--animated: Marking the project for the fadeIn animation.
//		- .it-project--fade-in: Triggering the fadeIn animation.

@use '../utils/utils';
//@use '../base/base';	// useless if no animation

$_it-project-radius: utils.$unit-margin;
$_it-project-gap: 2* utils.$unit-margin;
$_logo-max-height: utils.$itproject-wbasis / 4;
$_logo-dark-bg-color: darkslategray;

// TODO : factoriser avec les skills
$_sfi-duration: 1s;
$_sfi-fill-mode: both;
$_sfi-opacity: 0;

%_itproj-list {
	margin: 0px;
}

.it-project {
	padding: 0px;
	border-radius: $_it-project-radius;

	&__title {
		margin: 0px;
	}

	&__body {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: stretch;
		@include utils.flexbox-gap($_it-project-gap);
	}

	&__logo {
		max-height: $_logo-max-height;
		object-fit: contain;
		padding: utils.$unit-margin;

		// Cancelling some bootstraperies
		width: unset;
		border-radius: 0px;
	}

	&__light-logo {
		background-color: $_logo-dark-bg-color;
	}

	&__url-links {
		@extend %_itproj-list;
	}

	&__tech-list {
		@extend %_itproj-list;
	}

	&__url {
		text-align: left;
	}

	/* NOPE! It is a bad idea.
	// Animations for small screens only
	// TODO : factoriser avec skills
	@include utils.small-screens-only {
		&--animated {
			animation-duration: $_sfi-duration;
			animation-fill-mode:  $_sfi-fill-mode;
			opacity: $_sfi-opacity;
		}

		&--fade-in {
			animation-name: base.$fade-in-animation-name;
		}
	}*/
}
