@use '../utils/utils';

$_toggler-icon-size: 2rem;

%header-dropdown-menu {
	@include utils.override-page-bound(
		$main-text-color: map_get(utils.$page-bounds, 'light-text-color'),
		$hover-color: map_get(utils.$page-bounds, 'light-hover-color')
	);

	:hover {
		background-color: map-get(utils.$page-bounds, 'bg-color');
	}
}

.menubar {
	&__button {
		.site-icon {
			width: $_toggler-icon-size;
			height: $_toggler-icon-size;
		}
	}

	&__brand {
		@include utils.small-screens-only {
			@include utils.margin-hcenter;
		}
	}

	&__playground-menu {
		@extend %header-dropdown-menu;
	}

	&__me-menu {
		@extend %header-dropdown-menu;
	}
}
