@use '../utils/utils';

$_border-width: 3px;
$_row-height: 8ch;
$_page-widths: (
	min: 10ch,
	content: 30ch,
	max: 20%
);
$_ratio: 297/210;
$_font-sizes: (
	normal: 1.5rem,
	display: 5rem,
	number: 1rem
);
$_font-weights: (
	normal: 200,
	display: bold,
	number: 900
);
$_display-color: red;

@mixin _font-page($category) {
	font: {
		size: map-get($_font-sizes, $category);
		weight: map-get($_font-weights, $category);
	}
}

// Style
.p40x {
	@include utils.border($width: $_border-width);

	margin: utils.$unit-margin;
	padding: .5* utils.$unit-margin;

	// Page size
	@include utils.small-screens-only {
		--pwidth: clamp(#{map-get($_page-widths, 'min')}, #{map-get($_page-widths, 'content')}, #{map-get($_page-widths, 'max')});
	}
	@include utils.not-for-small-screens {
		--pwidth: #{map-get($_page-widths, 'content')};
	}
	width: var(--pwidth);
	height: calc(var(--pwidth) * #{$_ratio});
	min-width: map-get($_page-widths, 'min');
	max-width: map-get($_page-widths, 'max');

	// Grid display
	display: grid;
	grid-template-rows: auto auto auto 1fr auto;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-flow: dense;
	place-items: center center;

	> * {
		@include _font-page('normal');
	}

	&__number {
		grid-area: -2 / 2 / -1 / 3;
		align-self: end;
		@include _font-page('number');
	}

	&__display {
		grid-area: 2 / 2 / 3 / 3;
		color: $_display-color;
		@include _font-page('display');
		font-variant-numeric: slashed-zero;
	}

	&--vanish &__vanished {
		visibility: hidden;
		order: 10;
		font-size: unset;
		grid-area: unset;
	}
}
