// Rating star Sass
$_star-color: gold;
$_star-size: 1.25rem;

@mixin rating-star($star-color: $_star-color, $star-size: $_star-size) {
	color: $star-color;
	font-size: $star-size;
}

.rating-star {
	@include rating-star;
}
