@use '../utils/utils';

$_index-alinea: 10px;

// Required by Bootstrap for scroll spy purposes.
body {
	position: relative;
}

.spy-menu {
	@include utils.override-page-bound;

	padding: utils.$unit-margin;
	
	display: flex;
	flex-direction: column;

	&__menu {
		display: flex;
		flex-direction: column;
		margin-left: $_index-alinea;
	}
}
