@use '../utils/utils';

.tag-room {
	&__header {
		text-align: center;
	}

	&__title {
		margin: 0px;
	}

	&__room {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		@include utils.flexbox-gap(utils.$unit-margin);
		padding: utils.$unit-margin;
	}

	&__tag-control {
		@include utils.customize-checkbox-color(utils.$skfilter-selection-color);
	}
}
