// Fade in animation.
// It should be the same than timeline's component.
$fade-in-animation-name: fadeIn;
$_sfi-from-opacity: 0;
$_sfi-from-top: 70px;
$_sfi-to-opacity: 1;
$_sfi-to-top: 0px;

@keyframes #{$fade-in-animation-name} {
	from {
		opacity: $_sfi-from-opacity;
		top: $_sfi-from-top;
	}
	to {
		opacity: $_sfi-to-opacity;
		top: $_sfi-to-top;
	}
}
