// Sections in article
// Typically "article.blabla > section.blabla__section.article-section"
// Classes:
// 		- .article-section: Root class.
// 		- .article-section__title: Section title.
// 		- .article-section__intro: A short § to introduce the section.
// 		- .article-section__widget: A widget.
// 			- Examples: A timeline, rated skills.
// 		- .article-section__p: Section §.
// 		- .article-section__illustration: An illustration to put in the section.

@use '../../utils/utils';

$_section-gap: 1.25* utils.$unit-margin;
$_section-title-margin: utils.$unit-margin;

.article-section {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	@include utils.flexbox-gap($_section-gap);

	padding: utils.$unit-margin;

	> * {
		margin: 0px;
	}

	&__title {
		// It is a padding-bottom instead of margin-bottom because of
		// row-gap weak support (50.53% as of August 2020).
		//
		// The whole gap between the title and its 1st sibling should be
		// a margin-bottom before a row-gap. But row-gap is not widely
		// supported yet so everything should be in a margin-bottom.
		//
		// But there is another issue. ".article-section__title"'s margin-bottom
		// is ignored. In fact, ".article-section > :not(:last-child)" (defined
		// in the "utils.flexbox-gap" mixin used by ".article-section") also
		// have a margin-bottom property, which can be also applied to
		// ".article-section__title" and which overrides its margin-bottom
		// because of a higher specificity: (0, 0, 1, 0) for
		// ".article-section__title" vs. (0, 0, 3, 0) for
		// ".article-section > :not(:last-child)".
		// In order to avoid using !important (on a margin-bottom with the
		// whole gap), I put ".article-section__title"'s margin-bottom in the
		// padding-bottom property instead, because ".article-section__title" is
		// not supposed to have any padding-bottom (i.e "a 0px padding-bottom").
		padding-bottom: $_section-title-margin;
	}

	&__widget {
		padding: {
			top: utils.$unit-margin;
			bottom: utils.$unit-margin;
		}
	}
}
