/// For illustrations in pages
/// Typically "article.blabla > div.blabla__illustration.illustration"
/// Classes:
/// 	- .illustration: Root class.
/// 	- .illustration__image: The image.
/// 	- .illustration__caption: A caption for the image.

@use '../../utils/utils';

.illustration {
	display: flex;
	flex-direction: column;
	align-items: center;
	@include utils.flexbox-gap(utils.$unit-margin, row);

	padding: 0px;

	&__image {
		max-width: 100%;
		object-fit: contain;
	}

	&__caption {
		text-align: center;
		font-size: utils.$smaller-size;
		margin: 0px;
	}
}
