// Style for <article> elements in pages
// Classes:
// 		- .blabla: Root class.
// 		- .blabla__title: Page title.
// 			- Will often get the ".page-title" class.
// 		- .blabla__chapo: The Voltaire-style chapo.
// 			- Will often get the ".chapo" class.
// 		- .blabla__intro: Article introduction, a short § for it.
// 		- .blabla__section: Representing a <section> in the article.
// 			- Will often get the ".article-section" class.
// 		- .blabla__illustation: For illustrations.

@use '../../utils/utils';

$_blabla-gap: 2* utils.$unit-margin;

@mixin _blabla-p {
	padding: {
		left: utils.$unit-margin;
		right: utils.$unit-margin;
	}
}

.blabla {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	@include utils.flexbox-gap($_blabla-gap);

	> * {
		margin: 0px;
	}

	&__title {
		text-align: center;
		font-size: map-get(utils.$title-sizes, 'big');

		@include utils.small-screens-only {
			font-size: map-get(utils.$title-sizes, 'small');
		}
	}

	&__chapo {
		@include _blabla-p;
	}

	&__intro {
		@include _blabla-p;
	}
}
