{#
	Variables:
		- other_classes: Other classes for illustration root.
		- image_source: Image source.
		- image_alt: Alternative text for the image.
			- In raw HTML, so be careful
		- caption: Illustation caption.
			- In raw HTML, so be careful
#}
{% set root_class = 'illustration' %}
{% set root_classes = [ root_class ]|merge(other_classes ?? []) %}
{% set image_alt = image_alt ?? '' %}
{% set caption = caption ?? '' %}
<div class="{{ root_classes|join(' ') }}">
	<img
		class="{{ root_class }}__image"
		src="{{ image_source }}"
		{% if image_alt is not empty %}alt="{{ image_alt|raw }}"{% endif %}
	/>
	{% if caption is not empty %}<p class="{{ root_class }}__caption">{{ caption|raw }}</p>{% endif %}
</div>
