@use 'software-advice';
@use '../../utils/utils';

.advices-room {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(utils.$soft-advices-wbasis, auto));
	gap: utils.$unit-margin;
	place-items: stretch;

	// Software advices cards will be larger than the page without this.
	@media (max-width: #{ utils.$soft-advices-wbasis + 2* utils.$main-content-padding }) {
		grid-template-columns: 1fr;
	}
}
