@use '../../utils/utils';

$_faf-bg: gainsboro;
$_fields-gap: 2* utils.$unit-margin;
$_faf-platform-wbasis: 150px;
$_plaforms-gap: utils.$unit-margin;
$_platforms-radius: utils.$unit-margin;
$_faf-buttons-gap: utils.$unit-margin;
$_reset-bg-color: darkslategray;

.fa-form {
	background-color: $_faf-bg;

	display: grid;
	grid-template: {
		rows: auto 1fr;
		columns: 1fr auto;
	}
	align-items: baseline;

	> * {
		padding: utils.$unit-margin;
	}

	&__title {
		text-align: center;
		grid-row: 1/2;
		grid-column-start: 1;
		margin: 0px;

		@include utils.large-screens-only {
			grid-column-end: 3;
		}

		@include utils.not-for-large-screens {
			grid-column-end: 2;
		}
	}

	&__toggle {
		@include utils.large-screens-only {
			display: none;
		}

		@include utils.not-for-large-screens {
			grid-area: 1/2 / 2/3;
		}
	}

	&__form {
		grid-area: 2/1 / 3/3;

		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: stretch;
		@include utils.flexbox-gap($_fields-gap);

		// Force display on big screens
		@include utils.large-screens-only {
			display: flex !important;
		}
	}

	&__platforms {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax($_faf-platform-wbasis, auto));
		grid-auto-rows: min-content;
		place-items: stretch;
		gap: $_plaforms-gap;

		background-color: white;
		@include utils.border( $radius: $_platforms-radius );
		padding: $_platforms-radius;
	}

	&__platform-control {
		@include utils.customize-checkbox-color(utils.$skfilter-selection-color);
	}

	&__buttons {
		@include utils.large-screens-only {
			align-self: flex-end;
		}

		display: flex;
		flex-direction: row;
		justify-content: space-between;
		@include utils.flexbox-gap($_faf-buttons-gap, column);
		margin-bottom: 0px;

		> * {
			flex-grow: 1;
		}
	}

	&__submit {
		@include utils.customize-btn-color('.btn-primary', utils.$skfilter-selection-color);
	}

	&__reset {
		@include utils.customize-btn-color('.btn-secondary', $_reset-bg-color);
	}
}
