@use '../../utils/utils';

$_sa-radius: utils.$unit-margin;
$_sa-gap: 2* utils.$unit-margin;
$_logo-max-height: utils.$soft-advices-wbasis / 4;
$_logo-dark-bg-color: darkslategray;

.soft-advice {
	padding: 0px;
	border-radius: $_sa-radius;

	&__title {
		margin: 0px;
	}

	&__body {
		display: flex;
		flex-direction: column;
		justify-content: start;
		align-items: stretch;
		@include utils.flexbox-gap($_sa-gap);
	}

	&__logo {
		max-height: $_logo-max-height;
		object-fit: contain;
		padding: utils.$unit-margin;

		// Cancelling some bootstraperies
		width: unset;
		border-radius: 0px;
	}

	&__light-logo {
		background-color: $_logo-dark-bg-color;
	}

	&__url {
		text-align: left;
	}
}
