{#
	Variables:
		main_skclass: Skill's main class.
		skill_tags: Skill's tags, in order to filter them.
		skill_scale: Skill scale, in order to filter skills depending on their rate.
		skill_tags_cat: Skill tags categories
#}
{% set sf_class = "skfilter" %}
{% set sfform_class = "%s__form"|format(sf_class) %}
<div class="{{ main_skclass }}__filter {{ sf_class }}">
	<h5 class="{{ sf_class }}__title">Filtrer les connaissances</h5>
	<button class="{{ sf_class }}__toggle btn" data-toggle="collapse" data-target="#{{ sfform_class }}">
		Voir/cacher
	</button>
	<form id="{{ sfform_class }}" class="{{ sfform_class }} collapse" action="" method="">
		<div class="{{ sf_class }}__name form-group">
			{% set fieldname = "skname" %}
			<label for="{{ fieldname }}">Nom :</label>
			<input type="text" name="{{ fieldname }}" value="" id="{{ fieldname }}" class="form-control" />
		</div>

		<div class="{{ sf_class }}__used-there custom-control custom-switch">
			{% set fieldname = "skut" %}
			<input type="checkbox" name="{{ fieldname }}" value="used-there" class="custom-control-input" id="{{ fieldname }}" />
			<label for="{{ fieldname }}" class="custom-control-label">Utilis&eacute; ici</label>
		</div>

		{% set fieldname = "sktags" %}
		{{ include("components/tags-room.twig.html", {
			tags: skill_tags,
			title: "Tags et comp&eacute;tences",
			field_name: fieldname,
			other_classes: [ "%s__tags"|format(sf_class) ],
			collapse_id: "%s__room"|format(fieldname),
			tags_cat: skill_tags_cat,
			othercat: 'other',
			othercat_label: "Autres"
		}) }}
		
		{% set fieldname = "skrate" %}
		{{ include("components/skills/skill-rate-slider.twig.html", {
			skill_scale: skill_scale,
			title: "Niveau",
			field_name: fieldname,
			other_classes: [ "%s__rate"|format(sf_class) ],
			collapse_id: "%s__slider-room"|format(fieldname)
		}) }}
		
		<div class="{{ sf_class }}__buttons form-group">
			{% set fieldname = "sksub" %}
			<input type="submit" name="{{ fieldname }}" value="Filtrer"
				class="{{ sf_class }}__submit btn btn-primary"
			/>
			{% set fieldname = "skres" %}
			<input type="reset" name="{{ fieldname }}"
				value="R&eacute;initialiser"
				class="{{ sf_class }}__reset btn btn-secondary"
			/>
		</div>
	</form>
</div>
