{#
	Variables:
		skill_scale: Skill scale.
			It is a list of object which gets a "title" field
		field_name: Field name in the form.
		collapse_id: A unique ID for the collapse component.
		other_classes: Other classes for root element.
		title: Title for the card.
#}
{% set root_class = "skill-rate-slider" %}
<div class="{{ root_class }} card {{ other_classes|join(" ") }}">
	<div class="{{ root_class }}__header card-header" data-toggle="collapse" data-target="#{{ collapse_id }}">
		<label class="{{ root_class }}__title" for="{{ field_name }}">{{ title|raw }}</label>
	</div>
	
	<div id="{{ collapse_id }}" class="{{ root_class }}__body card-body">
		{% set srs_maxval = (skill_scale|length - 1) %}
		{% set ticks_labels = [] %}
		{% for i in range(0, srs_maxval) %}
		{% 		set ticks_labels = ticks_labels|merge([ '"%s"'|format(skill_scale[i].title) ]) %}
		{% endfor %}
		<input 
			type="text"
			id="{{ field_name }}"
			name="{{ field_name }}"
			pattern="^[0-{{ srs_maxval }}],[0-{{ srs_maxval }}]$"
			class="{{ root_class }}__slider"
			data-provide="slider"
			data-slider-min="0"
			data-slider-max="{{ srs_maxval }}"
			data-slider-step="1"
			data-slider-orientation="vertical"
			data-slider-handle="custom"
			data-slider-value="[0, {{ srs_maxval }}]"
			data-slider-range="true"
			data-slider-ticks="[{{ range(0, srs_maxval)|join(", ") }}]"
			data-slider-ticks-labels="[{{ ticks_labels|join(", ") }}]"
			data-slider-tooltip="{{ (site.env == 'dev') ? "always" : "hide" }}"
			{% if site.env == 'dev' %}data-slider-tooltip-position="left"{% endif %}
		/>
	</div>
</div>
