@use '../../utils/utils';

$_text-bg-opacity: .33;
$_text-margin: 4* utils.$unit-margin;
$_text-padding: 2* utils.$unit-margin;
$_text-gap: 2* utils.$unit-margin;
$_title-size: map-get(utils.$title-sizes, 'big');
$_description-size: 1.74rem;

%cancel-hv {
	color: inherit;
	text-decoration: inherit;
	background-color: inherit;
}

.home-section {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr;
	place-content: stretch;

	> * {
		grid-area: 1 / 1 / -1 / -1;
	}

	&__text {
		place-self: center;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		@include utils.flexbox-gap($_text-gap, row);
		margin: $_text-margin;

		background-color: rgba(0, 0, 0, $_text-bg-opacity);
		color:white;
		padding: $_text-padding;
	}

	&__title {
		font-size: $_title-size;
		margin: 0px;
	}

	&__description {
		font-size: $_description-size;
		text-align: center;
		margin: 0px;
	}

	&:hover {
		@extend %cancel-hv;
		
		* {
			color: map-get(utils.$page-bounds, 'hover-color');
		}
	}

	&:visited {
		@extend %cancel-hv;
	}
}
