@use 'mixins/mixins' as mix;

%page-bound {
	width: 100%;
	@include mix.override-page-bound;
}

@mixin _font-title {
	font: {
		family: 'Ubuntu Condensed';
		weight: bold;
	}
}

%h-title {
	@include _font-title;

	* {
		@include _font-title;
	}
}
