// Fixed unit margin
$unit-margin: 10px;

////////////////////////////
// Responsive breakpoints //
////////////////////////////

// Bootstrap's breakpoints
$bs-breakpoints: (
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
);

// Site breakpoints
$small-size: 'md';
$small-breakpoint: map-get($bs-breakpoints, $small-size);
$large-size: 'lg';
$large-breakpoint: map-get($bs-breakpoints, $large-size);

// Page bounds variables
$page-bounds: (
	'bg-color': black,
	'main-text-color': white,
	'hover-color': gold,
	'visited-color': ivory,
	'disabled-color': gray,
	'active-bg-color': gold,
	'active-color': black,

	// Less important colors
	'light-text-color': silver,
	'light-hover-color': goldenrod,
	'light-disabled-color': dimgray
);

// Common size for footer icons
$footer-icon-size: 3rem;

// Default border properties
$default-border: (
	'color': black,
	'style': solid,
	'radius': 0px,
	'width': 1px
);

// Sizes for title in "OK pages" (i.e. nor 404 neither 403)
$title-sizes: (
	'big': 4rem,
	'small': 3.2rem
);

// Bigger labels in buttons
$big-btn-size: 1.9rem;

// A smaller font size for texts
$smaller-size: .75rem;

// Skills colors
$used-skill-color: forestgreen;
$skfilter-selection-color: goldenrod;
$reset-skfilter-color: darkslategray;

// Padding for main#content
$main-content-padding: $unit-margin;

// Large width for <article> in page-article
$article-width: 75%;

// Ideal width for projects in ePortofolio.
$itproject-wbasis: 600px;

// Ideal width for advices in software advices.
$soft-advices-wbasis: 400px;
