{#
	Variables:
		skill_scale: Scale for skills.
			- It should be an array made of objects, with following fields:
				- title: Description title.
				- description: THe description.
				- scale: Scale index.
			- Both 'title' and 'description' fields are supposed to be written in pure HTML.
		other_classes: Array with other classes.
#}
{% set root_class = 'skill-scale' %}
{% set sks_classes = [ root_class ]|merge(other_classes) %}
<div class="{{ sks_classes|join(' ') }}">
	<h4 class="{{ root_class }}__title">Bar&ecirc;me de notation utilis&eacute; ici :</h4>
	<dl class="{{ root_class }}__scales">
	{# Reodrering depending on scale #}
	{% for scale in skill_scale|sort((a, b) => a.scale <=> b.scale) %}
		{# Beware W3C validator for <div> between <dl> and <dt>/<dd>! #}
		{% set rate = scale.scale %}
		<div class="{{ root_class }}__scale" data-scale="{{ rate }}">
			<dt class="{{ root_class }}__stars">
			{% if rate == 0 %}
				0 {{ include('components/rating-star.twig.html') }}
			{% else %}
				{% set nb_stars = rate|abs %}
				{% if rate < 0 %}-&nbsp;{% endif %}
				{% for j in range(1, nb_stars, 1) %}{{ include('components/rating-star.twig.html') }}{% endfor %}
			{% endif %}&nbsp;:&nbsp;{{ scale.title|raw }}
			</dt>
			<dd class="{{ root_class }}__description">{{ scale.description|raw }}</dd>
		</div>
	{% endfor %}
	</dl>
</div>
