{#
	Variables:
		- tentacle: "An octopus tentacle", i.e. an Internet profile which is me in real life.
			- It is an object with the following fields:
				- service & me: 2 objects containing informations.
					- service is related to the service.
					- me is related to me.
					- Both fields are objects with the same fields:
						- name: The name.
						- url: An URL related to it.
				- more: Additional informations.
		- other_classes: Other classes for root element.
#}
{% set main_class = 'tentacle' %}
{% set moar = tentacle.more ?? '' %}

{% set root_classes = [ main_class, 'article-section__p' ]|merge(other_classes) %}
<p class="{{ root_classes|join(' ') }}">
	Je suis <a href="{{ tentacle.me.url }}">{{ tentacle.me.name }}</a> sur
	<a href="{{ tentacle.service.url }}">{{ tentacle.service.name|raw }}</a>.
	{% if moar is not empty %}{{ moar|raw }}{% endif %}
</p>
