{#
	Variables:
		- psection: List of profiles related to section.
			- Cf. /source/_views/layouts/octopus/profile.twig.html for more details related to profiles.
			- Each profile section is an object with the following fields:
				- title: The title, in raw HTML.
				- intro: An introduction, in raw HTML.
				- profiles: The list of profiles.
				- outro: A conclusion for the section, in raw HTML.
		- psection_main_class: Overriden root class name.
		- other_classes: Other classes for root sections.
#}
{% set main_class = psection_main_class ?? 'profiles-section' %}
{% set title = psection.title ?? 'Endroits inconnus' %}
{% set intro = psection.intro ?? '' %}
{% set profiles = psection.profiles ?? [] %}
{% set outro = psection.outro ?? '' %}

{% set root_classes = [ main_class, 'article-section' ]|merge(other_classes) %}
<section class="{{ root_classes|join(' ') }}">
	<h2 class="{{ main_class }}__title article-section__title">{{ title|raw }}</h2>

	{% if intro is not empty %}
		<p class="{{ main_class }}__intro article-section__intro">{{ intro|raw }}</p>
	{% endif %}

	{% if profiles is empty %}
		<p class="{{ main_class }}--no-profiles article-section__p">Je ne verse pas dans ce genre de choses.</p>
	{% else %}
		{% for tentacle in profiles %}
			{{ include('layouts/octopus/profile.twig.html', {
				tentacle: tentacle,
				other_classes: [ '%s__profile'|format(main_class) ]
			}) }}
		{% endfor %}
	{% endif %}

	{% if outro is not empty %}<p class="{{ main_class }}__outro article-section__p">{{ outro|raw }}</p>{% endif %}
</section>
