{#
	Variables:
		- tentacles: List of profiles section.
			- Cf. /source/_views/layouts/octopus/profile-section.twig.html for more details.
		- other_classes: Other classes for root sections.
#}
{% set psection_main_class = 'profiles-section' %}
{% set tentacles = tentacles ?? [] %}
{% if tentacles is empty %}
	{% set empty_classes = [ '%s--empty'|format(psection_main_class), 'article-section' ]|merge(other_classes) %}
	<section class="{{ empty_classes|join(' ') }}"></section>
		<p class="article-section__p">
			La g&eacute;n&eacute;ration du site dit que je suis nulle part et
			ce n'est pas normal. Un bogue nous guette. <a href="contact.html">Veuillez
			me le reporter</a> s'il vous pla&icirc;t.
		</p>
	</section>
{% else %}
	{% for tsection in tentacles %}
		{{ include('layouts/octopus/profiles-section.twig.html', {
			psection: tsection,
			other_classes: other_classes,
			psection_main_class: psection_main_class
		})}}
	{% endfor %}
{% endif %}
