<div class="footer__contact">
	{# TODO: Factorize this code in a template composant, to reuse in contact et social #}
	{# TODO: Link in contact <h2></h2> #}
	<h2>Contact</h2>
	<ul class="nav">
		<li class="nav-item mail-contact">
			<a class="nav-link" href="mailto:{{ site.me.email }}">{{ site.me.email }}</a>
		</li>
		<li class="nav-item skype-contact"><span class="nav-link">{{ site.me.skype_pro }}</span></li>
	</ul>
</div>
