<div class="footer__menu">
	<h2>Pages</h2>
	<ul class="nav">
		<li class="nav-item"><a class="nav-link" href="about-me.html">&Agrave; propos de moi</a></li>
		<li class="nav-item"><a class="nav-link" href="efolio.html">Cyberfolio</a></li>
		<li class="nav-item"><a class="nav-link" href="octopus.html">Moi sur Internet</a></li>
		<li class="nav-item"><a class="nav-link" href="playground.html">Playground</a></li>
		<li class="nav-item"><a class="nav-link" href="soft-advices.html">Recommandations logicielles</a></li>
		<li class="nav-item"><a class="nav-link disabled" href="sitemap.html">Sitemap</a></li>
		<li class="nav-item"><a class="nav-link disabled" href="credits.html">Cr&eacute;dits du site</a></li>
	</ul>
</div>
