<div class="footer__social">
	{# TODO: Factorize this code in a template composant, to reuse in contact et social #}
	<h2>Sur les r&eacute;seaux</h2>
	<ul class="nav">
		{#
			TODO: A for loop to factorize depending on href, src and alt.
			It will likely require to create (or find) a "json_decode" Twig extension.
		#}
		<li class="nav-item">
			<a class="nav-link" href="https://twitter.com/{{ site.me.twitter }}">
				<img class="brand-logo" src="assets/img/brand-logos/Twitter_Logo_Blue.svg" alt="Twitter"/>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="https://gitlab.com/{{ site.me.gitlab }}">
				<img class="brand-logo" src="assets/img/brand-logos/gitlab-icon-rgb.svg" alt="GitLab"/>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="https://github.com/{{ site.me.github }}">
				<img class="brand-logo" src="assets/img/brand-logos/GitHub-Mark-Light-64px.png" alt="GitHub"/>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="https://www.linkedin.com/in/{{ site.me.linkedin }}/">
				<img class="brand-logo" src="assets/img/brand-logos/LI-In-Bug.png" alt="LinkedIn"/>
			</a>
		</li>
	</ul>
</div>
