// Mixins for CSS hacks (and utilities too).
@use '../variables' as vars;

// Basic mixin for page bounds
@mixin border(
	$color: map-get(vars.$default-border, 'color'),
	$width: map-get(vars.$default-border, 'width'),
	$style: map-get(vars.$default-border, 'style'),
	$radius: map-get(vars.$default-border, 'radius')
) {
	border: {
		color: $color;
		width: $width;
		style: $style;
		radius: $radius;
	}
}

////////////////////////////////////////////////////////
// Centering in viewport                              //
// Adapted from: https://stackoverflow.com/a/34084294 //
////////////////////////////////////////////////////////

// Center H&V
@mixin viewport-center {
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -50%);
}

// Horizontal center
@mixin viewport-hcenter {
	left: 50vw;
	transform: translateX(-50%);
}

// Vertical center
@mixin viewport-vcenter {
	top: 50vh;
	transform: translateY(-50%);
}

// Horizontal center with margins
@mixin margin-hcenter {
	margin: {
		left: auto;
		right: auto;
	}
}

// Workaround for gutters in Flexboxes.
// gap and *-gap CSS properties have not been widely supported by Flexboxes yet
// (50.53% as of August 2020).
@mixin flexbox-gap($gap, $side: row) {
	//#{$side}-gap: $gap;
	> :not(:last-child) {
		@if ($side == row) {
			margin-bottom: $gap;
		}
		@else if ($side == column) {
			margin-right: $gap;
		}
	}
}

@mixin bracket($open: '(', $close: ')') {
	&::before {
		content: $open;
	}

	&::after {
		content: $close;
	}
}
