// Some mixins in order to override Bootstrap's default L&F.
@use '../variables' as vars;

// Overriding with bounds theme
@mixin override-page-bound(
	$bg-color: map_get(vars.$page-bounds, 'bg-color'),
	$main-text-color:map_get(vars.$page-bounds, 'main-text-color'),
	$hover-color: map_get(vars.$page-bounds, 'hover-color'),
	$disabled-color: map_get(vars.$page-bounds, 'disabled-color'),
	$active-color: map_get(vars.$page-bounds, 'active-color'),
	$active-bg-color: map_get(vars.$page-bounds, 'active-bg-color')
) {
	background-color: $bg-color;

	* {
		color: $main-text-color;
	}

	:hover {
		color: $hover-color;
	}

	.nav-link {
		&.disabled {
			color: $disabled-color;
		}

		&.active {
			background-color: $active-bg-color;
			color: $active-color;
		}
	}
}

// Adapted from Bootstrap's source code, in order to customize a checkbox color in a form.
@mixin customize-checkbox-color($cb-bg-color, $cb-shadow-width: .2rem) {
	.custom-control-input {
		&:checked ~ .custom-control-label::before {
			border-color: $cb-bg-color;
			background-color: $cb-bg-color;
		}

		&:focus ~ .custom-control-label::before {
			box-shadow: 0 0 0 $cb-shadow-width rgba($cb-bg-color, 0.25);
		}

		&:focus:not(:checked) ~ .custom-control-label::before {
			border-color: lighten($cb-bg-color, 25%);
		}

		&:not(:disabled):active ~ .custom-control-label::before {
			background-color: lighten($cb-bg-color, 35%);
			border-color: lighten($cb-bg-color, 35%);
		}
	}
}

/// @brief Adapted from Bootstrap's source code, in order to customize button colors.
/// @param $btn-bs-class Bootstrap button class.
/// @param $btn-bg-color New button's background color.
/// @param $btn-color New button's text color.
@mixin customize-btn-color(
	$btn-bs-class, $btn-bg-color, $btn-border-color: $btn-bg-color,
	$btn-color: white, $btn-shadow-width: .2rem
) {
	$hover-bg-color: darken($btn-bg-color, 7.5%);
	$hover-border-color: darken($btn-border-color, 10%);

	&#{$btn-bs-class} {
		color: $btn-color;
		background-color: $btn-bg-color;
		border-color: $btn-border-color;

		&:hover {
			color: $btn-color;
			background-color: $hover-bg-color;
			border-color: $hover-border-color;
		}

		&:focus, &.focus {
			color: $btn-color;
			background-color: $hover-bg-color;
			border-color: $hover-border-color;
			box-shadow: 0 0 0 $btn-shadow-width rgba(mix($btn-color, $btn-border-color, 15%), .5);
		}

		&.disabled, &:disabled {
			color: $btn-color;
			background-color: $btn-bg-color;
			border-color: $btn-border-color;
		}

		&:not(:disabled):not(.disabled):active, &:not(:disabled):not(.disabled).active,
		.show > &.dropdown-toggle {
			color: $btn-color;
			background-color: darken($btn-bg-color, 10%);
			border-color: darken($btn-border-color, 12.5%);
		}

		&:not(:disabled):not(.disabled):active:focus, &:not(:disabled):not(.disabled).active:focus,
		.show > &.dropdown-toggle:focus {
			box-shadow: 0 0 0 $btn-shadow-width rgba(mix($btn-color, $btn-border-color, 15%), .5);
		}
	}
}
