////////////////////////////////////////////////////////////////////////////
//                      Responsive display handling                       //
////////////////////////////////////////////////////////////////////////////
// Breakpoints:                                                           //
// 0px              768px                              992px              //
// xs                md                                 lg                //
// |         vars.$small-breakpoint           vars.$large-breakpoint      //
// |                 |                                  |                 //
// |-----------------|----------------------------------|---------------> //
// |                 |                                  |                 //
// K----- small -----X------------- medium -------------X---- large ----> //
// |                 |                                  |                 //
////////////////////////////////////////////////////////////////////////////

@use '../variables' as vars;

@mixin small-screens-only {
	@include _smaller-displays-only(vars.$small-breakpoint) {
		@content;
	}
}

@mixin not-for-small-screens {
	@include _bigger-displays-only(vars.$small-breakpoint) {
		@content;
	}
}

@mixin medium-screens-only {
	@include _between-displays(vars.$small-breakpoint, vars.$large-breakpoint) {
		@content;
	}
}

@mixin not-for-medium-screens {
	@include _outside-displays(vars.$small-breakpoint, vars.$large-breakpoint) {
		@content;
	}
}

@mixin large-screens-only {
	@include _bigger-displays-only(vars.$large-breakpoint) {
		@content;
	}
}

@mixin not-for-large-screens {
	@include _smaller-displays-only(vars.$large-breakpoint) {
		@content;
	}
}

// Internals
@mixin _smaller-displays-only($breakpoint) {
	@media (max-width: $breakpoint) {
		@content;
	}
}

@mixin _bigger-displays-only($breakpoint) {
	@media (min-width: $breakpoint) {
		@content;
	}
}

@mixin _between-displays($min_breakpoint, $max_breakpoint) {
	@media (min-width: $min_breakpoint) and (max-width: $max_breakpoint) {
		@content;
	}
}

@mixin _outside-displays($min_breakpoint, $max_breakpoint) {
	@media (max-width: $min_breakpoint), (min-width: $max_breakpoint) {
		@content;
	}
}
