// Ubuntu fonts
$_weights: (
	thin: 100,
	light: 300,
	normal: normal,	// 400
	medium: 500,
	bold: bold     	// 700
);
$_styles: (
	normal: normal,
	italic: italic
);
$_stretches: (
	normal: normal,
	condensed: condensed
);

$_ubuntu-font-data: (
	(
		name: 'Ubuntu',
		src: 'Ubuntu-B.ttf',
		weight: bold,
		style: normal,
		stretch: normal,
		format: "truetype"
	),
	(
		name: 'Ubuntu',
		src: 'Ubuntu-BI.ttf',
		weight: bold,
		style: italic,
		stretch: normal,
		format: "truetype"
	),
	(
		name: 'Ubuntu',
		src: 'Ubuntu-C.ttf',
		weight: normal,
		style: normal,
		stretch: condensed,
		format: "truetype"
	),
	(
		name: 'Ubuntu Condensed',
		src: 'Ubuntu-C.ttf',
		weight: normal,
		style: normal,
		stretch: normal,
		format: "truetype"
	),
	(
		name: 'Ubuntu',
		src: 'Ubuntu-L.ttf',
		weight: light,
		style: italic,
		stretch: normal,
		format: "truetype"
	),
	(
		name: 'Ubuntu',
		src: 'Ubuntu-LI.ttf',
		weight: light,
		style: italic,
		stretch: normal,
		format: "truetype"
	),
	(
		name: 'Ubuntu',
		src: 'Ubuntu-M.ttf',
		weight: medium,
		style: normal,
		stretch: normal,
		format: "truetype"
	),
	(
		name: 'Ubuntu',
		src: 'Ubuntu-MI.ttf',
		weight: medium,
		style: italic,
		stretch: normal,
		format: "truetype"
	),
	(
		name: 'Ubuntu Mono',
		src: 'UbuntuMono-B.ttf',
		weight: bold,
		style: normal,
		stretch: normal,
		format: "truetype"
	),
	(
		name: 'Ubuntu Mono',
		src: 'UbuntuMono-BI.ttf',
		weight: bold,
		style: italic,
		stretch: normal,
		format: "truetype"
	),
	(
		name: 'Ubuntu Mono',
		src: 'UbuntuMono-R.ttf',
		weight: normal,
		style: normal,
		stretch: normal,
		format: "truetype"
	),
	(
		name: 'Ubuntu Mono',
		src: 'UbuntuMono-RI.ttf',
		weight: normal,
		style: italic,
		stretch: normal,
		format: "truetype"
	),
	(
		name: 'Ubuntu',
		src: 'Ubuntu-R.ttf',
		weight: normal,
		style: normal,
		stretch: normal,
		format: "truetype"
	),
	(
		name: 'Ubuntu',
		src: 'Ubuntu-RI.ttf',
		weight: normal,
		style: italic,
		stretch: normal,
		format: "truetype"
	),
	(
		name: 'Ubuntu',
		src: 'Ubuntu-Th.ttf',
		weight: thin,
		style: italic,
		stretch: normal,
		format: "truetype"
	),
);

@each $font-data in $_ubuntu-font-data {
	@font-face {
		src: url("/assets/fonts/ubuntu/#{map-get($font-data, src)}") format(map-get($font-data, format)),
		     local(map-get($font-data, name));
		font: {
			family: map-get($font-data, name);
			weight: map-get($_weights, map-get($font-data, weight));
			style: map-get($_styles, map-get($font-data, style));
			stretch: map-get($_stretches, map-get($font-data, stretch));
		}
	}
}
