---
layout: layouts/menued-article
main_class: about-me
pv_styles:
    - dev: 'timeline.min.css'
      prod: 'timeline.min.css'
    - dev: 'bootstrap-slider.css'
      prod: 'bootstrap-slider.min.css'
# timeline.prod.min.js has issues, so let's use dev's version!
pv_scripts:
    - dev: 'timeline.min.js'
      prod: 'timeline.min.js'
    - dev: 'bootstrap-slider.js'
      prod: 'bootstrap-slider.min.js'
pc_scripts:
    - base/animations/fade-in.js
    - components/timeline/timeline.js
    - components/skills/skill.js
    - components/skills/skill-rate-slider.js
    - components/skills/skill-filter-form.js
    - components/scrollspy.js
    - pages/about-me.js
blabla_id: blabla
titles:
    - "&Agrave; propos de moi"
    - "Qui suis-je ?"
    - "Qu'ai-je fait ?"
    - "Que sais-je faire ?"
    - "O&ugrave; suis-je ?"
spy_ids:
    - title
    - whoami
    - career
    - skills
    - octopus
sktags_cats:
    skills: "Comp&eacute;tences"
    web: "Technologies Web"
    qt: "Technologies Qt/QML (hors JavaScript)"
    js: "JavaScript"
    java: "Technologies Java"
    bdd: "Bases de donn&eacute;es"
    other_code: "Codage autres"
    tests: "Tests"
    other_project: "D&eacute;veloppement hors codage et tests"
    dev_tools: "Outils &amp; logiciels de d&eacute;veloppement"
    nodev_tools: "Outils &amp; logiciels hors d&eacute;veloppement"
    other_tools: "Autres outils &amp; logiciels"
    os: "Syst&egrave;mes d'exploitation"
    other: "Autres"
skill_tags:
    itlang:
        label: "Langage informatique"
        cat: other_code
    dev_web:
        label: "D&eacute;veloppement Web"
        cat: skills
    dev_app:
        label: "D&eacute;veloppement d'applications"
        cat: skills
    php:
        label: "<abbr title=\"PHP: Hypertext Processor\">PHP</abbr>"
        cat: web
    backend:
        label: "Back-end"
        cat: web
    frontend:
        label: "Front-end"
        cat: web
    symfony:
        label: "Symfony"
        cat: web
    template:
        label: "Templates"
        cat: web
    cms:
        label: "<abbr title=\"Content Management System\">CMS</abbr>"
        cat: web
    ecommerce:
        label: "E-commerce"
        cat: web
    orm:
        label: "Mapping objet-relationnel"
        cat: bdd
    bdd:
        label: "Bases de donn&eacute;es"
        cat: bdd
    ssg:
        label: "G&eacute;n&eacute;rateur de sites statiques"
        cat: web
    pkgmgr:
        label: "Gestionnaire de paquets"
        cat: web
    css:
        label: "<abbr title=\"Cascade StyleSheets\">CSS</abbr>"
        cat: web
    js:
        label: "JavaScript"
        cat: js
    library:
        label: "Librairies"
        cat: other_code
    framework:
        label: "Cadriciel"
        cat: other_code
    shell:
        label: "Interpr&eacute;teur de commande"
        cat: other_code
    nodejs:
        label: "Node.js"
        cat: js
    sgbd:
        label: "<abbr title=\"Syst&egrave;me de Gestion de Bases de Donn&eacute;es\">SGBD</abbr>"
        cat: bdd
    gui:
        label: "Interfaces graphiques"
        cat: qt
    c:
        label: "Langage C"
        cat: other_code
    cpp:
        label: "Langage C++"
        cat: qt
    qt:
        label: "Qt"
        cat: qt
    qml:
        label: "<abbr title=\"Qt Modeling Language\">QML</abbr>"
        cat: qt
    java:
        label: "Java"
        cat: java
    wora:
        label: "Technologie <abbr title=\"Write Once, Run Anywhere\">WORA</abbr>"
        cat: other_code
    jplateform:
        label: "Plateforme Java"
        cat: java
    tests:
        label: "Tests"
        cat: tests
    unit_tests:
        label: "Tests unitaires"
        cat: tests
    xunit:
        label: "Tests xUnit"
        cat: tests
    int_tests:
        label: "Tests d'int&eacute;gration"
        cat: tests
    func_tests:
        label: "Tests fonctionnels"
        cat: tests
    ci:
        label: "Int&eacute;gration continue"
        cat: tests
    javase:
        label: "Java SE"
        cat: java
    dotnet:
        label: ".NET"
        cat: other_code
    windows:
        label: "Windows"
        cat: os
    linux:
        label: "Linux"
        cat: os
    script_int:
        label: "Langage avec interpr&eacute;teur de script"
        cat: other_code
    dev_mob:
        label: "D&eacute;veloppement mobile"
        cat: other_code
    vmlang:
        label: "Langage &agrave; machine virtuelle"
        cat: other_code
    os:
        label: "Syst&egrave;me d'exploitation"
        cat: os
    server:
        label: "Serveur"
        cat: web
    http_server:
        label: "Serveur <abbr title=\"HyperText Transfer Protocol\">HTTP</abbr>"
        cat: web
    app_server:
        label: "Serveur d'application"
        cat: web
    it_tool:
        label: "Outil informatique"
        cat: dev_tools
    autobuild:
        label: "Automatisation de construction"
        cat: dev_tools
    apache:
        label: "Apache"
        cat: web
    vers:
        label: "Logiciel de gestion de versions"
        cat: dev_tools
    git:
        label: "git"
        cat: dev_tools
    bzr:
        label: "Bazaar"
        cat: dev_tools
    gest_proj:
        label: "Gestion de projets"
        cat: other_project
    auto_tests:
        label: "Automatisation de tests"
        cat: tests
    forge:
        label: "Forge logicielle"
        cat: other_project
    gitlab:
        label: "GitLab"
        cat: other_project
    soft_dev:
        label: "Logiciel pour d&eacute;velopper"
        cat: dev_tools
    software:
        label: "Logiciel"
        cat: other_tools
    ide:
        label: "<abbr title=\"Environnement de D&eacute;veloppement Int&eacute;gr&eacute;\">EDI</abbr>"
        cat: dev_tools
    eclipse:
        label: "Eclipse"
        cat: dev_tools
    intellij:
        label: "IntelliJ"
        cat: dev_tools
    python:
        label: "Python"
        cat: other_code
    rust:
        label: "Langage Rust"
        cat: other_code
    web_lang:
        label: "\"Langages HTML5\" (<abbr title=\"HyperText Markup Language\">HTML
            </abbr>, <abbr title=\"Cascade StyleSheets\">CSS</abbr> et
            <abbr title=\"JavaScript\">JS</abbr>)"
        cat: web
    microsoft:
        label: "Microsoft"
        cat: other
    mysql:
        label: "MySQL"
        cat: bdd
    office_soft:
        label: "Logiciel de bureautique"
        cat: nodev_tools
    img_soft:
        label: "Logiciel de manipulation d'image"
        cat: nodev_tools
    web_app:
        label: "Application Web"
        cat: other
    irl_lang:
        label: "Langue"
        cat: skills
    intra_tool:
        label: "Gestion d'outils informatiques &agrave; usage interne"
        cat: skills
    foss_cont:
        label: "Contributions open-source"
        cat: skills
    analytics:
        label: "Mesure de statistiques Web"
        cat: web
# skills.*.tag are kept as JSON lists in order to keep a reasonable number of lines
skills:
    php:
        name: "<abbr title=\"PHP: Hypertext Processor\">PHP</abbr>"
        rate: 4
        used_there: true
        tags: [dev_web, php, backend, itlang, web_lang, script_int]
    fuel_php:
        name: "Fuel PHP"
        rate: 3
        used_there: false
        tags: [dev_web, php, backend, orm, framework]
    symfony:
        name: "Symfony"
        rate: 1
        used_there: true
        tags: [dev_web, php, backend, symfony, framework]
    twig:
        name: "Twig"
        rate: 3
        used_there: true
        tags: [dev_web, php, frontend, template, symfony]
    thelia2:
        name: "Thelia 2"
        rate: 3
        used_there: false
        tags: [dev_web, php, backend, symfony, cms, ecommerce, foss_cont]
    smarty:
        name: "Smarty"
        rate: 2
        used_there: false
        tags: [dev_web, php, frontend, template]
    php_unit:
        name: "PHP Unit"
        rate: 3
        used_there: false
        tags: [dev_web, php, backend, framework, tests, unit_tests, xunit]
    propel:
        name: "Propel"
        rate: 3
        used_there: false
        tags: [dev_web, php, backend, orm, bdd]
    sculpin:
        name: "Sculpin"
        rate: 3
        used_there: true
        tags: [dev_web, php, symfony, ssg]
    wordpress:
        name: "WordPress"
        rate: 1
        used_there: false
        tags: [dev_web, php, backend, cms]
    drupal7:
        name: "Drupal 7"
        rate: 2
        used_there: false
        tags: [dev_web, php, backend, cms]
    dolibarr:
        name: "Dolibarr"
        rate: 2
        used_there: false
        tags: [dev_web, php, backend, intra_tool, foss_cont]
    piwik:
        name: "Matomo (autrefois Piwik)"
        rate: 2
        used_there: false
        tags: [dev_web, php, backend, analytics, intra_tool, foss_cont]
    composer:
        name: "Composer"
        rate: 3
        used_there: true
        tags: [dev_web, php, pkgmgr]
    html:
        name: "<abbr title=\"HyperText Markup Language\">HTML</abbr>"
        rate: 4
        used_there: true
        tags: [dev_web, itlang, web_lang, frontend]
    css:
        name: "<abbr title=\"Cascade StyleSheets\">CSS</abbr>"
        rate: 3
        used_there: true
        tags: [dev_web, itlang, web_lang, frontend, css]
    sass:
        name: "<abbr title=\"Sassy CSS\">SCSS</abbr> (Sass)"
        rate: 4
        used_there: true
        tags: [dev_web, itlang, web_lang, frontend, css]
    bootstrap:
        name: "Bootstrap"
        rate: 3
        used_there: true
        tags: [dev_web, itlang, frontend, css, js]
    javascript:
        name: "JavaScript"
        rate: 4
        used_there: true
        tags: [dev_web, dev_app, itlang, web_lang, backend, frontend, js]
    json:
        name: "JSON"
        rate: 5
        used_there: true
        tags: [dev_web, dev_app, backend, js]
    rest:
        name: "Architecture <abbr title=\"REpresentational State Transfer\">REST</abbr>"
        rate: 4
        used_there: false
        tags: [dev_web, dev_app, backend]
    jquery:
        name: "jQuery"
        rate: 3
        used_there: true
        tags: [dev_web, js, library, frontend]
    nodejs:
        name: "Node.js"
        rate: 3
        used_there: true
        tags: [dev_web, dev_app, script_int, backend, js, http_server]
    npm:
        name: "<abbr title=\"Node Package Manager\">NPM</abbr>"
        rate: 2
        used_there: true
        tags: [dev_web, nodejs, pkgmgr, js, microsoft]
    typescript:
        name: "TypeScript"
        rate: 2
        used_there: false
        tags: [dev_web, frontend]
    sql:
        name: "SQL"
        rate: 3
        used_there: false
        tags: [bdd, itlang]
    mysql:
        name: "MySQL / MariaDB"
        rate: 3
        used_there: false
        tags: [bdd, sgbd, mysql]
    oracle:
        name: "Oracle Database"
        rate: 1
        used_there: false
        tags: [bdd, sgbd]
    db2:
        name: "DB2"
        rate: 1
        used_there: false
        tags: [bdd, sgbd]
    sqlserver:
        name: "SQL Server"
        rate: 1
        used_there: false
        tags: [bdd, sgbd, microsoft]
    c:
        name: "C"
        rate: 4
        used_there: false
        tags: [itlang, c]
    cpp:
        name: "C++"
        rate: 4
        used_there: false
        tags: [itlang, cpp]
    gtk:
        name: "GTK"
        rate: 3
        used_there: false
        tags: [itlang, framework, gui, c]
    qt:
        name: "Qt"
        rate: 5
        used_there: false
        tags: [dev_app, itlang, framework, gui, cpp, qt]
    qtquick:
        name: "Qt Quick"
        rate: 4
        used_there: false
        tags: [dev_app, qt, qml, js, gui]
    qml:
        name: "QML"
        rate: 5
        used_there: false
        tags: [dev_app, itlang, qt, qml, gui]
    java:
        name: "Java"
        rate: 4
        used_there: false
        tags: [dev_app, dev_web, itlang, java, wora, vmlang, mobile]
    javase:
        name: "Java SE"
        rate: 4
        used_there: false
        tags: [dev_app, java, jplateform, javase, intra_tool]
    javaee:
        name: "Java EE"
        rate: 2
        used_there: false
        tags: [dev_web, java, jplateform, backend]
    junit:
        name: "JUnit"
        rate: 3
        used_there: false
        tags: [java, framework, tests, unit_tests, xunit]
    swing:
        name: "Swing"
        rate: 3
        used_there: false
        tags: [java, javase, library, gui]
    jdbc:
        name: "JDBC"
        rate: 2
        used_there: false
        tags: [java, javase, orm]
    jfreechart:
        name: "JFreeChart"
        rate: 3
        used_there: false
        tags: [java, library, gui]
    rust:
        name: "Rust"
        rate: 3
        used_there: false
        tags: [itlang, rust]
    csharp:
        name: "C#"
        rate: 2
        used_there: false
        tags: [itlang, dotnet, wora, microsoft]
    dotnet:
        name: ".NET"
        rate: 2
        used_there: false
        tags: [dotnet, microsoft]
    python3:
        name: "Python 3"
        rate: 3
        used_there: false
        tags: [itlang, script_int, python]
    bash:
        name: "<abbr title=\"Bourne-Again SHell\">BASH</abbr>"
        rate: 3
        used_there: true
        tags: [itlang, shell, linux]
    powershell:
        name: "PowerShell"
        rate: 4
        used_there: true
        tags: [itlang, shell, windows, linux, microsoft]
    dart:
        name: "Dart"
        rate: 2
        used_there: false
        tags: [dev_web, itlang, vmlang, dev_mob]
    android:
        name: "Android"
        rate: 1
        used_there: false
        tags: [dev_mob, os, android]
    apache:
        name: "Apache HTTP Server"
        rate: 2
        used_there: true
        tags: [dev_web, server, apache, http_server]
    glassfish:
        name: "Glassfish"
        rate: 1
        used_there: false
        tags: [dev_web, server, app_server, java]
    make:
        name: "make"
        rate: 3
        used_there: false
        tags: [it_tool, autobuild, c, cpp]
    qmake:
        name: "QMake"
        rate: 4
        used_there: false
        tags: [it_tool, autobuild, qt]
    cmake:
        name: "CMake"
        rate: 2
        used_there: false
        tags: [it_tool, autobuild, c, cpp]
    ant:
        name: "Apache Ant"
        rate: 2
        used_there: false
        tags: [it_tool, autobuild, java, apache]
    subversion:
        name: "Subversion (SVN)"
        rate: 3
        used_there: false
        tags: [it_tool, vers]
    git:
        name: "git"
        rate: 3
        used_there: true
        tags: [it_tool, vers, git]
    bazaar:
        name: "Bazaar"
        rate: 4
        used_there: false
        tags: [it_tool, vers, bzr]
    redmine:
        name: "Redmine"
        rate: 3
        used_there: false
        tags: [it_tool, web_app, gest_proj]
    casperjs:
        name: "CasperJS"
        rate: 2
        used_there: false
        tags: [dev_web, tests, func_tests, js, auto_tests]
    quicktestpro:
        name: "HP <abbr title=\"QuickTest Professional\">QTP</abbr> (d&eacute;sormais Micro Focus <abbr title=\"Unified Functional Testing\">UFT</abbr>)"
        rate: 1
        used_there: false
        tags: [software, it_tool, tests, func_tests, auto_tests]
    jenkins:
        name: "Jenkins (et Hudson)"
        rate: 3
        used_there: false
        tags: [it_tool, server, ci, int_tests, auto_tests]
    gitlab_ci:
        name: "GitLab CI"
        rate: 3
        used_there: true
        tags: [forge, ci, gitlab]
    github:
        name: "GitHub"
        rate: 4
        used_there: false
        tags: [forge, git, microsoft]
    gitlab:
        name: "GitLab"
        rate: 4
        used_there: true
        tags: [forge, git, gitlab]
    launchpad:
        name: "Launchpad"
        rate: 4
        used_there: false
        tags: [forge, bzr]
    eclipse:
        name: "Eclipse"
        rate: 4
        used_there: false
        tags: [software, soft_dev, ide, eclipse, java]
    pydev:
        name: "PyDev"
        rate: 3
        used_there: false
        tags: [software, soft_dev, ide, eclipse, python]
    intellij:
        name: "IntelliJ IDEA"
        rate: 4
        used_there: false
        tags: [software, soft_dev, ide, intellij, java, rust]
    phpstorm:
        name: "PhpStorm"
        rate: 3
        used_there: false
        tags: [dev_web, software, soft_dev, ide, intellij, web_lang, backend]
    android_studio:
        name: "Android Studio"
        rate: 3
        used_there: false
        tags: [dev_mob, software, soft_dev, ide, intellij, android]
    netbeans:
        name: "Apache NetBeans"
        rate: 3
        used_there: false
        tags: [dev_web, dev_app, software, soft_dev, ide, java, web_lang]
    qt_creator:
        name: "Qt Creator"
        rate: 5
        used_there: false
        tags: [software, soft_dev, ide, dev_app, cpp, qml, qt]
    vscode:
        name: "Visual Studio Code"
        rate: 4
        used_there: true
        tags: [dev_web, software, soft_dev, ide, microsoft]
    visual_studio:
        name: "Visual Studio"
        rate: 3
        used_there: false
        tags: [dev_web, dev_app, software, soft_dev, ide, microsoft]
    xampp:
        name: "XAMPP"
        rate: 4
        used_there: true
        tags: [dev_web, software, linux, apache, mysql, php, windows, server, backend]
    gitkraken:
        name: "GitKraken"
        rate: 4
        used_there: true
        tags: [software, soft_dev, it_tool, git]
    phpmyadmin:
        name: "phpMyAdmin"
        rate: 3
        used_there: false
        tags: [dev_web, it_tool, web_app, bdd, mysql, php, backend]
    msoffice:
        name: "Microsoft Office"
        rate: 4
        used_there: false
        tags: [software, office_soft, microsoft]
    libreoffice:
        name: "LibreOffice"
        rate: 4
        used_there: false
        tags: [software, office_soft]
    gimp:
        name: "<abbr title=\"GIMP Image Manipulation Program\">GIMP</abbr>"
        rate: 3
        used_there: false
        tags: [software, img_soft]
    inkscape:
        name: "Inkscape"
        rate: 2
        used_there: true
        tags: [software, img_soft]
    windows:
        name: "Windows"
        rate: 4
        used_there: false
        tags: [os, microsoft, windows]
    linux:
        name: "Linux"
        rate: 4
        used_there: true
        tags: [os, linux]
    ubuntu:
        name: "Ubuntu"
        rate: 4
        used_there: true
        tags: [os, linux]
    english:
        name: "Anglais"
        rate: 4
        used_there: true
        tags: [irl_lang]
    spanish:
        name: "Espagnol"
        rate: 2
        used_there: false
        tags: [irl_lang]
skill_scale:
    - scale: 0
      title: "D&eacute;butant"
      description: "Je ne connais quasiment rien l&agrave; dessus."
    - scale: 1
      title: "Connaissances th&eacute;oriques"
      description: "J'ai des connaissances th&eacute;oriques sur le sujet, mais je manque cruellement de pratique."
    - scale: 2
      title: "Autonome -"
      description: "Je suis autonome sur le sujet, mais je peux encore avoir besoin d'aide quelques fois."
    - scale: 3
      title: "Autonome"
      description: "Je suis autonome sur le sujet, sans avoir besoin d'aide."
    - scale: 4
      title: "Autonome +"
      description: "Je suis autonome sur le sujet et je peux aider les autres si n&eacute;cessaire."
    - scale: 5
      title: "Architecte"
      description: "Je ma&icirc;trise la technologie sur le bout des doigts.
        Je sais ce que peux faire avec et comment le faire."
life_events:
    - date: "25 F&eacute;vrier 1988"
      name: "Le d&eacute;but"
      description: "Naissance &agrave; Clermont-Ferrand."
    - date: "22 Ao&ucirc;t 1998"
      name: "La remontada"
      description: "L'Olympique de Marseille gagne 4-5 &agrave; Montpellier&nbsp;
        apr&egrave;s avoir &eacute;t&eacute; men&eacute;e 4-0 &agrave; la&nbsp;
        mi-temps. <q>Ils ne savaient pas que c'&eacute;tait impossible, alors&nbsp;
        ils l'ont fait.</q> Depuis c'est mon &eacute;quipe de football&nbsp;
        pr&eacute;f&eacute;r&eacute;e."
    - date: "No&euml;l 2002"
      name: "Le premier rien qu'&agrave; moi"
      description: "Ce jour-l&agrave; j'ai eu mon premier ordinateur personnel.&nbsp;
        Il ne fonctionnait pas toujours correctement, donc je me suis&nbsp;
        jur&eacute; qu'un jour j'arriverai &agrave; dompter ces machins l&agrave;."
    - date: "Juin 2002"
      name: "Le brevet"
      description: "<strong>Brevet des coll&egrave;ges</strong> obtenu au&nbsp;
        coll&egrave;ge du Beffroi (Billom, Puy de D&ocirc;me)."
    - date: "Juin 2005"
      name: "Le BAC"
      description: "<strong>Baccalaur&eacute;at scientifique</strong> obtenu au lyc&eacute;e&nbsp;
        Ren&eacute; DESCARTES (Cournon d'Auvergne, Puy de D&ocirc;me),&nbsp;
        avec la mention assez-bien."
    - date: "Septembre 2005-Juin 2008"
      name: "La pr&eacute;pa"
      description: "<strong>Classe pr&eacute;paratoire aux grandes&nbsp;
        &eacute;coles</strong> au lyc&eacute;e La Fayette (Clermont-Ferrand,&nbsp;
        Puy de D&ocirc;me). D'abord <abbr title=\"Math&eacute;matiques&nbsp;
        Physique et Sciences de l'Ing&eacute;nieur\">MPSI</abbr>&nbsp;
        (<q>Maths Sup</q>), puis <abbr title=\"Math&eacute;matiques et&nbsp;
        Physique\">MP</abbr> (<q>Maths Sp&eacute;</q>). C'est ici, &agrave;&nbsp;
        force de <a href=\"https://fr.wikipedia.org/wiki/Maple\">Maple</a>&nbsp;
        et de programmation sur ma calculatrice (d&eacute;j&agrave; au&nbsp;
        lyc&eacute;e), que mon go&ucirc;t pour la programmation a pris le pas&nbsp;
        sur les math&eacute;matiques.<br/><br/>
        Un jour le professeur d'informatique a dit que 80% du travail se&nbsp;
        faisait sur le papier. Je ne voulais pas le croire, mais il avait raison."
    - date: "Octobre 2008-Septembre 2011"
      name: "L'&eacute;cole d'informatique"
      description: "Trois ans &agrave; <strong>l'<abbr title=\"Institut&nbsp;
        Sup&eacute;rieur d'Informatique, de Mod&eacute;lisation et de leurs&nbsp;
        Applications\">ISIMA</abbr> (Clermont-Ferrand,&nbsp;
        Puy de D&ocirc;me)</strong>. C'est ici que j'ai vraiment appris &agrave;&nbsp;
        programmer, avec d'abord le C, puis C++, C&sharp; et Java. Passion&nbsp;
        de la programmation oblige, le choix de la fili&egrave;re&nbsp;
        <strong>G&eacute;nie logiciel et syst&egrave;mes</strong> fut une&nbsp;
        &eacute;vidence. La mod&eacute;lisation m'a aussi fait&nbsp;
        pr&eacute;f&eacute;r&eacute; la partie conception du programme, des&nbsp;
        fameux 80% sur le papier.<br/><br/>
        C'est aussi l&agrave; que j'ai compris trois choses tr&egrave;s&nbsp;
        importantes. La premi&egrave;re est que <strong>le meilleur&nbsp;
        outil est avant tout celui que l'on ma&icirc;trise.</strong>&nbsp;
        C'est pourquoi j'ai d&eacute;cid&eacute; de <a href=\"soft-advices.html\">
        vous les conseiller ici</a>.<br/><br/>
        C'est aussi l&agrave; que j'ai entam&eacute; une sorte de lutte&nbsp;
        contre la difficult&eacute; &agrave; cr&eacute;er des interfaces&nbsp;
        graphiques. En premi&egrave;re ann&eacute;e nous avons eu un TP&nbsp;
        sur X11, o&ugrave; nous &eacute;tions l&acirc;ch&eacute;s sans&nbsp;
        explications et sans connaissances sur le sujet. Ce fut un TP&nbsp;
        difficile, mais par la suite j'ai jur&eacute; de ne pas me laisser&nbsp;
        d&eacute;passer par les interfaces graphiques. D'o&ugrave; <strong>GTK+</strong>&nbsp;
        (qui m'a valu quelques bons points lors de futurs TP &agrave;&nbsp;
        l'ISIMA), puis <strong>Qt</strong> et <strong>QML</strong> et enfin&nbsp;
        <strong>CSS</strong> que je n'allais pas laisser &ecirc;tre ma&nbsp;
        b&ecirc;te noire ad vitam &aelig;ternam. La le&ccedil;on de tout&nbsp;
        &ccedil;a est qu'<strong>il ne faut pas laisser se faire submerger&nbsp;
        par les technologies dans lesquelles on a des lacunes et qu'il ne&nbsp;
        faut pas h&eacute;siter &agrave; prendre le taureau par les cornes&nbsp;
        les concernant</strong>. C'est d'ailleurs avec cette id&eacute;e&nbsp;
        en t&ecirc;te que j'avais d&eacute;cid&eacute; d'apprendre les bases&nbsp;
        du d&eacute;veloppement Web de mon c&ocirc;t&eacute; (avec&nbsp;
        <strong>HTML</strong>, CSS et <strong>JavaScript</strong>) alors&nbsp;
        que l'ISIMA&nbsp;ne proposait pas de vrai cours de Web &agrave;&nbsp;
        cette &eacute;poque."
    - date: "Avril-Septembre 2010"
      name: "Le premier stage"
      description: "<strong>Mon tout premier stage en entreprise</strong>,&nbsp;
        &agrave; IP Leanware (d&eacute;sormais Braincube), situ&eacute;e&nbsp;
        &agrave; Issoire (Puy de D&ocirc;me). Leur produit&nbsp;
        principal n'affichait que des graphiques statiques comme des images&nbsp;
        et j'avais &eacute;t&eacute; recrut&eacute; afin de cr&eacute;er&nbsp;
        quelque chose permettant de les afficher de mani&egrave;re dynamique,&nbsp;
        comme ce que ferait un tableur type Microsoft Excel.<br/><br/>
        C'&eacute;tait un travail que j'ai effectu&eacute; seul sous la&nbsp;
        responsabilit&eacute; de mon chef de projet. Nous utilisions alors&nbsp;
        des technologies tr&egrave;s ax&eacute;es Sun Microsystems :&nbsp;
        <strong>Java</strong> (Java SE, Java EE), <strong>Netbeans</strong>,&nbsp;
        ou encore <strong>MySQL</strong>."
    - date: "Avril-Septembre 2011"
      name: "Le second stage"
      description: "<strong>Mon second stage en entreprise, &agrave; Almerys</strong>,&nbsp;
        situ&eacute; &agrave; Clermont-Ferrand (Puy de D&ocirc;me).&nbsp;
        L'entreprise, tr&egrave;s connue pour ses solutions en mati&egrave;re&nbsp;
        de sant&eacute;, d&eacute;veloppait aussi des solutions en mati&egrave;re&nbsp;
        de d&eacute;mat&eacute;rialisation. J'ai &eacute;t&eacute; recrut&eacute;&nbsp;
        afin d'aider au d&eacute;veloppement du produit de signature&nbsp;
        &eacute;lectronique.<br/><br/>
        Lors de ce stage, j'ai collabor&eacute; &agrave; la maintenance et &agrave;&nbsp;
        l'&eacute;volution de ce produit (int&eacute;gration de nouveaux clients),&nbsp;
        ainsi qu'au suivi et &agrave; l'&eacute;volution d'un outil annexe&nbsp;
        (mais n&eacute;anmoins tr&egrave;s important puisqu'il aidait &agrave;&nbsp;
        la facturation). J'ai collabor&eacute; au codage et aux tests de ces&nbsp;
        deux outils, notamment &agrave; l'automatisation des tests fonctionnels&nbsp;
        dont j'ai eu la charge.<br/><br/>
        Pour cela j'ai travaill&eacute; au sein d'une &eacute;quipe d'une&nbsp;
        demi-douzaine de d&eacute;veloppeurs, sous la responsabilit&eacute;&nbsp;
        de la cheffe de projet. Nous utilisions alors des technologies&nbsp;
        tr&egrave;s ax&eacute;es IBM, avec notamment <strong>DB2</strong>&nbsp;
        et <abbr title=\"Rational Application Developer\">RAD</abbr>. Nous&nbsp;
        utilisions &eacute;galement <strong>Java</strong> (Java SE, Java EE)&nbsp;
        et Hudson l'anc&ecirc;tre de Jenkins.<br/><br/>
        &Agrave; titre personnel j'ai &eacute;galement beaucoup appris&nbsp;
        humainement et en mati&egrave;re de savoir-&ecirc;tre en entreprise&nbsp;
        l&agrave; bas."
    - date: "Janvier-Juillet 2014"
      name: "Mon premier CDD"
      description: "<strong>Mon premier contrat de d&eacute;veloppeur.</strong>&nbsp;
        Ce fut &agrave; <strong>Code Couleurs</strong>, une agence Web situ&eacute;e&nbsp;
        &agrave;&nbsp;Vic-le-Comte (Puy de D&ocirc;me). Ce fut en tant que&nbsp;
        <strong>D&eacute;veloppeur Web</strong> dans le cadre d'un&nbsp;
        <strong><abbr title=\"Contrat &agrave; dur&eacute;e d&eacute;termin&eacute;e\">
        CDD</abbr> de 6 mois</strong>.<br/><br/>
        L&agrave; bas j'ai collabor&eacute; &agrave; la maintenance et&nbsp;
        &agrave; l'&eacute;volution de divers sites et outils internes&nbsp;
        &agrave; destination des entreprises, notamment dans le domaine&nbsp;
        de la planification. Je m'occupais principalement du c&ocirc;t&eacute;&nbsp;
        back-office. J'ai &eacute;galement eu pour mission de contribuer&nbsp;
        &agrave; des solutions open-source et &agrave; int&eacute;grer des&nbsp;
        factures au format PDF.<br/><br/>
        J'effectuais mon travail seul, en lien avec mon chef de projet.&nbsp;
        Nous utilisions des technologies classiques dans le d&eacute;veloppement&nbsp;
        Web : <strong>Linux</strong>, <strong>Apache</strong>, <strong>MySQL</strong>&nbsp;
        et <strong>PHP</strong> (en version 5), ainsi que <strong>HTML</strong>&nbsp;
        et <strong>JavaScript</strong> (avec <strong>jQuery</strong> parmi&nbsp;
        les principales biblioth&egrave;ques utilis&eacute;es). C&ocirc;t&eacute;&nbsp;
        PHP, nous utilisions le framework MVC <strong>FuelPHP</strong>, mais&nbsp;
        aussi le <abbr title=\"Content Management System\">CMS</abbr>&nbsp;
        <strong>Drupal</strong> (en version 7), le logiciel de statistiques&nbsp;
        Web <strong>Piwik</strong> (d&eacute;sormais Matomo) et&nbsp;
        le logiciel de facturation <strong>Dolibarr</strong>.<br/><br/>
        J'avais &eacute;t&eacute; recrut&eacute; dans le cadre d'une augmentation&nbsp;
        de travail. L'entreprise n'ayant pu maintenir cette augmentation,&nbsp;
        je dus quitter Code Couleurs &agrave; la fin de mon CDD.<br/><br/>
        Code Couleurs fut &eacute;galement le cadre d'un de mes challenges&nbsp;
        les plus marquants. J'&eacute;tais d&eacute;butant en PHP avant de&nbsp;
        postuler chez eux. Je suis all&eacute; &agrave; l'entretien avec&nbsp;
        juste un tutoriel en t&ecirc;te afin de limiter la casse. Ils ont&nbsp;
        malgré tout d&eacute;cid&eacute; de me faire confiance. J'ai alors&nbsp;
        pass&eacute; le mois entre le moment o&ugrave; j'ai d&eacute;croch&eacute;&nbsp;
        le poste et celui o&ugrave; j'ai pris mes fonctions &agrave; travailler&nbsp;
        PHP &agrave; fond. Je n'ai alors eu aucun probl&egrave;me avec PHP&nbsp;
        pendant tout le long de mon contrat et je m'en suis sorti mieux que ce&nbsp;
        que mes employeurs esp&eacute;raient. La moralit&eacute; de tout cela&nbsp;
        est que <strong>je saisis ma chance si on me la donne</strong>."
    - date: "Mars-Septembre 2015"
      name: "Mon second CDD"
      description: "<strong>Mon deuxi&egrave;me contrat de d&eacute;veloppeur.</strong>&nbsp;
        Ce fut &agrave; <strong>OpenStudio</strong>, une agence Web situ&eacute;e&nbsp;
        &agrave; Clermont-Ferrand (Puy de D&ocirc;me). Ce fut en tant que&nbsp;
        <strong>D&eacute;veloppeur Web</strong> dans le cadre d'un&nbsp;
        <strong><abbr title=\"Contrat &agrave; dur&eacute;e d&eacute;termin&eacute;e\">
        CDD</abbr> de 6 mois</strong>.<br/><br/>
        L&agrave; bas, j'ai collabor&eacute; &agrave; la maintenance et&nbsp;
        &agrave; l'&eacute;volution de divers sites en lien avec les aides&nbsp;
        pour des travaux de r&eacute;novation &eacute;cologique (type \"isolation&nbsp;
        &agrave; 1 &euro;\"). J'&eacute;tais plus particuli&egrave;rement&nbsp;
        sp&eacute;cialis&eacute; dans le calcul des aides financi&egrave;s,&nbsp;
        pour lesquelles j'avais la responsabilit&eacute; de veiller &agrave;&nbsp;
        ce qu'elles soienbt parfaitement justes.<br/><br/>
        J'effectuais mon travail au sein d'une &eacute;quipe de 4-5&nbsp;
        d&eacute;veloppeurs, sous la responsabilit&eacute; de notre chef&nbsp;
        de projet. OpenStudio &eacute;tant la maison-m&egrave;re du&nbsp;
        <abbr title=\"Content Management System\">CMS</abbr> e-commerce&nbsp;
        <strong>Thelia</strong> bas&eacute; sur <strong>Symfony</strong>,&nbsp;
        c'est tout naturellement que nombre de projets sur lesquels j'ai&nbsp;
        collabor&eacute; utilisaient cette technologie l&agrave;. J'ai&nbsp;
        &eacute;galement eu &agrave; travailler sur un projet utilisant&nbsp;
        <strong>Drupal</strong> (en version 7). Pour le reste nous utilisions&nbsp;
        des technologies classiques dans le cadre du d&eacute;veloppement Web :&nbsp;
        <strong>Linux</strong>, <strong>Apache</strong>, <strong>MySQL</strong>&nbsp;
        et <strong>PHP</strong> (en version 5), ainsi que <strong>HTML</strong>&nbsp;
        et <strong>JavaScript</strong> (avec <strong>jQuery</strong> parmi&nbsp;
        les principales biblioth&egrave;ques utilis&eacute;es). C&ocirc;t&eacute;&nbsp;
        PHP, nous utilisions donc <strong>Thelia</strong>, bas&eacute; sur&nbsp;
        <strong>Symfony</strong>, <strong>Propel</strong> et <strong>Smarty</strong>.<br/><br/>
        J'ai quitt&eacute; OpenStudio suite &agrave; la fin de ma mission&nbsp;
        l&agrave; bas."
    - date: "Septembre 2015-"
      name: "&Agrave; la recherche de mon prochain projet professionnel"
      description: "<strong>Recherche d'emploi</strong>, avec moult candidatures&nbsp;
        d&eacute;bouchant souvent sur des entretiens, mais pas encore sur&nbsp;
        un contrat.<br/><br/>
        Je me maintiens en mati&egrave;re d'informatique. Ce domaine &nbsp;
        &eacute;volue vite et il est n&eacute;cessaire de se tenir &agrave;&nbsp;
        jour. Cela vaut autant pour l'actualit&eacute; que pour les&nbsp;
        technologies &eacute;mergentes, pour lequel un petit coup d'&oelig;il&nbsp;
        peut s'imposer (par exemple : <strong>Node.js</strong>,&nbsp;
        <strong>Powershell</strong> et Rust). Il ne faut pas oublier la&nbsp;
        langue anglaise, indispensable dans l'informatique &agrave; partir&nbsp;
        d'un certain point. Enfin j'aide &eacute;galement mes proches &agrave;&nbsp;
        r&eacute;soudre leurs divers probl&egrave;mes informatiques au quotidien,&nbsp;
        ce qui requiert une certaine capacit&eacute; de vulgarisation quant&nbsp;
        &agrave; ce qui arrive &agrave; leurs chers ordinateurs.<br/><br/>
        <strong>Ce n'est pas parce que je suis loin de l'informatique d'un&nbsp;
        point de vue professionnel que je suis loin de l'informatique tout&nbsp;
        court, bien au contraire.</strong> Je me dois d'&ecirc;tre pr&ecirc;t&nbsp;
        pour le jour o&ugrave; je retournerai en entreprise."
    - date: "Janvier 2020-"
      name: "Ce site"
      description: "<strong>Conception de ce site Internet.</strong> Je pourrais&nbsp;
        en parler ici, mais <a href=\"efolio.html\">il existe un autre endroit ici-m&ecirc;me</a>&nbsp;
        o&ugrave; je le fais et je vous donne rendez-vous l&agrave; bas pour cela."
    - date: "F&eacute;vrier 2020-"
      name: "Auto-formations Open Classrooms"
      description: "<strong>Formations en ligne</strong> afin de montrer ce&nbsp;
        que je sais faire sur des technologies de 2020.<br/><br/>
        Elles concernent <a href=\"https://openclassrooms.com/fr/courses/6106181-simplifiez-vous-le-css-avec-sass\">
        <strong>Sass (SCSS)</strong></a>, en attendant <strong>Symfony</strong>&nbsp;
        et <strong>WordPress</strong> dans leurs derni&egrave;res versions."
---
{# spies is supposed to be defined in the layout #}

{% set blabla_widget_class = 'article-section__widget' %}

<h1 id="{{ spies[0].id }}" class="{{ page.blabla_id }}__title page-title">{{ page.titles[0]|raw }}</h1>
<p class="{{ page.blabla_id }}__chapo chapo">O&ugrave; l'on parle de mon parcours, de mes comp&eacute;tences et de mes projets.</p>
{# About me #}
<section id="{{ spies[1].id }}" class="{{ page.blabla_id }}__section article-section">
	<h2 class="article-section__title">{{ page.titles[1]|raw }}</h2>
	<p class="article-section__intro">{{ site.me.fullname }}, geek auvergnat et fier de l'&ecirc;tre.</p>
	<p class="article-section__p">
		Intrigu&eacute; depuis toujours par les ordinateurs, j'ai petit
		&agrave; petit pris go&ucirc;t au d&eacute;veloppement informatique
		pour son c&ocirc;t&eacute; G&eacute;o Trouvetou, &agrave; savoir
		trouver et mettre en place les solutions &agrave; un probl&egrave;me
		donn&eacute;. On dit que 80% du d&eacute;veloppement informatique se
		fait sur le papier le stylo &agrave; la main, &agrave; poser ses
		id&eacute;es sur le papier. C'est le moment o&ugrave; l'on
		con&ccedil;oit le programme, o&ugrave; l'on r&eacute;fl&eacute;chit
		(beaucoup) &agrave; comment il doit se comporter pour faire ce qu'on
		lui demande de faire et o&ugrave; l'on traduit nos besoins en termes
		informatiques, en recherchant les meilleures solutions possibles
		pour cela. C'est vrai et c'est m&ecirc;me le meilleur moment de la
		programmation.
	</p>
	<p class="article-section__p">
		Mais il n'y a pas que l'informatique dans la vie. J'aime bien ma
		r&eacute;gion auvergnate. Il fait bon y vivre, l'herbe y est verte
		et je ne ressens pas le besoin d'aller voir si l'herbe est plus
		verte ailleurs. <q>Si ce n'est pas cass&eacute; alors ne le
		r&eacute;pare pas</q>, comme on dit en informatique (<q>If it ain't
		broke, don't fix it</q>). J'aime aussi suivre les &eacute;quipes de
		sport que j'aime bien, tout particuli&egrave;rement l'Olympique de
		Marseille et l'ASM Clermont Auvergne, et quelques fois aller les
		voir au stade. J'aime bien aussi les jeux vid&eacute;o parce qu'ils
		sont l'agencement ing&eacute;nieux de plein de composantes
		(vid&eacute;o, musique, graphismes, &eacute;l&eacute;ments
		ludiques...), le tout sur une base informatique parce qu'un jeu
		vid&eacute;o est un programme informatique comme un autre. On ne se
		refait pas.
	</p>
</section>
{# My career #}
<section id="{{ spies[2].id }}" class="{{ page.blabla_id }}__section article-section">
	<h2 class="article-section__title">{{ page.titles[2]|raw }}</h2>
	<p class="article-section__intro">
		Si vous n'&ecirc;tes int&eacute;ress&eacute;s que par le c&ocirc;t&eacute;
		strictement professionnel de ma vie, vous pouvez t&eacute;l&eacute;charger
		mon CV &agrave; cette adresse : <a href="{{ site.me.resume_url }}">
		{{ site.me.resume_url }}</a> (en fran&ccedil;ais et au format PDF).
	</p>
	{{ include('components/timeline/timeline.twig.html', {
		life_events: page.life_events,
		other_classes: [ blabla_widget_class ]
	}) }}
	<p class="article-section__p">
		<q>Ce que j'ai fait</q> comporte &eacute;galement tous les projets j'ai
		auxquels collabor&eacute; en entreprise ainsi que tous mes projets
		personnels. Pour en savoir plus &agrave; ce sujet, veuillez consulter
		<a href="efolio.html">mon cyberfolio</a>.
	</p>
</section>
{# My skills #}
<section id="{{ spies[3].id }}" class="{{ page.blabla_id }}__section article-section">
	<h2 class="article-section__title">{{ page.titles[3]|raw }}</h2>
	<p class="article-section__intro">
		Voici mes comp&eacute;tences. Celles <span class="skill--used_there">en vert</span>
		ont &eacute;t&eacute; utilis&eacute;es pour la r&eacute;alisation de ce site. Vous pouvez
		&eacute;galement les retrouver sur mon CV &agrave; cette adresse :
		<a href="{{ site.me.resume_url }}">{{ site.me.resume_url }}</a>
		(en fran&ccedil;ais et au format PDF).
	</p>
	{{ include("layouts/skills/skills.twig.html", {
		skills: page.skills,
		skill_tags: page.skill_tags,
		skill_scale: page.skill_scale,
		skill_tags_cat: page.sktags_cats,
		other_classes: [ blabla_widget_class ]
	}) }}
	{{ include("layouts/skills/skill-scale.twig.html", {
		skill_scale: page.skill_scale,
		other_classes: [ blabla_widget_class ]
	}) }}
</section>
{# Me on the Web #}
<section id="{{ spies[4].id }}" class="{{ page.blabla_id }}__section article-section">
	<h2 class="article-section__title">{{ page.titles[4]|raw }}</h2>
	<p class="article-section__p">
		Il n'y a qu'un seul moi sur Internet. Tous les endroits o&ugrave;
		pouvez le retrouver sont list&eacute;s <a href="octopus.html">ici</a>.
	</p>
</section>
