---
layout: layouts/page-article
main_class: contact
pc_scripts:
    - components/contact/dl-vcard.js
    - pages/contact.js
---
{% set private_anchor = '%s-private'|format(main_class) %}

<h1 class="{{ main_class }}__title blabla__title page-title">Me contacter</h1>
<p class="{{ main_class }}__chapo blabla__chapo chapo">O&ugrave; l'on peut me joindre.</p>

<section class="{{ main_class }}__section article-section">
	<h2 class="article-section__title">Par courriel</h2>
	<p class="article-section__p">
		Le moyen le plus simple pour me joindre reste le courriel, &agrave; cette adresse :
		<strong><a href="mailto:{{ site.me.email }}">{{ site.me.email }}</a></strong>.
	</p>
</section>

<section class="{{ main_class }}__section article-section">
	<h2 class="article-section__title">Par messagerie</h2>
	<p class="article-section__p">Je suis &eacute;galement joignable sur plusieurs messageries.</p>
	{# TODO: style for markers #}
	<ul>
		<li class="article-section__p">
			Sur <strong>Skype</strong> : <a href="skype:{{ site.me.skype_pro }}?chat">{{ site.me.skype_pro }}</a>.
			C'est une adresse &agrave; usage professionnel. Il en existe
			une autre, mais <a href="#{{ private_anchor }}">c'est priv&eacute;</a>.
		</li>
		<li class="article-section__p">
			Sur <strong>Jabber</strong> : <a href="xmpp:{{ site.me.jabber }}">{{ site.me.jabber }}</a>.
		</li>
		<li class="article-section__p">
			Sur <strong>WhatsApp</strong>, <a href="{{ site.me.whatsapp_url }}">ici</a>.
		</li>
		<li class="article-section__p">
			Sur <strong>Zoom</strong>, <a href="{{ site.me.zoom_url }}">ici</a>.
		</li>
	</ul>
</section>

<section class="{{ main_class }}__section article-section">
	<h2 class="article-section__title">Par t&eacute;l&eacute;phone</h2>
	<p class="article-section__p">
		Vous pouvez aussi me joindre par t&eacute;l&eacute;phone. Je ne souhaite pas
		l'&eacute;crire noir sur blanc sur ce site, mais il reste n&eacute;anmoins
		disponible sur <a href="{{ site.me.resume_url }}">mon CV</a>.
	</p>
</section>

<section class="{{ main_class }}__section article-section">
	<h2 class="article-section__title">Par courrier</h2>
	<p class="article-section__p">
		Je souhaite garder l'adresse de mon domicile
		<a href="#{{ private_anchor }}">priv&eacute;e</a>. Il vous faudra donc
		me contacter si vous la voulez.
	</p>
</section>

<section class="{{ main_class }}__section article-section">
	<h2 class="article-section__title">Ailleurs sur Internet</h2>
	<p class="article-section__p">
		Cette section pouvant se r&eacute;v&eacute;ler (tr&egrave;s) longue,
		j'ai pr&eacute;f&eacute;r&eacute; en faire <a href="octopus.html">une page
		d&eacute;di&eacute;e</a>.
	</p>	
</section>

<section id="{{ private_anchor }}" class="{{ main_class }}__section article-section">
	<h2 class="article-section__title">Le reste, c'est priv&eacute; !</h2>
	<p class="article-section__p">
		Il existe d'autres moyens pour me joindre. Mais j'estime que ceux-ci sont
		priv&eacute;s et n'ont pas &agrave; &ecirc;tre &eacute;crits ici noir sur blanc.
		Comme dit le proverbe, <q>nous n'avons pas suffisamment gard&eacute; les
		cochons ensemble</q> pour que je vous les donne comme &ccedil;a ici de
		mani&egrave;re spontan&eacute;e. Il vous faudra me les demander si vous
		les voulez.
	</p>
</section>

<section class="{{ main_class }}__section article-section">
	<h2 class="article-section__title">Voici ma carte !</h2>
	<p class="article-section__p">
		Voici ma carte, au format <a href="https://fr.wikipedia.org/wiki/VCard">vCard</a>.
		Toutes mes informations de contact sont disponibles l&agrave; dessus.
		Vous pouvez voir son contenu en l'ouvrant avec votre application de contacts
		pr&eacute;f&eacute;r&eacute;e sur votre smartphone ou avec votre
		messagerie &eacute;lectronique sur votre PC. Ou encore, si vous
		&ecirc;tes un geek, avec un &eacute;diteur de texte puisqu'une vCard est
		un fichier texte.
	</p>
	{{ include('components/contact/dl-vcard.twig.html', {
		vcard_default_version: 21
	}) }}
</section>
