---
layout: layouts/page-article
main_class: efolio
pc_scripts:
    - base/animations/fade-in.js
    - components/it-project.js
    - pages/efolio.js
pro_efolio:
    - title: "Contribution &agrave; l'ERP <a href=\"https://www.dolibarr.org\">Dolibarr</a>"
      project_date: 'Mai 2014'
      project_logo:
        url: 'assets/img/efolio/dolibarr_logo.png'
        need_dark: false
      urls:
        - 'https://github.com/Dolibarr/dolibarr/pull/1605'
      description: "Suppression multiple pour les produits et les services&nbsp;
        dans les devis, les factures et les commandes clients. C'est une&nbsp;
        fonctionnalit&eacute; que nous avions impl&eacute;ment&eacute;&nbsp;
        pour notre propre Dolibarr&nbsp;et que nous avions voulu&nbsp;
        reverser &agrave; la communaut&eacute;."
      my_roles:
        - 'codage de la solution'
        - 'gestion de la contribution &agrave; Dolibarr'
      technologies:
        - name: 'PHP'
          why: 'du bon vieux PHP bien clich&eacute; comme on n''en fait&nbsp;
            plus et comme personne ne veut plus en faire.'
    - title: 'CC Piwik'
      project_date: 'Juin 2014'
      urls:
        - 'https://github.com/code-couleurs/cc_piwik'
      description: '<abbr title="Code Couleurs Piwik">CC Piwik</abbr> est&nbsp;
        une interface PHP pour la <a href="http://developer.piwik.org/api-reference/reporting-api">
        Piwik Reporting API</a>.'
      my_roles:
        - 'cr&eacute;ation de la solution (architecture du code + codage)'
      technologies:
        - name: 'PHP 5'
          why: 'La librairie a &eacute;t&eacute; &eacute;crite en PHP.'
    - title: 'Piwik-autologin'
      project_date: 'Juillet 2014'
      urls:
        - 'https://github.com/code-couleurs/drupal-piwik-autologin'
      description: 'Plugin Drupal pour se connecter automatiquement &agrave;&nbsp;
        partir d''un site sous Drupal &agrave; l''installation de&nbsp;
        <a href="https://matomo.org">Matomo</a> (anciennement "Piwik")&nbsp;
        mesurant les statistiques Web de ce dernier.'
      my_roles:
        - 'codage du plugin'
        - 'gestion de la soumission du plugin &agrave; Drupal'
      technologies:
        - name: 'Drupal 7'
          why: 'le projet est un plugin Drupal.'
    - title: 'Contributions au CMS e-commerce <a href="https://thelia.net">Thelia</a>'
      project_date: 'Mars-Septembre 2015'
      project_logo:
        url: 'assets/img/efolio/logo_thelia.png'
        need_dark: false
      urls:
        - 'https://github.com/thelia/thelia/pull/1325'
        - 'https://github.com/thelia/thelia/pull/1395'
        - 'https://github.com/thelia/thelia/pull/1396'
        - 'https://github.com/thelia/thelia/pull/1397'
        - 'https://github.com/thelia/thelia/pull/1531'
      description: 'Contributions &agrave; Thelia que j''ai r&eacute;ealis&eacute;&nbsp;
        dans le cadre de mon travail chez <a href="https://www.openstudio.fr">OpenStudio</a>.'
      my_roles:
        - 'codage des contributions'
        - 'relations avec les personnes s''occupant de Thelia concernant&nbsp;
          lesdites contributions'
      technologies:
        - name: 'Thelia 2'
          why: 'l''objet de mes contributions.'
        - name: 'PHP'
          why: 'Thelia est &eacute;crit en PHP.'
        - name: 'Smarty'
          why: 'langage de template alors utilis&eacute; par Thelia 2.'
    - title: 'Contributions &agrave; des <a href="http://modules.thelia.net">modules Thelia 2</a>'
      project_date: 'Mars-Septembre 2015'
      project_logo:
        url: 'assets/img/efolio/thelia_modules.png'
        need_dark: true
      urls:
        - 'https://github.com/thelia-modules/CustomerFamily/pull/1'
        - 'https://github.com/thelia-modules/SoColissimo'
      description: 'Maintenance et &eacute;volutions de modules Thelia existants.'
      my_roles:
        - 'codage de la maintenance (ou de l''&eacute;volution)'
        - 'soumission des travaux sous forme de contribution open-source'
        - 'relations avec la personne responsable du module au sein de l''entreprise'
      technologies:
        - name: 'Thelia 2'
          why: 'ce sont des modules pour Thelia 2.'
        - name: 'PHP'
          why: 'les modules sont &eacute;crits en PHP.'
        - name: 'Smarty'
          why: 'langage de template alors utilis&eacute; par Thelia 2.'
        - name: 'HTML'
          why: 'modifications dans les templates li&eacute;es au module.'
    - title: 'Page d''estimation de travaux'
      project_date: 'Avril-Mai 2015'
      project_logo:
        url: 'assets/img/efolio/peretti_logo.png'
        need_dark: true
      urls:
        - 'https://www.peretti.fr/estimez-vos-travaux-estimez-vos-gains'
      description: 'Page de simulation de co&ucirc;ts de travaux et d''aides&nbsp;
        financi&egrave;res pouvant financer ces travaux.'
      my_roles:
        - 'cr&eacute;tion du module Drupal charg&eacute; de calculer les&nbsp;
        aides financi&egrave;res'
        - 'codage du backend de celui-ci'
      technologies:
        - name: 'Drupal 7'
          why: 'la page est propuls&eacute;e par un module Drupal.'
    - title: 'Module Thelia "Free online products alert"'
      project_date: 'Juin 2015'
      project_logo:
        url: 'assets/img/efolio/thelia_modules.png'
        need_dark: true
      urls:
        - 'http://modules.thelia.net/free-online-products-alert.html'
        - 'https://github.com/thelia-modules/GratisOnlineAlert'
      description: 'Module Thelia permettant d''&ecirc;tre averti lorsqu''un&nbsp;
        produit devient gratuit. Il permet d''envoyer des courriels &agrave;&nbsp;
        des clients int&eacute;ress&eacute; par le produit gratuit.'
      my_roles:
        - 'cr&eacute;ation du module'
        - 'gestion de la maintenance de celui-ci'
        - 'soumission du module &agrave; l''&eacute;quipe interne charg&eacute;e&nbsp;
          de g&eacute;rer les <a href="http://modules.thelia.net">modules Thelia</a>'
      technologies:
        - name: 'Thelia 2'
          why: 'ce sont des modules pour Thelia 2.'
        - name: 'PHP'
          why: 'les modules sont &eacute;crits en PHP.'
        - name: 'Smarty'
          why: 'langage de template alors utilis&eacute; par Thelia 2.'
        - name: 'HTML'
          why: 'modifications dans les templates li&eacute;es au module.'
    - title: 'Module Thelia "Diaporama manager"'
      project_date: 'Juin 2015'
      project_logo:
        url: 'assets/img/efolio/thelia_modules.png'
        need_dark: true
      urls:
        - 'http://modules.thelia.net/diaporama-manager.html'
        - 'https://github.com/thelia-modules/Diaporamas'
      description: 'Module Thelia pour ins&eacute;rer des diaporamas dans des descriptions.'
      my_roles:
        - 'cr&eacute;ation du module'
        - 'gestion de la maintenance de celui-ci'
        - 'aide &agrave; l''int&eacute;gration du module dans un projet'
        - 'soumission du module &agrave; l''&eacute;quipe interne
          charg&eacute;e de g&eacute;rer les&nbsp;
          <a href="http://modules.thelia.net">modules Thelia</a>'
      technologies:
        - name: 'Thelia 2'
          why: 'ce sont des modules pour Thelia 2.'
        - name: 'SQL'
          why: 'gestion des diaporamas dans la base de donn&eacute;es de Thelia.'
    - title: 'Simulations d''aides financi&egrave;res pour des travaux &eacute;cologiques'
      project_date: 'Juillet-Septembre 2015'
      project_logo:
        url: 'assets/img/efolio/Hello_bank!_Logo.png'
        need_dark: false
      urls:
        - 'https://www.hellobank.fr/fr/client/notre-offre/credit/credits-consommation/souscription'
      description: 'Syst&egrave;me de calcul de co&ucirc;ts de travaux et&nbsp;
        d''aides financi&egrave;res pour des travaux. L''utilisateur rentre&nbsp;
        les r&eacute;sultats de son&nbsp;
        <abbr title="Diagnostic Pr&eacute;-&Eacute;nerg&eacute;tique">DPE</abbr>&nbsp;
        ainsi que des donn&eacute;es personnelles. Sachant cela, le syst&egrave;me&nbsp;
        calcule les &eacute;conomies &eacute;nerg&eacute;tiques possibles&nbsp;
        ainsi que de potentielles aides financi&egrave;res pouvant financer&nbsp;
        les travaux (cr&eacute;dit d''imp&ocirc;ts, pr&ecirc;ts &agrave; taux&nbsp;
        z&eacute;ro&hellip;). Dans le cas de ce client (Hello Bank), on&nbsp;
        rajoute la possibilit&eacute; d''un pr&ecirc;t de la part de la banque.<br/>
        Voir le lien n&eacute;cessite d''avoir un espace client chez Hello&nbsp;
        Bank. N''ayant pas un espace personnel chez eux, je suppose que le lien
        que je vous donne est celui vers le projet auquel j''ai contribu&eacute;&nbsp;
        &agrave; l''&eacute;poque.'
      my_roles:
        - 'mise en place des aides financi&egrave;res'
        - 'suivi des formules de calcul des aides et des avantages&nbsp;
          propos&eacute;s par Hello Bank'
        - 'codage de l''export des donn&eacute;es'
        - 'codage de diverses t&acirc;ches en backend'
      technologies:
        - name: 'Thelia 2'
          why: 'le syst&egrave;me est propuls&eacute; par Thelia 2.'
own_efolio:
    - title: 'Reyn Tweets'
      project_date: 'D&eacute;cembre 2011-Ao&ucirc;t 2013'
      project_logo:
        url: 'assets/img/efolio/ReynTweets_logo.svg'
        need_dark: false
      urls:
        - 'https://launchpad.net/reyn-tweets'
        - 'https://github.com/air-dex/reyn-tweets'
        - 'https://gitlab.com/air-dex/reyn-tweets'
      description: 'Client Twitter pour Windows, Linux et Symbian^3&nbsp;
        &eacute;crit en Qt.<br/>
        J''avais d&eacute;cid&eacute; de cr&eacute;er ce client Twitter car&nbsp;
        je ne trouvais pas de clients Twitter qui me satisfasse. J''ai alors&nbsp;
        pris la d&eacute;cision d''utiliser mes talents de d&eacute;veloppeur&nbsp;
        afin de me cr&eacute;er quelque chose qui soit comme je le d&eacute;sire.<br/>
        Le client Twitter devait tourner sur mes plateformes du moment : Windows,&nbsp;
        Linux et Symbian^3 (mon smartphone du moment &eacute;tait un&nbsp;
        <a href="https://fr.wikipedia.org/wiki/Nokia_N8">Nokia N8-00</a>).&nbsp;
        D''o&ucirc; le choix de Qt pour ce d&eacute;veloppement multiplateformes.<br/>
        Le nom "Reyn Tweets" vient de ma passion pour le jeu vid&eacute;o&nbsp;
        <a href="https://fr.wikipedia.org/wiki/Xenoblade_Chronicles"><em>Xenoblade Chronicles</em></a>.&nbsp;
        L''une des citations les plus connues du jeu est <q>Now it''s Reyn time!</q>,&nbsp;
        que j''ai d&eacute;form&eacute; en <q>now it''s <strong>Reyn Tweets</strong>!</q>&nbsp;
        afin de nommer ce logiciel.'
      technologies:
        - name: 'Qt'
          why: 'la technologie de base sur laquelle reprose le logiciel.'
        - name: 'QML'
          why: 'le langage utilis&eacute; pour la conception de l''interface.'
        - name: 'JavaScript'
          why: 'utilis&eacute; pour l''interface, avec en plus l''int&eacute;gration&nbsp;
            de librairies JavaScript n''&eacute;tant pas con&ccedil;ues pour&nbsp;
            fonctionner sur une interface en QML.'
        - name: 'QMake'
          why: 'pour l''automatisation de la compilation.'
        - name: 'Architecture REST'
          why: 'l''API de Twitter est une API REST, qu''il aura fallu dompter.'
        - name: 'OAuth'
          why: 'm&eacute;thode d''authentification utilis&eacute;e par Twitter.'
        - name: 'Python 3'
          why: 'gestion du multiplateforme pourles cibles Makefile suppl&eacute;mentaires.'
        - name: 'Doxygen'
          why: 'pour la documentation.'
    - title: 'Traduction de Tweetian'
      project_date: 'Novembre 2012-Mai 2013'
      project_logo:
        url: 'assets/img/efolio/Tweetian.svg'
        need_dark: false
      urls:
        - 'https://www.transifex.com/dicksonleong/tweetian/tweetian/'
      description: 'Collaboration &agrave; la traduction du client Twitter
        <a href="https://github.com/dicksonleong/Tweetian">Tweetian</a>.<br/>
        Tweetian &eacute;tait &agrave; l''&eacute;poque mon client Twitter de
        pr&eacute;dilection sur mon smartphone Nokia sous Symbian (Nokia N8-00).
        L''application n''&eacute;tait initialement disponible qu''en anglais.
        Mais un jour son d&eacute;veloppeur a d&eacute;cid&eacute; de l''ouvrir
        aux autres lanques moyennant une traduction communautaire. Je me suis
        dit que si je voulais mon client Twitter en fran&ccedil;ais alors
        c''&eacute;tait une occasion en or pour aller me le chercher. C''est
        ainsi que j''ai particip&eacute; &agrave; sa traduction en fran&ccedil;ais
        et &agrave; la maintenance de celle-ci.'
      technologies:
        - name: 'Transifex'
          why: 'la plateforme de traduction.'
        - name: 'Anglais'
          why: 'la langue de base de Tweetian, &agrave; conna&icirc;tre pour bien traduire.'
    - title: 'libRT'
      project_date: 'Ao&ucirc;t 2013-Septembre 2013'
      urls:
        - 'https://gitlab.com/air-dex/librt'
        - 'https://launchpad.net/librt'
      description: 'Librairie pour g&eacute;rer des API REST en Qt.<br/>
        La conception de cette librairie est en fait plus ancienne que le&nbsp;
        <q>Ao&ucirc;t 2013</q> mentionn&eacute; ici. LibRT est&nbsp;
        &agrave; l''origine la partie du code de Reyn Tweets charg&eacute;e&nbsp;
        d''interagir avec Twitter ainsi que tous les autres services tiers&nbsp;
        (parmi lesquels <a href="https://www.twitlonger.com">TwitLonger</a>).&nbsp;
        La cr&eacute;ation de cette librairie vient d''une volont&eacute;&nbsp;
        de ma part d''isoler la brique connexion de Reyn Tweets afin d''en&nbsp;
        faire une lbrairie s&eacute;par&eacute; qui soit r&eacute;utlisable&nbsp;
        dans d''autres projets.<br/>
        J''ai ensuite d&eacute;cid&eacute; d''aller encore plus loin en&nbsp;
        mettant en place une structure g&eacute;n&eacute;rique sur laquelle&nbsp;
        tous les services utilisant libRT viendraient s''appuyer de&nbsp;
        mani&eacute;re ind&eacute;pendante les uns des autres, sans par&nbsp;
        exemple que la partie Twitter n''ait des d&eacute;pendances chez&nbsp;
        Disqus ou TwitLonger et vice-versa.<br/>
        Le nom "libRT" signifie <q><strong>lib</strong>rairie&nbsp;
        <strong>R</strong>eyn <strong>T</strong>weets</q>, en&nbsp;
        r&eacute;f&eacute;rence &agrave; ses origines. J''ai aussi choisi&nbsp;
        ce nom car l''abr&eacute;viation sonne comme le mot <q>libert&eacute;</q>.'
      technologies:
        - name: 'Qt'
          why: 'la technologie de base sur laquelle reprose le logiciel.'
        - name: 'QMake'
          why: 'pour l''automatisation de la compilation.'
        - name: 'Architecture REST'
          why: 'libRT doit g&eacute;rer des API REST.'
        - name: 'OAuth'
          why: 'isol&eacute; parmi les utilitaires de la librairie.'
        - name: 'Python 3'
          why: 'gestion du multiplateforme pourles cibles Makefile suppl&eacute;mentaires.'
        - name: 'Doxygen'
          why: 'pour la documentation.'
    - title: 'Reyn Tests'
      project_date: 'Octobre 2013'
      urls:
        - 'https://gitlab.com/air-dex/reyn-tests'
        - 'https://github.com/air-dex/reyn-tests'
        - 'https://launchpad.net/reyn-tests'
      description: 'Surcouche de <a href="https://doc.qt.io/qt-5/qttest-index.html">Qt&nbsp;
        Test</a> afin de simuler des suites de tests.<br/>
        Lors de l''&eacute;criture de tests unitaires pour un projet personnel,&nbsp;
        probablement Reyn Tweets ou libRT, je d&eacute;plorais l''absence de&nbsp;
        la possibilité d''&eacute;crire des suites de tests. J''ai alors&nbsp;
        d&eacute;cid&eacute; d''&eacute;crire cette surcouche afin de pouvoir&nbsp;
        simuler ces suites de tests &agrave; la mani&egrave;re de xUnit&nbsp;
        (JUnit, PHPUnit, &hellip;) que je voulais utiliser.<br/>
        Le nom est de ce projet est compos&eacute; du <q>Reyn</q> commun&nbsp;
        &agrave; mes pr&eacute;c&eacute;dents projets ainsi que du mot&nbsp;
        <q>Tests</q> pour souligner ce dont il est question.'
      technologies:
        - name: 'Qt'
          why: 'la base pour la surcouche, notamment le module Qt Test.'
        - name: 'QMake'
          why: 'pour l''automatisation de la compilation.'
        - name: 'Python 3'
          why: 'gestion du multiplateforme pourles cibles Makefile suppl&eacute;mentaires.'
        - name: 'Doxygen'
          why: 'pour la documentation.'
    - title: 'Bing Wallpaper'
      project_date: 'Mai-Septembre 2015'
      urls:
        - 'https://github.com/air-dex/bing_wallpaper'
      description: 'Calendrier d''images Bing du jour pour Windows et Linux.<br/>
        Je voulais une telle application, qui au passage permettrait de&nbsp;
        pouvoir d&eacute;finir lesdites images en tant que papier-peint.&nbsp;
        J''avais alors trouv&eacute; un site Internet affichant les images&nbsp;
        Bing selon leur pays et leur date. J''avais aussi r&eacute;ussi&nbsp;
        &agrave; percer les myst&egrave;res de son API maison et &agrave;&nbsp;
        r&eacute;cup&eacute;rer les images comme je le voulais gr&acirc;ce&nbsp;
        &agrave; elle. Mais le site n''existe plus depuis quelques temps&hellip;'
      technologies:
        - name: 'Qt'
          why: 'la technologie de base sur laquelle reprose le logiciel.'
        - name: 'QML'
          why: 'le langage utilis&eacute; pour la conception de l''interface.'
        - name: 'JavaScript'
          why: 'utilis&eacute; pour l''interface, avec en plus l''int&eacute;gration&nbsp;
            de librairies JavaScript n''&eacute;tant pas con&ccedil;ues pour&nbsp;
            fonctionner sur une interface en QML.'
        - name: 'QMake'
          why: 'pour l''automatisation de la compilation.'
    - title: 'Dumper'
      project_date: 'Septembre-Octobre 2015'
      urls:
        - 'https://gitlab.com/air-dex/Dumper'
      description: 'Module Thelia 2 pour r&eacute;aliser facilement un&nbsp;
        export de la base de donn&eacute;es &agrave; partir de l''administration&nbsp;
        de Thelia.<br/>
        C''est un projet personnel inachev&eacute; qui m''a un peu servi de&nbsp;
        sas de d&eacute;compression &agrave; la fin de mon contrat chez&nbsp;
        OpenStudio.<br/>
        Le nom vient du mot anglais <q>dump</q> parce qu''avec un anglicisme&nbsp;
        ce module r&eacute;alise des dumps de base de donn&eacute;es.'
      technologies:
        - name: 'Thelia 2'
          why: 'ce sont des modules pour Thelia 2.'
        - name: 'PHP'
          why: 'les modules sont &eacute;crits en PHP.'
        - name: 'Smarty'
          why: 'langage de template alors utilis&eacute; par Thelia 2.'
    - title: 'Reyn Disqus'
      project_date: 'Avril-Mai 2016'
      urls:
        - 'https://github.com/air-dex/reyn-disqus'
      description: 'Client <a href="https://disqus.com">Disqus</a> pour&nbsp;
        Windows, Linux et Android &eacute;crit en Qt.<br/>
        &Agrave; l''instar de Reyn Tweets avec Twitter, ce projet a&nbsp;
        &eacute;t&eacute; motiv&eacute; par la volont&eacute; d''avoir un client&nbsp;
        Disqus qui me convienne sur les plateformes que j''utilise courramment.&nbsp;
        J''utilisais souvent l''application Disqus de mon Windows Phone d''alors&nbsp;
        (un Lumia 1020) et je voulais la m&ecirc;me chose sur mon nouveau&nbsp;
        smartphone de l''&eacute;poque, &agrave; savoir un LG G5.<br/>
        Le nom est compos&eacute; de mon traditionnel <q>Reyn</q> ainsi que&nbsp;
        du service ici vis&eacute;, &agrave; savoir Disqus.'
      technologies:
        - name: 'Qt'
          why: 'la technologie de base sur laquelle reprose le logiciel.'
        - name: 'QMake'
          why: 'pour l''automatisation de la compilation.'
        - name: 'Architecture REST'
          why: 'pour pouvoir communiquer avec l''API de Disqus.'
        - name: 'OAuth'
          why: 'afin de s''authentifier aupr&egrave;s de Disqus sur ce logiciel.'
        - name: 'Python 3'
          why: 'gestion du multiplateforme pourles cibles Makefile suppl&eacute;mentaires.'
        - name: 'Doxygen'
          why: 'pour la documentation.'
    - title: 'DoxyQBS'
      project_date: 'Ao&ucirc;t 2017'
      urls:
        - 'https://github.com/air-dex/doxyqbs'
      description: 'Module <a href="https://doc.qt.io/qbs/index.html">Qbs</a>&nbsp;
        pour g&eacute;n&eacute;rer de la documentation avec&nbsp;
        <a href="https://doc.qt.io/qbs/index.html">Doxygen</a>.<br/>
        Le module a &eacute;t&eacute; con&ccedil;u &agrave; une &eacute;poque&nbsp;
        o&ugrave; les d&eacute;veloppeurs de Qt envisagaient une solution&nbsp;
        maison nomm&eacute;e <abbr title="Qt Building Suite">Qbs</abbr>&nbsp;
        comme successeur de QMake &agrave; l''horizon de Qt 6. Utilisant&nbsp;
        beaucoup Qt dans mes projets personnels, j''avais d&eacute;cid&eacute;&nbsp;
        de m''int&eacute;resser de plus pr&ecirc;t &agrave; Qbs. J''avais&nbsp;
        cod&eacute; ce projet afin de pouvoir facilement g&eacute;n&eacute;rer&nbsp;
        la documentation de mes futurs projets Qt utilisant Qbs. Mais la roue&nbsp;
        a tourn&eacute; depuis et les d&eacute;veloppeurs de Qt ont&nbsp;
        abandonn&eacute; Qbs au profit de <a href="https://cmake.org">CMake</a>&nbsp;
        pour remplacer ce bon vieux QMake&hellip;<br/>
        Le nom du module est bien &eacute;videmment un mot-valise entre&nbsp;
        Doxygen et Qbs.'
      technologies:
        - name: 'Qbs'
          why: 'le projet est un module Qbs.'
        - name: 'QML'
          why: 'Qbs utilisait QML pour ses fichiers de configuration.'
    - title: 'Flickr Browser'
      project_date: 'Janvier-Avril 2019'
      urls:
        - 'https://gitlab.com/air-dex/flickr-browser'
      description: 'Visionneuse photo pour donn&eacute;es personnelles&nbsp;
        <a href="https://www.flickr.com">Flickr</a> hors-ligne.<br/>
        Flickr fut pendant longtemps mon service de pr&eacute;dilection&nbsp;
        pour publier des photos et des albums photos, qu''ils soient publics&nbsp;
        ou plus confidentiels (avec une visibilit&eacute; limit&eacute;e).&nbsp;
        J''utilise la version gratuite de Flickr depuis longtemps, mais&nbsp;
        celle-ci fut fortement limit&eacute;e d&eacute;but 2019, avec&nbsp;
        notamment une limite de 1000 photos maximum que mon compte&nbsp;
        d&eacute;passait largement.<br/>
        Afin de ne pas perdre les pr&eacute;cieux; souvenirs contenus dans&nbsp
        ces photos, j''ai alors d&eacute;cid&eacute; de t&eacute;l&eacute;charger&nbsp;
        mes donn&eacute;es personnelles Flickr et de b&acirc;tir un programme&nbsp;
        capable de consulter les photos et les albums en consultant&nbsp;
        uniquement les donn&eacute;es hors-ligne r&eacute;cup&eacute;r&eacute;es&nbsp;
        aupr&egrave;s de Flickr. Flickr Browser est &eacute;galement&nbsp;
        con&ccedil;u pour pouvoir tourner de mani&egrave;re portable,&nbsp;
        sur une cl&eacute; USB contenant le programme et les donn&eacute;es&nbsp;
        Flickr. Enfin, la visionneuse est con&ccedil;ue en priorit&eacute;&nbsp;
        pour Windows car c''est le syst&egrave;me d''exploitation&nbsp;
        majoritairement utilis&eacute; par ceux souhaitant consulter mes&nbsp;
        (anciennes) photos Flickr sur leurs ordinateurs.<br/>
        Le nom du logiciel vient du fait qu''il permet de parcourir&nbsp;
        (<q>Browse</q>) ce qui &eacute;tait autrefois des donn&eacute;es Flickr.'
      technologies:
        - name: 'Qt'
          why: 'la technologie de base sur laquelle reprose le logiciel.'
        - name: 'QML'
          why: 'le langage utilis&eacute; pour la conception de l''interface.'
        - name: 'QMake'
          why: 'pour l''automatisation de la compilation.'
        - name: 'JSON'
          why: 'les donn&eacute;es r&eacute;cup&eacute;r&eacute;es&nbsp;
            aupr&egrave;s de Flickr sont au format JSON.'
        - name: 'Powershell'
          why: 'gestion du multiplateforme pourles cibles Makefile suppl&eacute;mentaires.'
        - name: 'CMake'
          why: 'pour la compilation de certaines d&eacute;pendances du projet.'
    - title: 'Cielo'
      project_date: 'Juin 2019'
      urls:
        - 'https://gitlab.com/air-dex/cielo'
      description: 'Simulation de classements de football suivant la&nbsp;
        <a href="https://fr.wikipedia.org/wiki/Classement_Elo">m&eacute;thodologie&nbsp;
        ELO</a>.<br/>
        Ce projet est n&eacute; d''une question toute b&ecirc;te que je me&nbsp;
        suis pos&eacute; un jour : <q>et si le classement de Ligue 1&nbsp;
        &eacute;tait un classement ELO ?</q> Je connais depuis longtemps le&nbsp;
        site <a href="https://eloratings.net">World Football Elo Ratings</a>&nbsp;
        qui calcule &ccedil;a pour les s&eacute;lections nationales, du coup j''ai eu&nbsp;
        envie de savoir ce que cela donnait pour un championnat national, en&nbsp;
        l''occurence la Ligue 1.<br/>
        J''ai choisi Rust pour d&eacute;velopper ce programme car je venais&nbsp;
        d''apprendre Rust en autodidacte et je voulais voir ce que je valais&nbsp;
        en Rust loin des tutoriels.<br/>
        Le projet est actuellement en pause parce que je recherche un moyen&nbsp;
        plus satisfaisant de r&eacute;cup&eacute;rer les donn&eacute;es&nbsp;
        footballistiques. Et aussi parce qu''il a d&eacute;j&agrave; rempli&nbsp;
        son principal objectif, &agrave; savoir satisfaire ma curiosit&eacute;.<br/>
        Le nom du programme est un mot-valise entre&nbsp;
        <q><strong>C</strong>hamp<strong>I</strong>onnat</q> et&nbsp;
        <q><strong>Elo</strong></q>. La logique aurait voulu que je conserve&nbsp;
        le <q>h</q> du <q>ch</q> initial de <q><strong>ch</strong>ampionnat</q>,&nbsp;
        mais je n''aime pas la consonnance f&eacute;cale du mot <q>Chielo</q>&nbsp;
        que cela aurait produit. Il y a le mot <q>ciel</q> dans <q>Cielo</q>,&nbsp;
        ce qui est nettement plus joli que <q>chier</q> dans <q>Chielo</q>.'
      technologies:
        - name: 'Rust'
          why: 'Cielo est &eacute;crit dans ce langage.'
        - name: 'CSV et JSON'
          why: 'formats dans lesquels sont les donn&eacute;es actuellement utilis&eacute;es.'
        - name: 'Math&eacute;matiques'
          why: 'pour calculer les points des &eacute;quipes.'
    - title: 'Site personnel'
      project_date: 'Janvier 2020-'
      project_logo:
        url: 'assets/img/rd-icon.svg'
        need_dark: false
      urls:
        - 'index.html'
        - 'https://gitlab.com/air-dex/air-dex.gitlab.io'
      description: '<strong>Vous &ecirc;tes ici.</strong> Pour plus&nbsp;
        d''informations, veuillez aller sur <a href="credits-todo.html">la&nbsp;
        page de ce site</a> qui en parle.'
      technologies:
        - name: 'HTML, CSS et JavaScript'
          why: 'les classiques du Web front-end.'
        - name: 'Sass (format SCSS)'
          why: 'pour les feuilles de style, CSS &eacute;tant trop archa&iuml;que.'
        - name: 'Sculpin'
          why: 'le g&eacute;n&eacute;rateur de site statique utilis&eacute;&nbsp;
            pour concevoir ce site.'
        - name: 'Twig'
          why: 'pour les templates HTML.'
        - name: 'Powershell'
          why: 'script automatisant la g&eacute;n&eacute;ration du site.'
        - name: 'GitLab'
          why: 'forge logicielle utilis&eacute;e pour g&eacute;rer le projet.'
        - name: 'GitLab CI'
          why: 'pour d&eacute;ployer le site en ligne.'
        - name: 'Bootstrap'
          why: 'pour les composants graphiques et le reset.'
        - name: 'Inkscape'
          why: 'pour dessiner la favicon.'
        - name: 'Apache HTTP Server'
          why: 'pour tester le site en local, au del&agrave; du PC de&nbsp;
            d&eacute;veloppement.'
---
{% set efolio_section_class = '%s__section'|format(main_class) %}
<h1 class="{{ main_class }}__title blabla__title page-title">Mon cyberfolio</h1>
<p class="{{ main_class }}__chapo blabla__chapo chapo">
	O&ugrave; l'on parle de projets "<em>made in {{ site.me.fullname }}</em>".
</p>
<p class="{{ main_class }}__intro blabla__intro">
	Certains logiciels et certains sites poss&egrave;dent des morceaux&nbsp;
	de code &eacute;crits de ma main. En voici quelques uns.
</p>
{{ include('layouts/efolio-section.twig.html', {
	section_title: 'Cyberfolio professionnel',
	efolio: page.pro_efolio,
	other_classes: [ efolio_section_class ]
}) }}
{{ include('layouts/efolio-section.twig.html', {
	section_title: 'Cyberfolio personnel',
	efolio: page.own_efolio,
	other_classes: [ efolio_section_class ]
}) }}
