---
layout: layouts/default
main_class: home
---
{% set hsection_class = '%s__home-section'|format(main_class) %}
<h1 class="{{ main_class }}__title page-title">Bienvenue sur mon site !</h1>

<p class="{{ main_class }}__intro">Appuyez l&agrave; o&ugrave; vous voulez aller.</p>

{{ include('components/home/home-section.twig.html', {
	root_id: 'me-section',
	title: '&Agrave; propos de moi',
	description: 'O&ugrave; je me pr&eacute;sente',
	section_link: 'about-me.html',
	other_classes: [hsection_class]
}) }}

{{ include('components/home/home-section.twig.html', {
	root_id: 'playground-section',
	title: 'The Playground',
	description: 'O&ugrave; je montre et parle de diverses choses',
	section_link: 'playground.html',
	other_classes: [hsection_class]
}) }}
