---
layout: layouts/page-article
main_class: octopus
tentacles:
    - title: 'D&eacute;veloppement informatique'
      profiles:
        - service:
            name: 'GitHub'
            url: 'https://github.com'
          me:
            name: 'air-dex'
            url: 'https://github.com/air-dex'
        - service:
            name: 'GitLab'
            url: 'https://gitlab.com'
          me:
            name: 'air-dex'
            url: 'https://gitlab.com/air-dex'
          more: "C'est la forge logicielle que j'ai tendance &agrave; le plus utiliser
            pour mes projets informatiques personnels."
        - service:
            name: 'Launchpad'
            url: 'https://launchpad.net'
          me:
            name: 'air-dex'
            url: 'https://launchpad.net/~air-dex'
          more: " Cette forge logicielle fut longtemps ma forge de pr&eacute;dilection,
            notamment &agrave; cause de <a href=\"https://fr.wikipedia.org/wiki/Bazaar_(logiciel)\">Bazaar</a>
            qui &eacute;tait bien plus agr&eacute;able &agrave; utiliser que git."
        - service:
            name: 'Stack Exchange'
            url: 'https://stackexchange.com/'
          me:
            name: 'air-dex'
            url: 'https://stackexchange.com/users/1611312/air-dex'
          more: "Mon profil commun pour les sites du r&eacute;seau Stack Exchange,
            parmi lesquels <strong><a href=\"https://stackoverflow.com/users/1493608/air-dex\">Stack Overflow</a></strong>
            et <a href=\"https://askubuntu.com/users/73938/air-dex\">Ask Ubuntu</a> (pour les questions
            li&eacute;es &agrave; <a href=\"https://ubuntu.com\">Ubuntu</a>).
            J'y r&eacute;pond &agrave; des questions de temps en temps, pour aider.
            Sans vouloir me vanter, il m'arrive parfois de fournir des r&eacute;ponses
            tr&egrave;s pertinentes pouvant obtenir des scores de plusieurs dizaines de points,
            avec un record &agrave; 352 points (au moment o&ugrave; j'&eacute;cris ces lignes)
            sur une question demandant
            <a href=\"https://askubuntu.com/questions/207442/how-to-add-open-terminal-here-to-nautilus-context-menu/207448#207448\">
            comment ouvrir un terminal Linux &agrave; partir du menu contextuel de Nautilus</a>."
        - service:
            name: 'Qt Forums'
            url: 'https://stackexchange.com/'
          me:
            name: 'air-dex'
            url: 'https://forum.qt.io/user/air-dex'
          more: "Le profil li&eacute; &agrave; mon compte Qt, que j'utilise pour du d&eacute;veloppement Qt."
        - service:
            name: 'Open Classrooms (anciennement le Site du Z&eacute;ro)'
            url: 'https://openclassrooms.com'
          me:
            name: 'ubuntero'
            url: 'https://openclassrooms.com/fr/members/pdbnqf8wz406'
          more: "Voici un bel exemple de profil tr&egrave;s ancien \"ante- air-dex\", sans mon pseudonyme
            habituel ni l'avatar qui va avec (cf. <a href=\"#air-dex\">plus haut</a>)."
        - service:
            name: 'Developpez.com'
            url: 'https://www.developpez.com'
          me:
            name: 'air-dex'
            url: 'https://www.developpez.net/forums/u384279/air-dex/'
        - service:
            name: 'Transifex'
            url: 'https://www.transifex.com'
          me:
            name: 'air_dex'
            url: 'https://www.transifex.com/user/profile/air_dex/'
          more: "Un site de traduction en ligne, notamment utilis&eacute; &agrave; l'&eacute;poque
            par le client Twitter <a href=\"https://github.com/dicksonleong/Tweetian\">Tweetian</a>
            dont j'ai collabor&eacute; &agrave; la traduction fran&ccedil;aise."
        - service:
            name: 'Packagist'
            url: 'https://packagist.org'
          me:
            name: 'air-dex'
            url: 'https://packagist.org/users/air-dex/'
    - title: 'R&eacute;seaux'
      outro: "Pas de profil Facebook. Je n'en ai pas et n'en ai m&ecirc;me jamais eu. Facebook
        est &agrave; mes yeux un r&eacute;seau social o&ugrave; se partage la vie priv&eacute;e
        avant tout. Or il y a <q>priv&eacute;</q> dans ma vie priv&eacute;e donc
        <a href=\"contact.html#contact-private\">cela ne vous regarde pas</a>."
      profiles:
        - service:
            name: 'Twitter'
            url: 'https://twitter.com'
          me:
            name: 'air_dex'
            url: 'https://twitter.com/air_dex'
          more: "Mon r&eacute;seau social principal, o&ugrave; je partage des choses dr&ocirc;les,
            des articles que je juge int&eacute;ressants et des opinions qui n'engagent que moi."
        - service:
            name: 'Flickr'
            url: 'https://www.flickr.com'
          me:
            name: 'Romain DUCHER (air-dex)'
            url: 'https://www.flickr.com/people/63324052@N05/'
          more: "L&agrave; o&ugrave; je mets les photos et images que je veux partager. Les
            <a href=\"contact.html#contact-private\">photos priv&eacute;es</a> y ont une
            visibilit&eacute; limit&eacute;e pour des raisons &eacute;videntes de confidentialit&eacute;."
        - service:
            name: 'YouTube'
            url: 'https://www.youtube.com'
          me:
            name: 'Romain DUCHER'
            url: 'https://www.youtube.com/channel/UCwYzp9iKKivR5Nx1MMN4grg'
          more: "Comme pour Flickr, mais pour les vid&eacute;os. C'est aussi une vieille
            cha&icirc;ne o&ugrave; j'avais pris le pseudonyme <a href=\"#air-dex\">air-dex</a>,
            mais qui a ensuite fusionn&eacute;e avec la partie YouTube de mon compte Google."
        - service:
            name: 'Spotify'
            url: 'https://spotify.com'
          me:
            name: 'air-dex'
            url: 'https://open.spotify.com/user/air-dex'
          more: "O&ugrave; je partage quelques playlists."
        - service:
            name: 'Tumblr'
            url: 'https://tumblr.com'
          me:
            name: 'air-dex'
            url: 'https://air-dex.tumblr.com'
          more: "Autrefois utilis&eacute; pour des publications longues,
            mais d&eacute;sormais inactif et plus utilis&eacute; du tout."
        - service:
            name: 'Vivaldi.net'
            url: 'https://vivaldi.net'
          me:
            name: 'airdex'
            url: 'https://forum.vivaldi.net/user/airdex'
          more: "Mon profil sur les forums de <a href=\"https://vivaldi.com\">Vivaldi</a>,
            le meilleur navigateur internet au monde."
        - service:
            name: 'Reddit'
            url: 'https://www.reddit.com'
          me:
            name: 'air-dex'
            url: 'https://www.reddit.com/user/air-dex'
    - title: 'R&eacute;seaux sociaux professionnels'
      profiles:
        - service:
            name: 'LinkedIn'
            url: 'https://www.linkedin.com'
          me:
            name: 'Romain DUCHER'
            url: 'https://www.linkedin.com/in/romainducher/'
        - service:
            name: 'JDN Viadeo'
            url: 'https://viadeo.journaldunet.com'
          me:
            name: 'Romain DUCHER'
            url: 'https://viadeo.journaldunet.com/p/romain-ducher-4917127'
    - title: 'Presse'
      intro: "Mes profils vers divers services de commentaires d'articles."
      profiles:
        - service:
            name: 'Disqus'
            url: 'https://disqus.com'
          me:
            name: 'air_dex'
            url: 'https://disqus.com/by/air_dex/'
          more: "Je suis ici sur tous les sites utilisant Disqus."
        - service:
            name: 'The Verge'
            url: 'https://www.theverge.com'
          me:
            name: 'air-dex'
            url: 'https://www.theverge.com/users/air-dex'
        - service:
            name: 'Jeuxvideo.com'
            url: 'https://www.jeuxvideo.com'
          me:
            name: 'air-dex'
            url: 'https://www.jeuxvideo.com/profil/air-dex'
          more: "J'interviens sur les forums des jeux o&ugrave; je peux aider des joueurs
            en d&eacute;tresse. J'&eacute;vite soigneusement les forums de blabla
            sans int&eacute;r&ecirc;tet souvent toxiques."
        - service:
            name: 'Le Phoc&eacute;en'
            url: 'https://lephoceen.fr'
          me:
            name: 'air-dex'
            url: 'https://forum.lephoceen.fr/members/air-dex.160176/'
          more: "J'utilise ce compte quand j'ai envie de parler de l'Olympique
            de Marseille en ligne, souvent dans les caf&eacute;s du commerce
            que sont les commentaires d'actualit&eacute;s."
        - service:
            name: 'Gameblog'
            url: 'https://www.gameblog.fr'
          me:
            name: 'air-dex'
            url: 'https://www.gameblog.fr/mygameblog/132532_air-dex/'
          more: "Comme pour Le Phoc&eacute;en, mais pour les jeux vid&eacute;o."
        - service:
            name: 'Gamekult'
            url: 'https://www.gamekult.com'
          me:
            name: 'air-dex'
            url: 'https://www.gamekult.com/forum/users/air-dex/summary'
    - title: 'Jeux Vid&eacute;o'
      intro: "Mes comptes gaming"
      profiles:
        - service:
            name: 'Steam'
            url: 'https://store.steampowered.com'
          me:
            name: 'air-dex (air_dex)'
            url: 'https://steamcommunity.com/id/air_dex/'
          more: "Tr&egrave;s utile pour jouer sur Linux."
        - service:
            name: 'GOG'
            url: 'https://www.gog.com'
          me:
            name: 'air-dex'
            url: 'https://www.gog.com/u/air-dex'
        - service:
            name: 'Xbox'
            url: 'https://xbox.com'
          me:
            name: 'Airdex One'
            url: 'https://account.xbox.com/fr-fr/profile?gamertag=Airdex%20One'
          more: "Principalement utilis&eacute; &agrave; l'&eacute;poque o&ugrave;
            J'avais un smartphone Lumia sous Windows Phone, pour les succ&egrave;s
            Xbox des jeux auxquels j'ai jou&eacute; dessus."
        - service:
            name: 'Twitch'
            url: 'https://www.twitch.tv/'
          me:
            name: 'air_dex'
            url: 'https://www.twitch.tv/air_dex'
          more: "Mon compte Twitch, qui me permet de centraliser ce que je regarde sur cette plateforme.
            Je n'y diffuse rien."
    - title: 'Autres services'
      profiles:
        - service:
            name: '<abbr title="Globally Recognized AVATAR">Gravatar</abbr>'
            url: 'https://gravatar.com'
          me:
            name: 'airdex'
            url: 'https://fr.gravatar.com/airdex'
          more: "Ma page Gravatar fit office de page Web officielle me concernant jusqu'&agrave;
            l'arriv&eacute;e de ce site. J'utilise mon Gravatar pour les commentaires propuls&eacute;s
            par WordPress, et donc pour WordPress aussi."
---
<h1 class="{{ main_class }}__title blabla__title page-title">Moi sur Internet</h1>
<p class="{{ main_class }}__chapo blabla__chapo chapo">
	O&ugrave; l'on peut me trouver sur Internet.
</p>

{% set main_illustration_caption %}
	<em>Painted big blue octopus</em>.
	Sous <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/deed.fr">licence CC BY-NC-ND 4.0</a>.
	<a href="https://pixy.org/1398975/">Source</a>.
{% endset %}

{{ include('layouts/article/illustration.twig.html', {
	image_source: "assets/img/octopus.jpg",
	image_alt: "Pieuvre, une t&ecirc;te et plein de tentacules qui y sont li&eacute;es",
	caption: main_illustration_caption,
	other_classes: [ 'blabla__illustration' ]
}) }}

<p class="{{ main_class }}__intro blabla__intro">
	<strong>Il n'y a qu'un seul moi sur Internet.</strong> Vous trouverez ici
	les liens vers mes profils sur diff&eacute;rents services, forums et
	r&eacute;seaux sociaux sur Internet.
	Nous allons donc ici parler des diff&eacute;rents "tentacules"
	rattach&eacute;s &agrave; ma t&ecirc;te sur le Web.<br/>
	Si un profil cens&eacute; me repr&eacute;senter n'est pas dans cette liste,
	cela signifie donc que ce n'est pas moi et qu'une personne mal intentionn&eacute;e
	cherche &agrave; se faire passer pour moi avec ce faux profil.<br/><br/>
	Enfin cette page vise &eacute;galement &agrave; m&acirc;cher le travail de
	ceux cherchant &agrave; me googliser. Si vous cherchez &agrave; me recruter et
	que vous &ecirc;tes tomb&eacute; sur cette page en cherchant &agrave; en
	savoir plus sur moi, je vous saurais gr&eacute; d'&ecirc;tre reconnaissant du
	temps que je vous fais &eacute;conomiser gr&acirc;ce &agrave; cette page. ;-)
</p>

<section id="air-dex" class="{{ main_class }}__section article-section">
	<h2 class="article-section__title">Le pseudo <q>air-dex</q> et l'avatar Midona</h2>

	<p class="article-section__intro">
		J'utilise souvent le pseudonyme <q>air-dex</q> quand je ne veux pas mettre
		explicitement mon nom et mon pr&eacute;nom. <strong>C'est pourquoi vous allez
		souvent retrouver ce terme dans les divers profils mentionn&eacute;s ici</strong>,
		avec des variantes orthographiques selon les contraintes orthographiques des sites
		et la possibilit&eacute; que le pseudonyme originel soit d&eacute;j&agrave; pris.
	</p>

	<p class="article-section__p">
		<strong>Pourquoi ce pseudonyme ?</strong> J'ai toujours ador&eacute; la fa&ccedil;on dont
		<a href="https://fr.wikipedia.org/wiki/Herg%C3%A9">Georges <q>Herg&eacute;</q> Remi</a>
		a construit le sien. Il est parti de ses initiales <q><abbr title="Remi GEORGES">RG</abbr></q>
		et les a stylis&eacute; en <q>Herg&eacute;</q>. J'ai voulu faire de m&ecirc;me.
		J'ai donc pris mes initiales, <q><abbr title="Romain DUCHER, pour ceux qui n'ont toujours pas compris
		le sujet de ce site Internet">RD</abbr></q>, et je leur ai appliqu&eacute; ce
		"tra&icirc;tement Herg&eacute;". Cela a donn&eacute; le pseudo <q>herdex</q> dans
		un premier temps, avant que je ne change le <q>her</q> en un <q>air</q> homophone.
		J'ai ensuite rajout&eacute; un tiret pour finir de styliser le tout.
	</p>

	<p class="article-section__p">
		<strong>J'utilise &eacute;galement souvent l'avatar Midona en guise d'image de
		profil associ&eacute;e au pseudonyme <q>air-dex</q>.</strong> Pourquoi cette image ?
		Je suis un tr&egrave;s grand fan de la licence
		<a href="https://fr.wikipedia.org/wiki/The_Legend_of_Zelda">The Legend of Zelda</a>.
		Ensuite j'ai également ador&eacute; le personnage de
		<a href="https://fr.wikipedia.org/wiki/Personnages_de_la_s%C3%A9rie_The_Legend_of_Zelda#Midona">Midona</a>
		dans <a href="https://fr.wikipedia.org/wiki/The_Legend_of_Zelda:_Twilight_Princess"><em>
		The Legend of Zelda: Twilight Princess</em></a>, dont Midona est le personnage &eacute;ponyme.
		Enfin j'aime bien sur cette image la mani&egrave;re dont Midona a l'air de s'interroger, de cogiter,
		sur ce cristal. La conjugaison de ces trois &eacute;l&eacute;ments font que j'ai
		d&eacute;cid&eacute; d'en faire mon avatar de pr&eacute;dilection.
	</p>

	{{ include('layouts/article/illustration.twig.html', {
		image_source: "assets/img/air-dex.jpg",
		image_alt: "air-dex avatar",
		caption: "L'avatar Midona de air-dex",
		other_classes: [ 'article-section__illustration' ]
	}) }}

	<p class="article-section__p">
		Il m'arrive d'utiliser d'autres avatars, sur des profils tr&egrave;s anciens ou pour
		lesquels je ne peux mettre l'avatar Midona. J'utilise &eacute;galement souvent ma propre
		t&ecirc;te sur les profils o&ugrave; je mets ma v&eacute;ritable identit&eacute;.
	</p>	
</section>

{# All the profiles! #}
{{ include('layouts/octopus/tentacles.twig.html', {
	tentacles: page.tentacles,
	other_classes: [ "%s__section"|format(main_class) ]
}) }}
