---
layout: layouts/page-article
main_class: playground
---
<h1 class="{{ main_class }}__title blabla__title page-title">The Playground</h1>
<p class="{{ main_class }}__chapo blabla__chapo chapo">
	O&ugrave; &ccedil;a parle moins de moi, mais o&ugrave; je m'exprime plus.
</p>

{% set main_illustration_caption %}
	<em>Lyc&eacute;e Fabert - cour de r&eacute;cr&eacute;ation</em>,
	par <a href="https://meta.wikimedia.org/wiki/User:Quentinv57?rdfrom=commons:User:Quentinv57">Quentinv57</a>.<br/>
	Sous <a href="https://creativecommons.org/licenses/by-sa/3.0/deed.en">licence CC BY-SA 3.0</a>.
	<a href="https://commons.wikimedia.org/wiki/File:Lyc%C3%A9e_Fabert_-_cour_de_r%C3%A9cr%C3%A9ation.jpg">Source</a>.
{% endset %}

{{ include( 'layouts/article/illustration.twig.html', {
	image_source: 'assets/img/the-playground.jpg',
	image_alt: "L'heure de ma r&eacute;cr&eacute;",
	caption: main_illustration_caption,
	other_classes: [ 'blabla__illustration', '%s__illustration'|format(main_class) ]
} )}}

<p class="{{ main_class }}__intro blabla__intro">
	Cette section est en quelque sorte "ma cour de r&eacute;cr&eacute;", d'o&ugrave;
	le nom (<em>playground</em> en anglais : <em>cour de r&eacute;cr&eacute;ation</em>).
</p>

<section class="{{ main_class }}__section article-section">
	<h2 class="article-section__title">Recommandations logicielles</h2>
	<p class="article-section__p">
		<a href="soft-advices.html">Cette page</a> liste les logiciels que
		j'utilise et recommande. Ce sont des logiciels dont je suis satisfait
		donc cela me permet de leur faire un petit peu de promotion,
		&agrave; mon &eacute;chelle. Cela me fait plaisir de parler d'eux.
	</p>
</section>

<section class="{{ main_class }}__section article-section">
	<h2 class="article-section__title">Page de construction</h2>
	<p class="article-section__p">
		<a href="under-construction.html">Cette page</a> fut la page d'accueil
		du site pendant son d&eacute;veloppement. Je la garde ici au cas o&ugrave;,
		et pour la vanne qui est dessus.
	</p>
</section>
