---
layout: layouts/page-article
main_class: software-advices
pc_scripts:
    - components/soft-advices/software-advice.js
    - components/soft-advices/filter-advices-form.js
    - pages/soft-advices.js
oslist:
    windows: 'Windows'
    mac: 'macOS'
    linux: 'Linux'
    ubuntu: 'Ubuntu'
    ios: 'iOS'
    android: 'Android'
    wp: 'Windows Phone'
    andsoon: 'mais pas que'
    other: 'Autres OS'
scatlist:
    browser: 'Navigateur Internet'
    office: 'Bureautique'
    mail: 'Clients de messagerie (courrielleurs)'
    messages: 'Clients de messagerie hors courrielleurs'
    image: 'Logiciels pour les images et les photos'
    games: 'Jeux'
    dev: 'D&eacute;veloppement informatique'
    music: 'Logiciels musicaux'
    video: 'Logiciels pour la vid&eacute;o'
    system: 'Logiciels li&eacute;s au syst&egrave;me d''exploitation'
    security: 'S&eacute;curit&eacute;'
    map: 'Logiciels de cartographie'
    weather: 'Consultation de la m&eacute;t&eacute;o'
    accessory: 'Accessoires'
    services: 'Services divers'
    other: 'Autres cat&eacute;gories'
ostags:
    - windows
    - linux
    - android
advices:
    - name: 'Vivaldi'
      advice_id: vivaldi
      scatags: [browser]
      ostags: [windows, linux, android]
      logo:
        url: 'assets/img/soft-advices/Vivaldi_web_browser_logo.svg'
        need_dark: false
      url: 'https://vivaldi.com'
      why: 'Il est tout simplement le meilleur navigateur Internet partout o&ugrave;
        il est disponible. Il y a fort longtemps j''&eacute;tais un grand fan
        d''<span class="o-opera">O</span>pera, de sa version 10.50 jusqu''&agrave;
        sa version 12.17, avant qu''il ne se d&eacute;grade suite &agrave; sa
        refonte sortie avec la version 15. J''adorais ce navigateur car il
        &eacute;tait rapide, innovant et avec une tr&egrave;s bonne exp&eacute;rience
        utilisateur. J''ai utilis&eacute; cet <span class="o-opera">O</span>pera
        l&agrave;tant que j''ai pu le faire, tant qu''il affichait bien les pages.
        Lorsque je suis pass&eacute; sous Windows 10, j''ai d&eacute;cid&eacute;
        de tester Microsoft Edge qui en &eacute;tait l''une des nouveaut&eacute;s.
        Entre temps j''avais entendu parler d''un certain
        "<a href="https://vivaldi.net">Vivaldi.net</a>" qui avait pour but
        de ressusciter le mythique <span class="o-opera">O</span>pera d''autrefois.
        Du coup j''ai voulu voir o&ugrave; ils en &eacute;taient et j''ai
        d&eacute;couvert qu''ils avaient parfaitement r&eacute;ussi &agrave; faire
        de leur navigateur <span class="o-opera">V</span>ivaldi un parfait
        successeur spirituel du vrai <span class="o-opera">O</span>pera.
        C''est ainsi qu''il est rapidement devenu mon navigateur par d&eacute;faut
        sur PC &agrave; la place de l''ennuyeux et lourd Firefox, puis
        ult&eacute;rieurement sur mobiles.<br/><br/>
        <span class="o-opera">V</span>ivaldi est un navigateur performant,
        tr&egrave;s personnalisable, tout en n''oubliant pas d''&ecirc;tre
        respectueux de la vie priv&eacute;e de ses utilisateurs. Il est sans
        compromis sur tout, l&agrave; o&ugrave; ses concurrents vont &ecirc;tre
        forts dans un domaine au d&eacute;triment d''un autre. Enfin l''entreprise
        derri&egrave;re le navigateur est &agrave; l''&eacute;coute de sa
        communaut&eacute;, r&eacute;ctive et transparente sur ses activit&eacute;s.
        Le navigateur est peut-&ecirc;tre propri&eacute;taire,
        (quoique c''est plut&ocirc;t faux en pratique), mais il n''a pas besoin
        d''&ecirc;tre libre pour s''acheter une cr&eacute;dibilit&eacute;.'
      oses: [windows, mac, linux, android]
    - name: 'LibreOffice'
      advice_id: libo
      scatags: [office]
      ostags: [windows, linux]
      logo:
        url: 'assets/img/soft-advices/LibreOffice_logo.svg'
        need_dark: false
      url: 'https://www.libreoffice.org'
      why: 'LibreOffice (<em>LibO</em> pour les intimes) est une suite bureautique
        compl&egrave;te et gratuite, capable de r&eacute;pondre aux besoins des
        personnes n''ayant pas une utilisation tr&egrave;s avanc&eacute;e des suites
        bureautiques. &Eacute;tant dans cette cat&eacute;gorie d''utilisateurs,
        j''ai d&eacute;cid&eacute; de m''investir davantage dedans parce que cela
        co&ucirc;te moins cher que Microsoft Office pour le m&ecirc;me usage &agrave;
        mon niveau.'
      oses: [windows, mac, linux, andsoon]
    - name: 'Microsoft Office'
      advice_id: msoffice
      scatags: [office]
      ostags: [windows]
      logo:
        url: 'assets/img/soft-advices/Microsoft_Office_logo.svg'
        need_dark: false
      url: 'https://www.office.com'
      why: 'La meilleure suite bureautique, tout simplement, avec une mention
        particuli&egrave;re pour son tableur Microsoft Excel. Elle convient &agrave; tout
        le monde. Le seul probl&egrave;me est son prix qui du coup plombe
        son rapport qualit&eacute;-prix. Est-ce que cela vaut le coup de mettre
        une centaine d''euros dedans si on n''en a pas une utilisation extr&ecirc;mement
        avanc&eacute;e sachant qu''il y a LibreOffice &agrave; c&ocirc;t&eacute; ?
        Je ne pense pas.'
      oses: [windows, mac, ios, android, wp]
    - name: 'KeePass 2'
      advice_id: keepass2
      scatags: [accessory, security]
      ostags: [windows, linux]
      logo:
        url: 'assets/img/soft-advices/KeePass_icon.svg'
        need_dark: false
      url: 'https://keepass.info'
      why: 'J''utilise un coffre-fort &agrave; mots de passe offline pour
        stocker et prot&eacute;ger mes mots de passe. C''est plus s&eacute;curis&eacute;
        que de les &eacute;crire quelque part en clair (sur un carnet ou un
        fichier textuel), cela peut &ecirc;tre utilis&eacute; ailleurs que dans
        le navigateur et j''ai plus la main sur la s&eacute;curit&eacute; de mes
        propre mots de passe qu''avec un gestionnaire en ligne comme Dashlane
        ou Lastpass.<br/><br/>
        KeePass a le m&eacute;rite d''offrir quelque chose qui est port&eacute;
        &agrave; peu pr&egrave;s partout, avec des coffres-forts dont le format
        de fichier est utilisable et utili&eacute; par d''autres logiciels sur
        beaucoup de plateformes. L''id&eacute;al pour moi qui suis quelqu''un de
        tr&egrave;s multiplateformes.'
      oses: [windows, mac, linux, andsoon]
    - name: 'KeePassDroid'
      advice_id: keepassdroid
      scatags: [accessory, security]
      ostags: [android]
      logo:
        url: 'assets/img/soft-advices/keepassdroid.jpg'
        need_dark: false
      url: 'http://www.keepassdroid.com'
      why: 'Un portage Android de KeePass, recommand&eacute; sur le site de
        KeePass et dont j''ai toujours &eacute;t&eacute; tr&egrave;s satisfait.
        L''application est disponible <a href="https://play.google.com/store/apps/details?id=com.android.keepass">ici</a>
        sur le Google Play Store.'
      oses: [android]
    - name: 'Mailbird'
      advice_id: mailbird
      scatags: [mail]
      ostags: [windows]
      logo:
        url: 'assets/img/soft-advices/Mailbird_logo.jpg'
        need_dark: false
      url: 'https://www.getmailbird.com'
      why: 'Un client de messagerie complet, performant, hors ligne et moderne.
        Il convient parfaitement &agrave; ce que j''attends d''un courrielleur
        en 2021 et &agrave; mon utilisation.'
      oses: [windows, mac]
    - name: 'FairEmail'
      advice_id: fairemail
      scatags: [mail]
      ostags: [android]
      logo:
        url: 'assets/img/soft-advices/FairEmail_logo.png'
        need_dark: false
      url: 'https://email.faircode.eu'
      why: 'Hors Windows et macOS, les clients de messagerie se r&eacute;partissent
        en deux cat&eacute;gories. D''un c&ocirc;t&eacute; il y a les clients
        avec une interface et une exp&eacute;rience utilisateur modernes, mais
        pas complets et avec des choses "cloud" peu claires concernant la vie
        priv&eacute;e des utilisateurs, passant par les serveurs priv&eacute;s
        des entreprises derri&egrave;re. De l''autre c&ocirc;t&eacute; il y a
        des courrielleurs certes plus complets et respectueux de la vie priv&eacute;e,
        mais dont l''interface et l''exp&eacute;rience utilisateurs repoussantes
        sont d''un autre temps (pour rester poli), souvent r&eacute;alis&eacute;es
        par des d&eacute;veloppeurs qui n''ont pas conscience de l''importance
        de l''exp&eacute;rience utilisateur dans un logiciel, ce qui finit par
        &ecirc;tre usant pour une utilisation au quotidien.<br/><br/>
        Heureusement il existe une poign&eacute;e de logiciels qui r&eacute;ussissent
        &agrave; r&eacute;unir le meilleur des deux cat&eacute;gories et ainsi
        &agrave; &ecirc;tre un courrielleur digne de ce nom. FairEmail et l''un
        de cela pour le plus grand bonheur des utilisateurs d''Android dont
        je fais partie.<br/><br/>
        L''application est disponible
        <a href="https://play.google.com/store/apps/details?id=eu.faircode.email">ici</a>
        sur le Google Play Store.'
      oses: [android]
    - name: 'Mozilla Thunderbird'
      advice_id: thunderbird
      scatags: [mail]
      ostags: [linux]
      logo:
        url: 'assets/img/soft-advices/Thunderbird_Logo.svg'
        need_dark: false
      url: 'https://www.thunderbird.net'
      why: 'Thunderbird n''est pas une recommandation &agrave; proprement parler
        mais un choix par d&eacute;faut, faute de mieux. Thunderbird souffre du
        probl&egrave;me des courrielleurs hors Windows et macOS dont je parle
        dans ma recommandation de FairEmail. Il fait partie de ces courrielleurs
        dat&eacute;s, avec un usage "&agrave; la papa". C''est bien pour un usage
        professionnel avec une seule adresse &agrave; g&eacute;rer, avec un tri
        des mails par dossiers et peu (ou pas) de spam. Mais pour un usage plus
        personnel avec plusieurs adresses et plus de spams c''est non.<br/><br/>
        Je le "recommande" sur Linux parce que c''est le moins pire, parce que
        Linux est plein de courrielleurs avec une exp&eacute;rience utilisateur
        d&eacute;plorable (Sylpheed, Claws Mail), parce que Geary a une bonne
        interface mais qui est loin d''&ecirc;tre complet et qui ressemble plus
        &agrave; la beta d''un bon client mail qu''&agrave; autre chose et parce
        que les autres clients de messagerie avec une bonne interface ont besoin
        de faire passer les donn&eacute;es de leurs utilisateurs par leurs
        serveurs (Mailspring, BlueMail). Mozilla Thunderbird est donc le meilleur
        faute de mieux.'
      oses: [windows, mac, linux]
    - name: 'Foxit Reader'
      advice_id: foxit
      scatags: [office]
      ostags: [windows, linux, android]
      logo:
        url: 'assets/img/soft-advices/FoxitReader.png'
        need_dark: false
      url: 'https://www.foxitsoftware.com/pdf-reader/'
      why: 'Un bon lecteur PDF qui fait le travail. Contrairement &agrave; Adobe
        Reader je trouve qu''il sait rester simple et il est multiplateforme.'
      oses: [windows, mac, linux, ios, android]
    - name: 'Calibre'
      advice_id: calibre
      scatags: [office]
      ostags: [windows, linux]
      logo:
        url: 'assets/img/soft-advices/Calibre_logo.png'
        need_dark: false
      url: 'bar.com'
      why: 'Un tr&egrave; bon gestionnaire d''eBooks et de liseuse &eacute;lectronique,
        avec &eacute;galement un bon lecteur de fichiers ePub. Il a certes une
        interface vieillotte, mais c''est moins d&eacute;rangeant que certains
        courrielleurs sous Linux.'
      oses: [windows, mac, linux]
    - name: 'VLC Media Player'
      advice_id: vlc
      scatags: [music, video]
      ostags: [windows, linux, android]
      logo:
        url: 'assets/img/soft-advices/VLC_Icon.svg'
        need_dark: false
      url: 'https://www.videolan.org/vlc'
      why: 'Le c&ocirc;ne de chantier le plus c&eacute;l&egrave;bre du monde.
        Sa bonne r&eacute;putation n''est pas usurp&eacute;e. C''est un excellent
        lecteur audio et vid&eacute;o. Il ne lui manque gu&eacute;re qu''un
        syst&egrave;me de gestion des biblioth&egrave;ques sur PC pour &ecirc;tre
        d&eacute;finitivement complet. Cerise sur le g&acirc;teau, c''est un
        logiciel fran&ccedil;ais.'
      oses: [windows, mac, linux, ios, android, wp, andsoon]
    - name: '<abbr title="GIMP Image Manipulation Program">GIMP</abbr>'
      advice_id: gimp
      scatags: [image]
      ostags: [windows, linux]
      logo:
        url: 'assets/img/soft-advices/The_GIMP_icon.svg.png'
        need_dark: false
      url: 'https://www.gimp.org'
      why: '&Agrave; l''instar de LibreOffice pour les suites bureautiques, GIMP
        pr&eacute;sente un meilleur rapport qualit&eacute;-prix que son
        c&eacute;l&egrave;bre concurrent Adobe Photoshop de par sa gratuit&eacute;.
        Il est largement suffisant pour des personnes ayant une utilisation peu
        avanc&eacute;e de la retouche d''image ou qui n''ont pas &agrave; partager
        des travaux avec des personnes utilisant Photoshop.'
      oses: [windows, mac, linux, andsoon]
    - name: 'Clementine'
      advice_id: clementine
      scatags: [music]
      ostags: [windows, linux]
      logo:
        url: 'assets/img/soft-advices/Clementine_logo.svg'
        need_dark: false
      url: 'https://www.clementine-player.org'
      why: 'J''ai &eacute;t&eacute; pendant longtemps un fan de
        <a href="https://fr.wikipedia.org/wiki/Songbird">Songbird</a> et
        Clementine est ce qui s''en rapproche le plus &agrave; mes yeux.<br/><br/>
        Le logiciel semble abandonn&eacute; &agrave; premi&egrave;re vue, mais
        il est en r&eacute;alit&eacute; encore actif &agrave; en juger par
        <a href="https://github.com/clementine-player/Clementine">sa page GitHub</a>.
        Son principal souci est en fait qu''il ne sort
        quasiment jamais de nouvelle version en bonne et due forme et qu''une
        version compil&eacute;e par ses propres soins s''impose si on veut un
        Clementine r&eacute;cent.<br/><br/>
        &Agrave; noter qu''il existe un fork nomm&eacute;
        <a href="https://www.strawberrymusicplayer.org">Strawberry</a> qui
        semble plus actif. &Agrave; voir ce qu''il donne.'
      oses: [windows, mac, linux]
    - name: 'Inkscape'
      advice_id: inkscape
      scatags: [image]
      ostags: [windows, linux]
      logo:
        url: 'assets/img/soft-advices/Inkscape_Logo.svg'
        need_dark: false
      url: 'https://inkscape.org'
      why: 'Mon logiciel de pr&eacute;dilection pour la cr&eacute;tion d''images
        vectorielles, au format SVG.'
      oses: [windows, mac, linux, andsoon]
    - name: 'Kdenlive'
      advice_id: kdenlive
      scatags: [video]
      ostags: [windows, linux]
      logo:
        url: 'assets/img/soft-advices/Kdenlive_logo.png'
        need_dark: false
      url: 'https://kdenlive.org'
      why: 'Mon logiciel de pr&eacute;dilection pour le montage vid&eacute;o
        quand je dois en faire. J''ai ador&eacute; la simplicit&eacute; de
        <a href="https://fr.wikipedia.org/wiki/Windows_Movie_Maker">Windows Movie Maker</a>
        par le pass&eacute; et je la retrouve en Kdenlive. Je le trouve
        &eacute;galement plut&ocirc;t robuste car je n''ai jamais eu de
        probl&egrave;mes de plantage du logiciel sur des vid&eacute;os en HD,
        contrairement &agrave; <a href="https://fr.wikipedia.org/wiki/OpenShot_Video_Editor">OpenShot</a>.'
      oses: [windows, mac, linux, andsoon]
    - name: 'GitKraken'
      advice_id: gitkraken
      scatags: [dev]
      ostags: [windows, linux]
      logo:
        url: 'assets/img/soft-advices/gitkraken-logo-dark-sq.png'
        need_dark: false
      url: 'https://www.gitkraken.com/git-client'
      why: 'C''est une interface graphique compl&egrave;te pour git. GitKraken
        &agrave; la fois fonctionnellement complet et agr&eacute;able quant &agrave;
        son interface, le tout en &eacute;tant multiplateforme. Cela rend git plus
        agr&eacute;able &agrave; utiliser qu''en ligne de commande. Il y en a
        d''autres sur macOS et Windows, mais c''est le seul sur Linux qui r&eacute;unit
        tous les crit&egrave;s.'
      oses: [windows, mac, linux]
    - name: 'Visual Studio Code'
      advice_id: vscode
      scatags: [dev]
      ostags: [windows, linux]
      logo:
        url: 'assets/img/soft-advices/Visual_Studio_Code_icon.svg'
        need_dark: false
      url: 'https://code.visualstudio.com'
      why: 'Si je ne devais garder qu''un seul &eacute;diteur de code sur mon PC
        alors ce serait lui. Il y aura toujours une ou plusieurs extensions VS Code pour
        d&eacute;velopper ce que l''on veut d&eacute;velopper. Ce n''est qu''un
        b&ecirc;te &eacute;diteur de code au premier abord, mais il peut &ecirc;tre
        aussi redoutable qu''un bon <abbr title="Environnement de D&eacute;veloppement
        Int&eacute;gr&eacute;">EDI</abbr> avec les extensions qui vont bien.<br/><br/>
        J''ai longtemps recommand&eacute; <a href="https://www.eclipse.org">Eclipse</a>
        pour cela, mais VS Code pr&eacute;sente l''avantage d''&ecirc;tre bien plus
        simple &agrave; maintenir. Mais les deux demeurent de v&eacute;ritables
        "tours de Babel" du d&eacute;veloppement informatique.'
      oses: [windows, mac, linux]
    - name: 'Notepad++'
      advice_id: npp
      scatags: [dev, accessory]
      ostags: [windows]
      logo:
        url: 'assets/img/soft-advices/Npp_Logo.svg'
        need_dark: false
      url: 'https://notepad-plus-plus.org'
      why: 'Un &eacute;diteur de code robuste pouvant supporter de tr&eacute;s
        gros fichiers sans sourciller. Un v&eacute;ritable tank &agrave; toute
        &eacute;preuve, pouvant en plus remplacer avantageusement le bloc-notes
        Windows. De plus Wine le prend bien en charge sur Windows.'
      oses: [windows]
    - name: 'Geany'
      advice_id: geany
      scatags: [dev, accessory]
      ostags: [linux]
      logo:
        url: 'assets/img/soft-advices/Geany_logo.svg'
        need_dark: false
      url: 'https://www.geany.org'
      why: 'Un &eacute;diteur de code robuste pouvant supporter de tr&eacute;s
        gros fichiers sans sourciller. Je le recommande sur Linux car Notepad++
        n''y est pas disponible. Notepad++ marche cependant tr&egrave;s bien
        sur Linux via Wine, mais Geany pr&eacute;nte l''avantage d''une version
        native sur ce syst&egrave;me d''exploitation.'
      oses: [windows, mac, linux]
    - name: 'Qt Creator'
      advice_id: qtcreator
      scatags: [dev]
      ostags: [windows, linux]
      logo:
        url: 'assets/img/soft-advices/logo_QC.jpg'
        need_dark: false
      url: 'https://www.qt.io/product/development-tools'
      why: 'L''<abbr title="Environnement de D&eacute;veloppement
        Int&eacute;gr&eacute;">EDI</abbr> de r&eacute;f&eacute;rence pour le
        d&eacute;veloppement Qt. Je le trouve &eacute;galement tr&egrave;s sympa
        pour du d&eacute;veloppement, C/C++ en g&eacute;n&eacute;ral.'
      oses: [windows, mac, linux, andsoon]
    - name: 'PyDev'
      advice_id: pydev
      scatags: [dev]
      ostags: [windows, linux]
      logo:
        url: 'assets/img/soft-advices/pydev_banner3.png'
        need_dark: false
      url: 'https://www.pydev.org'
      why: 'L''<abbr title="Environnement de D&eacute;veloppement
        Int&eacute;gr&eacute;">EDI</abbr> que je pr&eacute;f&egrave;re utiliser
        quand je d&eacute;veloppe en <a href="https://www.python.org">Python</a>.
        Quoique parler d''EDI est ici un abus de langage puisque PyDev est
        avant tout une extension pour <a href="https://www.eclipse.org">Eclipse</a>.'
      oses: [windows, mac, linux, andsoon]
    - name: 'IntelliJ IDEA'
      advice_id: inteiilj
      scatags: [dev]
      ostags: [windows, linux]
      logo:
        url: 'assets/img/soft-advices/IntelliJ_IDEA_Logo.svg'
        need_dark: false
      url: 'https://www.jetbrains.com/fr-fr/idea'
      why: 'C''est un <abbr title="Environnement de D&eacute;veloppement
        Int&eacute;gr&eacute;">EDI</abbr> que je recommande <strong> si on a
        le temps de prendre le temps de le param&eacute;trer comme il faut</strong>.
        C''est un logiciel qui est infernal &agrave; utiliser <cite>out of the
        box</cite>, mais qui est une v&eacute;ritable Rolls Royce s''il est
        param&eacute;tr&eacute; au poil, bien plus que les autres. &Agrave;
        vous de voir si vous avez vraiment envie de vous investir dedans,
        condition sine qua non pour en tirer sa quintessence.<br/><br/>
        Je parle ici d''IntelliJ, mais ceci est &eacute;galement valable pour
        tous les autres EDI de Jetbrains (PhpStorm, WebStorm, PyCharm...) et
        pour <a href="https://developer.android.com/studio/">Android Studio</a>.'
      oses: [windows, mac, linux]
    - name: 'Dependency Walker'
      advice_id: dwalker
      scatags: [dev]
      ostags: [windows]
      #logo:
      #  url: 'assets/img/soft-advices/dwicon.gif'
      #  need_dark: false
      url: 'https://www.dependencywalker.com'
      why: 'C''est un petit outil Windows tr&egrave;s utile pour savoir quelles
        d&eacute;pendances un ex&eacute;cutable Windows utilise. C''est tr&egrave;s
        utile pour conna&icirc;tre ses DLL manquantes.'
      oses: [windows]
    - name: 'PowerShell'
      advice_id: powershell
      scatags: [dev, system, accessory]
      ostags: [windows, linux]
      logo:
        url: 'assets/img/soft-advices/PowerShell_icon.png'
        need_dark: false
      url: 'https://microsoft.com/powershell'
      why: 'C''est mon &eacute;mulateur de terminal pr&eacute;f&eacute;r&eacute;.
        Je le trouve bien con&ccedil;u, avec Microsoft qui s''est pos&eacute;
        les bonnes questions afin de cr&eacute;er un terminal moderne.
        Il peut &eacute;galement utiliser toute la puissance de
        <a href="https://dotnet.microsoft.com">.NET</a> contrairement &agrave;
        <a href="https://fr.wikipedia.org/wiki/Bourne-Again_shell">BASH</a>,
        ce qui donne au passage des outils bien plus simples et
        agr&eacute;ables &agrave; utiliser pour certaines t&acirc;ches.'
      oses: [windows, mac, linux]
    - name: 'Cinnamon'
      advice_id: cinnamon
      scatags: [system]
      ostags: [linux]
      logo:
        url: 'assets/img/soft-advices/Cinnamon_logo.png'
        need_dark: false
      url: 'https://projects.linuxmint.com/cinnamon'
      why: 'Mon environnement de bureau de pr&eacute;dilection sur Linux, complet
        et tr&egrave;s personnalisable. Il est ce que GNOME 3 aurait d&ucirc;
        &ecirc;tre. Il fonctionne tr&egrave;s bien sur Ubuntu donc l''ubuntero
        que je suis ne va pas s''en priver.'
      oses: [linux, andsoon]
    - name: 'Yahoo M&eacute;t&eacute;o'
      advice_id: ymeteo
      scatags: [weather]
      ostags: [android]
      logo:
        url: 'assets/img/soft-advices/Ymeteo_logo.png'
        need_dark: false
      url: 'https://play.google.com/store/apps/details?id=com.yahoo.mobile.client.android.weather'
      why: 'Mon application de pr&eacute;dilection pour la m&eacute;t&eacute;o
        sur mon smartphone, avec un bon widget. Il ne lui manque gu&egrave;re
        que les alertes vigilance.'
      oses: [ios, android]
    - name: 'Nova Launcher'
      advice_id: nova
      scatags: [system]
      ostags: [android]
      logo:
        url: 'assets/img/soft-advices/Nova_logo.jpeg'
        need_dark: false
      url: 'https://help.teslacoilapps.com'
      why: 'Un lanceur d''application tr&egrave;s complet et extr&ecirc;mement
        personnalisable pour Android.<br/><br/>
        Il est disponible
        <a href="https://play.google.com/store/apps/details?id=com.teslacoilsw.launcher">ici</a>
        sur le Google Play Store.'
      oses: [android]
    - name: 'Shazam'
      advice_id: shazam
      scatags: [music, services]
      ostags: [android]
      logo:
        url: 'assets/img/soft-advices/Shazam_logo.svg'
        need_dark: false
      url: 'https://www.shazam.com'
      why: 'Parfait pour reconna&icirc;tre un morceau de musique.<br/><br/>
        L''application est disponible
        <a href="https://play.google.com/store/apps/details?id=com.shazam.android">ici</a>
        sur le Google Play Store.'
      oses: [windows, mac, ios, android, andsoon]
    - name: 'Gallery Pro Simple'
      advice_id: galleryprosimple
      scatags: [system, image]
      ostags: [android]
      logo:
        url: 'assets/img/soft-advices/simple_pro_gallery_icon.svg'
        need_dark: false
      url: 'https://www.simplemobiletools.com'
      why: 'Une gallerie de photos et de vid&eacute;os compl&egrave;te et avec
        une bonne interface, qui r&eacute;pond parfaitement &agrave; mes besoins
        sur mon smartphone.<br/><br/>
        L''application est disponible
        <a href="https://play.google.com/store/apps/details?id=com.simplemobiletools.gallery.pro">ici</a>
        sur le Google Play Store.'
      oses: [android]
    - name: 'Nemo'
      advice_id: nemo
      scatags: [system]
      ostags: [linux]
      logo:
        url: 'assets/img/soft-advices/nemo_logo.svg'
        need_dark: false
      url: 'https://projects.linuxmint.com/cinnamon/'
      why: 'C''est le gestionnaire de fichiers de Cinnamon, qui est ce que
        Nautilus (celui de GNOME 3, tiens donc !) devrait &ecirc;tre. Il est
        fonctionnellement complet et avec une bonne interface.'
      oses: [linux]
    - name: 'Solid Explorer'
      advice_id: solidexplorer
      scatags: [system]
      ostags: [android]
      logo:
        url: 'assets/img/soft-advices/solid_explorer_logo.png'
        need_dark: false
      url: 'http://neatbytes.com/solidexplorer'
      why: 'Mon gestionnaire de fichiers de pr&eacute;dilection sur Android.<br/><br/>
        L''application est disponible
        <a href="https://play.google.com/store/apps/details?id=pl.solidexplorer2">ici</a>
        sur le Google Play Store.'
      oses: [android]
    - name: 'TuneIn Radio'
      advice_id: tunein
      scatags: [music, services]
      ostags: [windows, android]
      logo:
        url: 'assets/img/soft-advices/TuneIn_Logo.svg'
        need_dark: false
      url: 'https://tunein.com'
      why: 'C''est un agr&eacute;gateur de webradios. Il poss&egrave;de un grand
        nombre de webradios des radios que j''&eacute;coute et donc me sert de
        radio, sans avoir de probl&egrave;mes dus &agrave; la qualit&eacute; de
        r&eacute;ception puisque cela passe par Internet.<br/><br/>
        L''application est disponible
        <a href="https://play.google.com/store/apps/details?id=tunein.player">avec</a> ou
        <a href="https://play.google.com/store/apps/details?id=radiotime.player">sans
        publicit&eacute;s</a> sur le Google Play Store.'
      oses: [windows, ios, android, wp]
    - name: 'Chrooma Keyboard'
      advice_id: chrooma
      scatags: [system]
      ostags: [android]
      logo:
        url: 'assets/img/soft-advices/chrooma_logo.jpg'
        need_dark: false
      url: 'http://www.loopsie.it'
      why: 'Le clavier le plus complet qu''il existe sur mobiles, avec notamment
        plus de trois pr&eacute;dictions de mots. Il est le digne h&eacute;ritier
        de feu Swype. De plus il sait se limiter &agrave; son r&ocirc;le de clavier
        mobile contrairement &agrave; celui de Google.<br/><br/>
        L''application est disponible
        <a href="https://play.google.com/store/apps/details?id=com.gamelounge.chroomakeyboard">ici</a>
        sur le Google Play Store.'
      oses: [ios, android]
    - name: 'Dropbox'
      advice_id: dropbox
      scatags: [services]
      ostags: [windows, linux, android]
      logo:
        url: 'assets/img/soft-advices/Dropbox_logo.svg'
        need_dark: false
      url: 'https://www.dropbox.com/'
      why: 'Un stockage cloud qui a le m&eacute;rite de ne as &ecirc;tre rattach&eacute;
        &agrave; un <abbr title="Google Apple Facebook Amazon Microsoft">GAFAM</abbr>.
        Il est aussi facilement multiplateformes.'
      oses: [windows, mac, linux, ios, android, wp, andsoon]
    - name: 'Feedly'
      advice_id: feedly
      scatags: [services, accessory]
      ostags: [android]
      logo:
        url: 'assets/img/soft-advices/Feedly-logo.png'
        need_dark: false
      url: 'https://feedly.com'
      why: 'Un service performant pour agr&eacute;ger ses flux RSS.'
      oses: [ios, android]
    - name: 'Microsoft OneNote'
      advice_id: onenote
      scatags: [office, services]
      ostags: [windows, android]
      logo:
        url: 'assets/img/soft-advices/Microsoft_Office_OneNote_logo.svg'
        need_dark: false
      url: 'http://www.onenote.com/'
      why: 'J''&eacute;tais autrefois un fervent utilisateur
        d''<a href="https://evernote.com">Evernote</a>, mais ils ont restreint
        leur offre gratuite. Je me suis retrouv&eacute; face &agrave; une offre
        trop restrictive donc je suis pass&eacute; &agrave; OneNote qui me
        permettait de continuer &agrave; faire la m&ecirc;me chose, mais
        gratuitement cette fois-ci.'
      oses: [windows, mac, ios, android]
    - name: 'Gasoil Now'
      advice_id: gasoilnow
      scatags: [accessory]
      ostags: [android]
      logo:
        url: 'assets/img/soft-advices/Gasoil_now_logo.jpg'
        need_dark: false
      url: 'https://play.google.com/store/apps/details?id=com.toj.gasnow'
      why: 'Une application simple et efficace pour trouver de l''essence au
        meilleur tarif autour de chez soi.'
      oses: [ios, android]
    - name: 'HERE WeGo'
      advice_id: here
      scatags: [services, map]
      ostags: [android]
      logo:
        url: 'assets/img/soft-advices/HERE_logo.svg'
        need_dark: false
      url: 'https://wego.here.com'
      why: 'Mon service de cartographie de pr&eacute;dilection, bonne alternative
        &agrave; Google Maps pour la navigation GPS.'
      oses: [ios, android, andsoon]
    - name: 'Microsoft Launcher'
      advice_id: mslauncher
      scatags: [system]
      ostags: [android]
      logo:
        url: 'assets/img/soft-advices/Microsoft_Launcher_app_icon.png'
        need_dark: false
      url: 'https://play.google.com/store/apps/details?id=com.microsoft.launcher'
      why: 'La meilleur alternative &agrave; Nova Launcher pour ceux ayant trop
        peur de l''immensit&eacute; des possibilit&eacute;es de personnalisation
        offertes par ce dernier. De plus le lanceur de Microsoft propose
        nativement la possibilit&eacute; d''avoir l''image Bing du jour en fond
        d''&eacute;cran, ce qui est toujours un bon argument.'
      oses: [android]
    - name: 'WordReference'
      advice_id: wordref
      scatags: [office, services]
      ostags: [android]
      logo:
        url: 'assets/img/soft-advices/WR_fbicon.png'
        need_dark: false
      url: 'https://www.wordreference.com'
      why: 'Un tr&egrave;s bon dictionnaire de traduction en ligne. Je le
        pr&eacute;f&egrave;re &agrave; Google Traduction pour la traduction
        d''un simple mot, parce que WordReference en pr&eacute;sente tous les sens.'
      oses: [ios, android]
    - name: 'Simon Tatham''s Portable Puzzle Collection'
      advice_id: sgtatham
      scatags: [games]
      ostags: [windows, linux, android]
      url: 'https://www.chiark.greenend.org.uk/~sgtatham/puzzles/'
      why: 'C''est un ensemble de petits jeux casual, par le cr&eacute;ateur
        de PuTTY. Beaucoup sont tr&egrave;s int&eacute;ressants et sont
        disponibles nativement (ou port&eacute;s) &agrave; peu pr&egrave;s
        partout.'
      oses: [windows, mac, linux, ios, android, wp, andsoon]
    - name: 'Microsoft Solitaire Collection'
      advice_id: mssolitaire
      scatags: [games]
      ostags: [windows, android]
      logo:
        url: 'assets/img/soft-advices/MS_Solitaire_logo.jpeg'
        need_dark: false
      why: 'Les jeux de cartes classiques de Microsoft.<br/><br/>
        L''application est disponible
        <a href="https://play.google.com/store/apps/details?id=com.microsoft.microsoftsolitairecollection">ici</a>
        sur le Google Play Store.'
      oses: [windows, ios, android]
    - name: 'Steam Play'
      advice_id: steamplay
      scatags: [games]
      ostags: [linux]
      url: 'https://support.steampowered.com/kb_article.php?ref=9439-QHKN-1308'
      why: 'Je recommande fortement Steam Play car c''est un tr&egrave;s bon
        outil qui prend &agrave; son compte la bidouille &agrave; r&eacute;aliser.
        pour qu''un jeu Windows tourne sur Linux. C''est beaucoup plus simple
        avec que sans et les performances des jeux jou&eacute;s via Steam Play
        est au rendez-vous.<br/><br/>
        Il y a &eacute;galement le site <a href="https://www.protondb.com">ProtonDB</a>
        qui fournit des retours d''utilisateurs et des solutions si le jeu ne
        tourne pas parfaitement.<br/><br/>
        Voil&agrave; un service qui tord le coup aux id&eacute;es re&ccedil;ues
        du jeu vid&eacute;o sur Linux, avec moins ou pas de bidouilles pour
        jouer normalement.'
      oses: [mac, linux]
    - name: 'Ubuntu'
      advice_id: ubuntu
      scatags: [system, other]
      ostags: [linux]
      logo:
        url: 'assets/img/soft-advices/Logo-ubuntu.svg'
        need_dark: false
      url: 'https://ubuntu.com'
      why: 'Ce n''est pas un logiciel &agrave; proprement parler, mais si je dois
        recommander une distribution Linux alors c''est bien Ubuntu.'
      oses: [linux, ubuntu]
    - name: 'XAMPP'
      advice_id: xampp
      scatags: [dev]
      ostags: [windows, linux]
      logo:
        url: 'assets/img/soft-advices/XAMPP_logo.svg'
        need_dark: false
      url: 'https://www.apachefriends.org'
      why: 'J''aime bien cette solution qui premet de regrouper ses outils de
        base pour le d&eacute;veloppement Web, notamment sur Linux o&ugrave;
        cela permet de ne pas en mettre partout dans les paquets install&eacute;s.'
      oses: [windows, mac, linux]
    - name: 'Audacity'
      advice_id: audacity
      scatags: [music]
      ostags: [windows, linux]
      logo:
        url: 'assets/img/soft-advices/Audacity_Logo_nofilter.svg'
        need_dark: false
      url: 'https://www.audacityteam.org/'
      why: 'Un tr&egrave;s bon logiciel pour la retouche sonore et l''extraction
        de bandes son de vid&eacute;os.'
      oses: [windows, mac, linux]
    - name: 'CCleaner'
      advice_id: ccleaner
      scatags: [system]
      ostags: [windows]
      logo:
        url: 'assets/img/soft-advices/CCleaner_logo_V4.png'
        need_dark: false
      url: 'https://www.ccleaner.com'
      why: 'Un tr&egrave;s bon utilitaire pour &eacute;liminer les fichiers
        superflus sur Windows, une r&eacute;f&eacute;rence dans son genre.'
      oses: [windows, mac, android]
    - name: 'Defraggler'
      advice_id: defraggler
      scatags: [system]
      ostags: [windows]
      logo:
        url: 'assets/img/soft-advices/defraggler_logo.png'
        need_dark: false
      url: 'https://www.ccleaner.com/defraggler'
      why: 'Un bon utilitaire de d&eacute;fragmentation pour Windows en cas de
        besoin de d&eacute;fragmentation, ce qui n''est peut-&ecirc;tre pas le
        cas de tous les types de disques durs de nos jours. Petit b&eacute;mol :
        le logiciel n''a pas re&ccedil;u de mise &agrave; jour depuis longtemps,
        ce qui peut indiquer un abandon potentiel.'
      oses: [windows]
    - name: 'PuTTY'
      advice_id: putty
      scatags: [system, dev]
      ostags: [windows]
      logo:
        url: 'assets/img/soft-advices/PuTTY_icon.png'
        need_dark: false
      url: 'https://www.chiark.greenend.org.uk/~sgtatham/putty'
      why: 'C''est un ensemble d''outils qui est tr&egrave;s utile pour
        g&eacute;rer SSH sur Windows, notamment pour l''utilisations d''outils
        tels que git. Ses composants les plus utiles sont Pageant pour
        l''authentification via les cl&eacute;s SSH, PuTTYgen pour cr&eacute;er
        des cl&eacute;s SSH et Plink pour la configuration de git sur Windows.
        Ceux qui y ont eu affaire sauront de quoi je parle.'
      oses: [windows]
    - name: '7-Zip'
      advice_id: 7zip
      scatags: [system]
      ostags: [windows]
      logo:
        url: 'assets/img/soft-advices/7ziplogo.svg'
        need_dark: false
      url: 'https://www.7-zip.org'
      why: 'Une Rolls Royce pour g&eacute;rer les archives et les fichiers
        compress&eacute;s, notamment sous Windows.'
      oses: [windows, mac, linux]
    - name: 'MSN M&eacute;t&eacute;o'
      advice_id: msnmeteo
      scatags: [weather]
      ostags: [windows, android, wp]
      logo:
        url: 'assets/img/soft-advices/msn_weather_logo.jpg'
        need_dark: false
      url: 'https://www.msn.com/fr-fr/meteo'
      why: 'Une autre tr&egrave;s bonne application pour consulter la
        m&eacute;t&eacute;o.<br/><br/>
        L''application est disponible
        <a href="https://play.google.com/store/apps/details?id=com.microsoft.amp.apps.bingweather">ici</a>
        sur le Google Play Store.'
      oses: [windows, ios, android, wp]
    - name: 'M&eacute;t&eacute;o France'
      advice_id: meteofrance
      scatags: [weather]
      ostags: [android]
      logo:
        url: 'assets/img/soft-advices/meteo_france_logo.svg'
        need_dark: false
      url: 'https://meteofrance.com'
      why: 'La meilleure application pour la m&eacute;t&eacute;o fran&ccedil;aise.
        <br/><br/>L''application est disponible
        <a href="https://play.google.com/store/apps/details?id=fr.meteo">ici</a>
        sur le Google Play Store.'
      oses: [ios, android]
    - name: 'PDF Split and Merge'
      advice_id: pdfsam
      scatags: [office]
      ostags: [windows, linux]
      logo:
        url: 'assets/img/soft-advices/PDFsam_Basic_logo.svg'
        need_dark: false
      url: 'https://pdfsam.org'
      why: 'L''application de r&eacute;f&eacute;rence pour la manipulation de
        fichiers PDF. Ils sont compl&eacute;mentaires avec Foxit Reader.'
      oses: [windows, mac, linux, andsoon]
    - name: 'Rufus'
      advice_id: rufus
      scatags: [accessory, system]
      ostags: [windows]
      logo:
        url: 'assets/img/soft-advices/Rufus-logo.png'
        need_dark: false
      url: 'https://rufus.ie'
      why: 'Le meilleur logiciel pour cr&eacute;er des cl&eacute;s USB bootables.
        Je n''ai pas trouver mieux pour cr&eacute;er mes cl&eacute;s USB Ubuntu
        quand je dois l''installer ou le r&eacute;installer.'
      oses: [windows]
    - name: 'FileZilla'
      advice_id: filezilla
      scatags: [dev]
      ostags: [windows, linux]
      logo:
        url: 'assets/img/soft-advices/FileZilla_logo.svg'
        need_dark: false
      url: 'https://filezilla-project.org'
      why: 'Le client FTP de r&eacute;f&eacute;rence, tout simplement.'
      oses: [windows, mac, linux, andsoon]
    - name: 'AirDroid'
      advice_id: airdroid
      scatags: [accessory]
      ostags: [android]
      logo:
        url: 'assets/img/soft-advices/airdroid_banner.png'
        need_dark: false
      url: 'https://airdroid.com'
      why: 'Un outil tr&egrave;s sympa pour pouvoir g&eacute;rer son smartphone
        &agrave; partir de son navigateur Internet. Point positif : on peut ne
        pas passer par les serveurs d''AirDroid.<br/><br/>
        L''application est disponible
        <a href="https://play.google.com/store/apps/details?id=com.sand.airdroid">ici</a>
        sur le Google Play Store.'
      oses: [ios, android]
    - name: 'Android Messages'
      advice_id: googlesms
      scatags: [messages]
      ostags: [android]
      logo:
        url: 'assets/img/soft-advices/Google_Messages_logo.svg'
        need_dark: false
      url: 'https://messages.google.com/'
      why: 'L''application la plus compl&egrave;te et la plus performante &agrave;
        mes yeux pour g&eacute;r&eacute;r ses SMS et MMS sur Android.<br/><br/>
        L''application est disponible
        <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.messaging">ici</a>
        sur le Google Play Store.'
      oses: [android]
    - name: 'Google Agenda'
      advice_id: gagenda
      scatags: [office, accessory]
      ostags: [android]
      logo:
        url: 'assets/img/soft-advices/Google_Calendar_icon.svg'
        need_dark: false
      url: 'https://calendar.google.com/'
      why: 'Mon application agenda de pr&eacute;dilection.<br/><br/>
        L''application est disponible
        <a href="https://play.google.com/store/apps/details?id=com.google.android.calendar">ici</a>
        sur le Google Play Store.'
      oses: [ios, android]
    - name: 'Google Actualit&eacute;s'
      advice_id: gactus
      scatags: [accessory]
      ostags: [android]
      logo:
        url: 'assets/img/soft-advices/Google_News_icon.png'
        need_dark: false
      url: 'https://news.google.com'
      why: 'Le meilleur agr&eacute;gateur d''actualit&eacute;s que j''ai
        trouv&eacute;. J''ai pendant longtemps pr&eacute;f&eacute;r&eacute;
        la solution de Microsoft, mais elle ne donne pas de lien vers l''article
        original, contrairement &agrave; la solution de Google.<br/><br/>
        L''application est disponible
        <a href="https://play.google.com/store/apps/details?id=com.google.android.apps.magazines">ici</a>
        sur le Google Play Store.'
      oses: [ios, android]
---
<h1 class="{{ main_class }}__title blabla__title page-title">Recommandations logicielles</h1>
<p class="{{ main_class }}__chapo blabla__chapo chapo">
	O&ugrave; il y a plein de bons logiciels.
</p>

<p class="{{ main_class }}__intro blabla__intro">
	Voici les logiciels que j'utilise sur diff&eacute;rentes plateformes et que
	je vous recommande chaudement tellement ils sont bien.
</p>

{{ include('layouts/soft-advices/soft-advices.twig.html', {
	scatlist: page.scatlist,
	oslist: page.oslist,
	scatags: page.scatlist|keys,
	ostags: page.ostags,
	faform_other_classes: ["%s__form"|format(main_class) ],
	advices: page.advices,
	sa_other_classes: [ "%s__section"|format(main_class) ]
}) }}
