---
layout: layouts/default
---
<img src="assets/img/VLC_Icon.svg"/>
<h1>Site en construction</h1>
<p>Le header, le footer, la <a href="403.html">403</a> et la <a href="404.html">404</a> sont l&agrave;. La pr&eacute;sentation et le portofolio sont en beta. Mais pas encore le reste.</p>
<p><a href="https://gitlab.com/air-dex/air-dex.gitlab.io"><strong>V</strong>oir <strong>L</strong>e <strong>C</strong>hantier</a></p>
