{#
	Default page layout, with the header, the content and the footer.

	Layout variables:
		- main_class: Main class for content.
			- In practice, layout value is overriden by page.main_class.
		- lv_styles: Layout's Vendor Styles, in an array.
			- Vendor styles used in all pages relying on this layout.
			- Values are locations relative to assets/css/vendors.
			- Style files extensions have to be written in the locations.
			- Default value is an array with Bootstrap's CSS only.
		- lc_styles: Layout's Custom Styles, in an array.
			- Styles used in all pages relying on this layout.
			- Values are locations relative to assets/css/.
			- Style files extensions must not to be written in the locations.
			- Default value is the piece of style corresponding to the layout.
				- [page.layout], corresponding to "/assets/css/{{page.layout}}.css"
		- lv_scripts: Layout's Vendor Scripts, in an array.
			- Vendor scripts used in all pages relying on this layout.
			- Values are locations relative to assets/js/vendors.
			- Script files extensions have to be written in the locations.
			- Default value is an array with both jQuery and Bootstrap's JS (in that very order).
		- lc_scripts: Layout's Custom Scripts, in an array.
			- JavaScript used in all pages relying on this layout.
			- Values are locations relative to assets/js.
			- Script files extensions have to be written in the locations
			- Default value is an empty array.

	Page variables, to write in pages' YAML frontmatters (page.*):
		- (page.)main_class: Main class for content.
		- (page.)pv_styles: Page's Vendor Styles, in an array.
			- Vendor styles used in this page only, i.e. not in the layout.
			- Values are maps with 2 entries
				- One entry per environment: dev & prod.
				- Values are locations.
					- Locations are relative to assets/css/vendors.
					- Style files extensions have to be written in the locations.
			- Default value is an empty array.
			- page.pv_styles should look like this :
					pv_styles:
						- { dev: 'foo/bar/bazdev.css', prod: 'foo/bar/bazprod.css' },
						- { dev: 'foo2/bar2/bazdev2.css', prod: 'foo2/bar2/bazprod2.css' }
						# And so on
		- (page.)pc_styles: Page's Custom Styles, in an array.
			- Custom page style.
			- Values are locations, relative to assets/css/.
			- Style files extensions must not be written in the locations.
			- Default value is the style relative to the page.
				- ["pages/%s"|format(page.filename|split('.html')[0])]
				- Corresponds to "assets/css/pages/{{ page.filename without html extension }}.css"
			- It is almost never required in the YAML frontmatter.
		- (page.)pv_scripts: Page's Vendor Scripts, in an array.
			- Vendor scripts used in this page only, i.e. not in the layout.
			- Values are maps with 2 entries
				- One entry per environment: dev & prod.
				- Values are locations.
					- Locations are relative to assets/js/vendors.
					- Script files extensions have to be written in the locations.
			- Default value is an empty array.
			- page.pv_scripts should look like this :
					pv_scripts:
						- { dev: 'foo/bar/bazdev.js', prod: 'foo/bar/bazprod.js' },
						- { dev: 'foo2/bar2/bazdev2.js', prod: 'foo2/bar2/bazprod2.min.js' }
						# And so on
		- (page.)pc_scripts: Page's Custom Scripts, in an array.
			- Page JavaScript.
			- Values are locations, relative to assets/js/.
			- Script files extensions must not be written in the locations.
			- Default value is an empty array.
				- No "pages/thepage.js" because there is not always JavaScript related to the whole page.

	Blocks:
		- body: Body content.
		- styles: Where style files are included.
		- scripts: Where script files are included.
		- header: Page header.
		- footer: Page footer.
		- content_wrapper: Block wrapping everything between the header and the footer.
		- main_content_wrapper: Block wrapping everything inside main#content.{{ (page.)main_class }}.
		- content: Mandatory "content" block required by Sculpin.
#}
<!doctype html>
<html>
<head>
	<title>{{site.title}}</title>
	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=yes,shrink-to-fit=no" />
	<link rel="icon" href="assets/img/rd-icon.svg" />
	{{ include("layouts/styles.twig.html") }}
	{{ include("layouts/scripts.twig.html") }}
</head>
<body>
{% block body %}
	{% block header %}{{ include("layouts/header.twig.html") }}{% endblock header %}
	{% block content_wrapper %}
	{% set main_class = page.main_class ?? main_class %}
	<main id="content" class="main-content {{ main_class }}">
		{% block main_content_wrapper %}{% block content '' %}{% endblock main_content_wrapper %}
	</main>
	{% endblock content_wrapper %}
	{% block footer %}{{ include("layouts/footer.twig.html") }}{% endblock footer %}
{% endblock body %}
</body>
</html>
