{#
	Section with an eFolio.

	Variables:
		- section_title: Section title, written in raw HTML.
		- efolio: the eFolio to display.
			- Array of eFolio elements.
			- See 'components/it-project' for what an eFolio element consists in.
		- other_classes: Other CSS for root element.
#}
{% set root_class = 'efolio-section' %}
{% set root_classes = [ root_class, 'blabla__section', 'article-section' ]|merge(other_classes ?? []) %}
<section class="{{ root_classes|join(' ') }}">
	<h2 class="{{ root_class }}__title article-section__title">{{ section_title|raw }}</h2>
	<div class="{{ root_class }}__projects">
	{% for itproj in efolio %}
		{{ include('components/it-project.twig.html', {
			title: itproj.title,
			urls: itproj.urls,
			project_date: itproj.project_date,
			project_logo: itproj.project_logo,
			description: itproj.description,
			my_roles: itproj.my_roles,
			technologies: itproj.technologies,
			other_classes: [
				'%s__efolio'|format(root_class),
				'article-section__widget'
			]
		}) }}
	{% endfor %}
	</div>
</section>
