{% extends 'layouts/default.twig.html' %}

{# Keeping parent's Layout Custom Style #}
{% set lc_styles = ['layouts/default', 'layouts/p40x'] %}
{% set main_class = 'p404' %}

{% block content %}
	<div class="{{ main_class }}__pages">
		{{ include("components/p40x.twig.html", { page_num: 3, page_display: 4 }) }}
		{{ include("components/p40x.twig.html", { page_num: 4, page_display: 0, vanished_num: page.error_num }) }}
		{{ include("components/p40x.twig.html", { page_num: 5, page_display: page.error_num }) }}
	</div>
	<h1 class="{{ main_class }}__caption">{{ caption }}</h1>
	<p class="{{ main_class }}__chapo chapo">{{ chapo }}</p>
	<p class="{{ main_class }}__gotohome">{{ gotohome }}</p>
{% endblock content %}
