{#
	Layout for pages with an article.

	It inherits the default layout so all its variables and blocks are also
	this layout's.

	Layout variables:
		- article_attr: HTML attributes for <article>.
			- TODO: merge avec ceux spécifiques à une page.
		- more_article_classes: Additional classes for <article>.

	Page variables: None

	Blocks:
		- main_content_wrapper: default layout's "main_content_wrapper" block.
		- before_article: Stuff to put before the <article> element.
		- after_article: Stuff to put after the <article> element.
		- content: Mandatory Sculpin's "content block".
#}
{% extends 'layouts/default.twig.html' %}

{% if main_class is not defined %}
	{% set main_class = page.main_class %}
{% endif %}

{# Keeping parent's Layout Custom Style #}
{% if lc_styles is not defined %}
	{% set lc_styles = [
		'layouts/default',
		'layouts/page-article'
	] %}
{% endif %}

{# Article classes #}
{% if more_article_classes is not defined %}
	{% set more_article_classes = [] %}
{% endif %}
{% set article_classes = ['%s__blabla'|format(main_class), "blabla"]|merge(more_article_classes) %}

{% block main_content_wrapper %}
	{% block before_article '' %}
	<article
		class="{{ article_classes|join(' ') }}"
	{% for attr_name, attr_val in article_attr %}
		{{ attr_name }}="{{ attr_val }}"
	{% endfor %}
	>
		{% block content '' %}
	</article>
	{% block after_article '' %}
{% endblock main_content_wrapper %}
