{#
	Several variables:
		- lv_scripts: JS related to vendors in page layout.
			- jQuery then Bootstrap bundle (Popper.js + Bootstrap) by default.
		- pv_scripts: Specific third-party JS libraries required by pages.
		- lc_scripts: Own JS related to the page layout.
		- pc_scripts: Own JS related to the page's specific content.

	Layouts should define lv_scripts and lc_scripts variables (likely in {% set %} tags).
	Pages should define pv_scripts and pc_scripts in the YAML frontmatter.
		- For each script, an object must be defined with namefiles indexed by the environment.
		  It should be done in site config, but page.* values cannot used anchors defined for site.* values.
#}
{% block scripts %}
	{# Layout vendors scripts #}
	{% for lv_script in lv_scripts ?? [site.assets.js.jquery, site.assets.js.bootstrap]  %}
		<script src="assets/js/vendors/{{lv_script}}"></script>
	{% endfor %}
	{# Page vendors scripts #}
	{% for pv_script in page.pv_scripts ?? []  %}
		<script src="assets/js/vendors/{{pv_script[site.env]}}"></script>
	{% endfor %}
	{# Layout custom scripts #}
	{% for lc_script in lc_scripts ?? [] %}
		<script src="assets/js/{{lc_script}}"></script>
	{% endfor %}
	{# Page custom scripts #}
	{% for pc_script in page.pc_scripts ?? []  %}
		<script src="assets/js/{{pc_script}}"></script>
	{% endfor %}
{% endblock scripts %}
