{#
	Several template variables:
		- lv_styles: CSS related to vendors in page layout.
			- Bootstrap by default.
		- pv_styles: Third-party CSS libraries required by pages.
		- lc_styles: Own CSS related to the page layout.
			- Paths to the CSS in assets/css/.
			- It consists in the path + the name without extension.
			- It is often equal to "page.layout", so it is the default value.
		- pc_styles: Own CSS related to the page's specific content.
			- Paths to the CSS in assets/css/.
			- It consists in the page path + the name without the (Markdown) extension.
			- It is often equal to "pages/{{page.filename|split('.html')[0]}}.css", so it is the default value.

	Layouts should define lv_styles and lc_styles variables (likely in {% set %} tags).
	Pages should define pv_styles and pc_styles in the YAML frontmatter.
		- For each stylesheet, an object must be defined with namefiles indexed by the environment.
		  It should be done in site config, but page.* values cannot used anchors defined for site.* values.
#}
{% block style %}
	{# Layout vendors styles #}
	{% for lv_style in lv_styles ?? [site.assets.css.bootstrap]  %}
		<link rel="stylesheet" href="assets/css/vendors/{{lv_style}}" />
	{% endfor %}
	{# Page vendors styles #}
	{% for pv_style in page.pv_styles ?? []  %}
		<link rel="stylesheet" href="assets/css/vendors/{{pv_style[site.env]}}" />
	{% endfor %}
	{# Layout custom styles #}
	{% for lc_style in lc_styles ?? [page.layout] %}
		<link rel="stylesheet" href="assets/css/{{lc_style}}.css" />
	{% endfor %}
	{# Page custom styles #}
	{% for pc_style in page.pc_styles ?? ["pages/%s"|format(page.filename|split('.html')[0])]  %}
		<link rel="stylesheet" href="assets/css/{{pc_style}}.css" />
	{% endfor %}
{% endblock style %}
