{#
	Variables:
		- date: Event date.
		- name: Event name.
		- desc: Event description.
#}
{# TODO: debug style, improving it. #}
<div class="timeline__item">
	<div class="timeline__content card life-event">
		<div class="card-header life-event__header">
			<h5 class="card-subtitle life-event__name">{{ name|raw }}</h5>
		</div>
		<div class="card-body life-event__body">
			<h4 class="card-title life-event__date">{{ date|raw }}</h4>
			<p class="card-text life-event__description">{{ description|raw }}</p>
		</div>
	</div>
</div>
