{#
	Variables:
		life_events: List of life events.
		other_classes: Array with other classes.
#}
{% set tl_classes = ['timeline']|merge(other_classes) %}
<div class="{{ tl_classes|join(' ') }}">
	<div class="timeline__wrap">
		<div class="timeline__items">
			{% for life_event in life_events %}
				{{ include('components/timeline/life-event.twig.html', life_event) }}
			{% endfor %}
		</div>
	</div>
</div>
